<div class="container">
    <div class="row top-buffer" >
        <div class="col-md-12">
            <ol class="breadcrumb">
                <li>
                    <span><a [routerLink]="['/lookups']">Lookups</a></span>
                </li>
                <!--<li *ngIf="report != null" class="active">{{getReportDateShortFormatted(report.reportDate)}}</li>-->
                <li class="active">Portfolio VaRs</li>
            </ol>
        </div>
    </div>
    <div class="row withpadding" style="min-height: 100%">

        <div class="row top-buffer" *ngIf="errorMessage != null || successMessage != null">
            <div class="col-md-12">
                <div class="alert alert-danger" *ngIf="errorMessage != null"><span>{{errorMessage}}</span>
                </div>
                <div class="alert alert-info" *ngIf="successMessage != null"><span>{{successMessage}}</span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="col-md-1 col-md-offset-11">
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <a class="btn-sm btn-primary" id="openCurrencyModalButton" data-toggle="modal" data-target="#addNewModal" (click)="edit()"
                           style="cursor: pointer; margin-left: 26px">
                            <!--<span class="glyphicon glyphicon-edit"></span>-->Add
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <br>

        <div class="jumbotron">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-3">
                        <label for="portfolioVarCodeParam">Type</label>
                        <select class="form-control" style="width: 100%" [(ngModel)]="searchParams.portfolioVarCode" id="portfolioVarCodeParam"
                                [ngModelOptions]="{standalone: true}">
                            <option *ngFor="let type of portfolioVarTypes" [value]="type.code">{{type.nameEn}}</option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <label for="fromDateDTPickeer">From</label>
                        <div class='input-group date col-md-3' id='fromDateDTPickeer' style="width: 100%">
                            <input type='text' class="form-control" id="fromDate" [(ngModel)]="searchParams.fromDate"/>
                            <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <label for="untilDateDTPickeer">To</label>
                        <div class='input-group date col-md-3' id='untilDateDTPickeer' style="width: 100%">
                            <input type='text' class="form-control" id="toDate" [(ngModel)]="searchParams.toDate"/>
                            <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <br/>
            <div class="row">
                <button type="button"class="btn-xs btn-default pull-left" (click)="clearSearchForm()">
                    <!--<i class="glyphicon glyphicon-trash"></i>-->Reset
                </button>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <button type="button" class="btn btn-success pull-right" (click)="search()">Search</button>
                </div>
            </div>
        </div>
        <div>
            <label>Total found: <span>{{searchResults?.totalElements > 0 ?  searchResults?.totalElements : 0}}</span></label>
        </div>

        <div class="row">
            <div class="row pull-right">
                <ul class="pagination" *ngIf="searchResults?.showPageFrom > 0">
                    <li><a *ngIf="searchResults?.showPageFrom > 1" (click)="search(searchResults.showPageFrom - 1)">&laquo;</a></li>
                    <li *ngFor="let i of range(searchResults.showPageFrom, searchResults.showPageTo)" [class.active]="i == searchResults.currentPage">
                        <a (click)="search(i)">{{i}}</a>
                    </li>
                    <li><a *ngIf="searchResults.showPageTo < searchResults.totalPages" (click)="search(searchResults.showPageTo + 1)">&raquo;</a></li>
                </ul>
            </div>

            <table [ngBusy]="busy" class="table table-hover">
                <thead>
                <tr>
                    <th>DATE</th>
                    <th>TYPE</th>
                    <th>VALUE</th>
                    <th>&nbsp;</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let item of searchResults?.portfolioVars">
                    <td>{{item.date}}</td>
                    <td>{{item?.portfolioVar?.nameEn}}</td>
                    <td>{{item.value}}</td>
                    <td>
                        <button type="button" class="btn-xs btn-success" style="display: inline-block"
                                data-toggle="modal" data-target="#addNewModal" (click)="edit(item)">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>

            <div class="row pull-right">
                <ul class="pagination" *ngIf="searchResults?.showPageFrom > 0">
                    <li><a *ngIf="searchResults?.showPageFrom > 1" (click)="search(searchResults.showPageFrom - 1)">&laquo;</a></li>
                    <li *ngFor="let i of range(searchResults.showPageFrom, searchResults.showPageTo)" [class.active]="i == searchResults.currentPage">
                        <a (click)="search(i)">{{i}}</a>
                    </li>
                    <li><a *ngIf="searchResults.showPageTo < searchResults.totalPages" (click)="search(searchResults.showPageTo + 1)">&raquo;</a></li>
                </ul>
            </div>
        </div>


        <div class="modal fade" id="addNewModal" role="dialog">
            <div class="modal-dialog" style="overflow-y: scroll; max-height:85%;  margin-top: 50px; margin-bottom:50px; width:65%;">
                <div class="modal-content" style="min-height: 400px">
                    <div class="modal-header">
                        <h3 class="modal-title"  style="word-wrap: break-word">Enter new portfolio VaR value</h3>
                    </div>
                    <div class="modal-body">

                        <div class="row top-buffer" >
                            <div class="col-md-12">
                                <div class="alert alert-danger" *ngIf="errorMessageSavePortfolioVar != null"><span style="white-space: pre-wrap">{{errorMessageSavePortfolioVar}}</span>
                                </div>
                                <div class="alert alert-info" *ngIf="successMessageSavePortfolioVar != null"><span>{{successMessageSavePortfolioVar}}</span>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-4">
                                    <label>Date</label>
                                    <div class='input-group date' id='valueDateDTPickeer' style="width: 100%">
                                        <input type='text' required class="form-control" id="valueDate" [(ngModel)]="selectedPortfolioVar.date"/>
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <label>Portfolio VaR</label>
                                    <select class="form-control" required style="width: 100%" [(ngModel)]="selectedPortfolioVar.portfolioVar.code"
                                            [ngModelOptions]="{standalone: true}">
                                        <option *ngFor="let type of portfolioVarTypes" [value]="type.code">{{type.nameEn}}</option>
                                    </select>
                                </div>
                                <div class="col-md-3">
                                    <label>Value</label>
                                    <input type="number" required class="form-control" placeholder="Enter value..." [(ngModel)]="selectedPortfolioVar.value"/>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" (click)="save()">Save</button>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" (click)='closePortfolioVarEditModal()' data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

<!--        <div class="modal fade" id="portfolioVarUploadModal" role="dialog">-->
<!--            <div class="modal-dialog" style="overflow-y: scroll; max-height:85%;  margin-top: 50px; margin-bottom:50px;">-->
<!--                <div class="modal-content">-->
<!--                    <div class="modal-header">-->
<!--                        <button type="button" class="close" data-dismiss="modal">&times;</button>-->
<!--                        &lt;!&ndash;<h3 class="modal-title" >HEADER</h3>&ndash;&gt;-->
<!--                    </div>-->
<!--                    <div class="modal-body">-->
<!--                        <div class="alert alert-danger" *ngIf="portfolioVarUploadModalErrorMessage != null"><span>{{portfolioVarUploadModalErrorMessage}}</span></div>-->
<!--                        <div class="alert alert-info" *ngIf="portfolioVarUploadModalSuccessMessage != null"><span>{{portfolioVarUploadModalSuccessMessage}}</span></div>-->
<!--                        <br/>-->
<!--                        <div>-->
<!--                            <label>Portfolio VaR</label>-->
<!--                            <select class="form-control" required style="width: 100%" [(ngModel)]="uploadPortfolioVarCode" id="uploadPortfolioVarCode"-->
<!--                                    [ngModelOptions]="{standalone: true}">-->
<!--                                <option *ngFor="let type of portfolioVarTypes" [value]="type.code">{{type.nameEn}}</option>-->
<!--                            </select>-->
<!--                        </div>-->
<!--                        <br/>-->
<!--                        <div>Format: <span style="font-weight: bold">date [tab] return </span></div>-->
<!--                        <div>-->
<!--                            Date format: <span style="font-weight: bold">dd.mm.yyyy</span>-->
<!--                        </div>-->
<!--                        <div>-->
<!--                            Return format: <span style="font-weight: bold">xx.xxxx</span>-->
<!--                        </div>-->
<!--                        <textarea class="form-control" placeholder="Paste values here..."-->
<!--                                  name="uploadedValues" [(ngModel)]="uploadedValues"></textarea>-->
<!--                    </div>-->
<!--                    <div class="modal-footer">-->
<!--                        <button type="button" class="btn btn-default pull-left" data-dismiss="modal" (click)='closePortfolioVarUploadModal()'>Close</button>-->
<!--                        <button type="button" class="btn btn-success pull-right" (click)="()">Save</button>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
    </div>
</div>