
<script inline="javascript" type="text/javascript">
    /*<![CDATA[*/
    $(document).on('hidden.bs.modal', function (e) {
        $(e.target).removeData('bs.modal');
    });
</script>


<div class="container">
    <div class="row withpadding">
        <a [routerLink]="['/news/edit']" class="btn btn-primary pull-right" *ngIf="showNewsCreateButton()">Add News</a>
    </div>
    <ul class="nav nav-tabs">
        <li class="active">
            <a data-toggle="tab" href="#general">GENERAL</a>
        </li>
        <li>
            <a data-toggle="tab" href="#private_equity">PRIVATE EQUITY</a>
        </li>
        <li>
            <a data-toggle="tab" href="#hedge_funds">HEDGE FUNDS</a>
        </li>
        <li>
            <a data-toggle="tab" href="#sovereign_wealth_funds">SOVEREIGN WEALTH FUNDS</a>
        </li>
        <li>
            <a data-toggle="tab" href="#real_estate">REAL ESTATE</a>
        </li>
        <li>
            <a data-toggle="tab" href="#risk_management">RISK MANAGEMENT</a>
        </li>
        <li>
            <a data-toggle="tab" href="#national_bank">NATIONAL BANK</a>
        </li>
    </ul>
    <div class="row withpadding" style="position: relative; min-height: 80px;">
        <div [ngBusy]="busy" class="tab-content">
            <div id="general" class="tab-pane fade in active">
                <div id="general_content">
                    <div class="row withpadding" *ngFor = "let news of newsList">
                        <div class="col-md-12" *ngIf = "news.type == 'GENERAL'">
                            <div class="row">
                                <a [routerLink]="['/news/view/', news.id]"><h4>{{news.header}}</h4></a>
                            </div>
                            <div class="row">
                                <h4><small>{{news.source}}</small></h4>
                            </div>
                            <div class="row">
                                <p>{{news.shortContent}}</p>
                            </div>
                            <div class="row">
                                <div class="col-md-1">
                                    <a class="btn btn-info btn-sm" data-toggle="modal"
                                       (click) = "getNewsById(news.id)" data-target="#newsModal">view</a>
                                </div>
                                <div class="col-md-2 pull-right">
                                    <!--<input name="rating_stars" type="number" class="rating"/>-->
                                </div>
                            </div>
                            <div class="row">
                                <hr style="border-top: 1px solid #B5AEAE"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row withpadding">
                    <div id="loadmoreajaxloader_general" style="display:none;" class="center-block">
                        <!--<img src="app/static/img/ajax-loader.gif" height="42" width="42"/>-->
                    </div>
                    <div id="moreBtn_general">
                        <button class="btn btn-default" (click)="loadMore('GENERAL')" *ngIf="isShowMoreButton('GENERAL')">More</button>
                        <div *ngIf="!isShowMoreButton('GENERAL')">No more posts to show</div>
                    </div>
                </div>
            </div>
            <div id="private_equity" class="tab-pane fade">
                <div id="private_equity_content">
                    <div class="row withpadding" *ngFor = "let news of newsList">
                        <div class="col-md-12" *ngIf = "news.type == 'PE'">
                            <div class="row">
                                <a [routerLink]="['/news/view/', news.id]"><h4>{{news.header}}</h4></a>
                            </div>
                            <div class="row">
                                <h4><small>{{news.source}}</small></h4>
                            </div>
                            <div class="row">
                                <p>{{news.shortContent}}</p>
                            </div>
                            <div class="row">
                                <div class="col-md-1">
                                    <a class="btn btn-info btn-sm" data-toggle="modal"
                                       (click) = "getNewsById(news.id)" data-target="#newsModal">view</a>
                                </div>
                                <div class="col-md-2 pull-right">
                                    <!--<input name="rating_stars" type="number" class="rating"/>-->
                                </div>
                            </div>
                            <div class="row">
                                <hr style="border-top: 1px solid #B5AEAE"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div id="loadmoreajaxloader_private_equity" style="display:none;" class="center-block">
                        <!--<img src="app/static/img/ajax-loader.gif" height="42" width="42"/>-->
                    </div>
                    <div id="moreBtn_private_equity">
                        <button class="btn btn-default" (click)="loadMore('PE')" *ngIf="isShowMoreButton('PE')">More</button>
                        <div *ngIf="!isShowMoreButton('PE')">No more posts to show</div>
                    </div>
                </div>
            </div>
            <div id="hedge_funds" class="tab-pane fade">
                <div id="hedge_funds_content">
                    <div class="row withpadding" *ngFor = "let news of newsList">
                        <div class="col-md-12" *ngIf = "news.type == 'HF'">
                            <div class="row">
                                <a [routerLink]="['/news/view/', news.id]"><h4>{{news.header}}</h4></a>
                            </div>
                            <div class="row">
                                <h4><small>{{news.source}}</small></h4>
                            </div>
                            <div class="row">
                                <p>{{news.shortContent}}</p>
                            </div>
                            <div class="row">
                                <div class="col-md-1">
                                    <a class="btn btn-info btn-sm" data-toggle="modal"
                                       (click) = "getNewsById(news.id)" data-target="#newsModal">view</a>
                                </div>
                                <div class="col-md-2 pull-right">
                                    <!--<input name="rating_stars" type="number" class="rating"/>-->
                                </div>
                            </div>
                            <div class="row">
                                <hr style="border-top: 1px solid #B5AEAE"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div id="loadmoreajaxloader_hedge_funds" style="display:none;" class="center-block">
                        <!--<img src="app/static/img/ajax-loader.gif" height="42" width="42"/>-->
                    </div>
                    <div id="moreBtn_hedge_funds">
                        <button class="btn btn-default" (click)="loadMore('HF')" *ngIf="isShowMoreButton('HF')">More</button>
                        <div *ngIf="!isShowMoreButton('HF')">No more posts to show</div>
                    </div>
                </div>
            </div>
            <div id="sovereign_wealth_funds" class="tab-pane fade">
                <div id="sovereign_wealth_funds_content">
                    <div class="row withpadding" *ngFor = "let news of newsList">
                        <div class="col-md-12" *ngIf = "news.type == 'SWF'">
                            <div class="row">
                                <a [routerLink]="['/news/view/', news.id]"><h4>{{news.header}}</h4></a>
                            </div>
                            <div class="row">
                                <h4><small>{{news.source}}</small></h4>
                            </div>
                            <div class="row">
                                <p>{{news.shortContent}}</p>
                            </div>
                            <div class="row">
                                <div class="col-md-1">
                                    <a class="btn btn-info btn-sm" data-toggle="modal"
                                       (click) = "getNewsById(news.id)" data-target="#newsModal">view</a>
                                </div>
                                <div class="col-md-2 pull-right">
                                    <!--<input name="rating_stars" type="number" class="rating"/>-->
                                </div>
                            </div>
                            <div class="row">
                                <hr style="border-top: 1px solid #B5AEAE"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div id="loadmoreajaxloader_sovereign_wealth_funds" style="display:none;" class="center-block">
                        <!--<img src="app/static/img/ajax-loader.gif" height="42" width="42"/>-->
                    </div>
                    <div id="moreBtn_sovereign_wealth_funds">
                        <button class="btn btn-default" (click)="loadMore('SWF')" *ngIf="isShowMoreButton('SWF')">More</button>
                        <div *ngIf="!isShowMoreButton('SWF')">No more posts to show</div>
                    </div>
                </div>
            </div>
            <div id="real_estate" class="tab-pane fade">
                <div id="real_estate_content">
                    <div class="row withpadding" *ngFor = "let news of newsList">
                        <div class="col-md-12" *ngIf = "news.type == 'RE'">
                            <div class="row">
                                <a [routerLink]="['/news/view/', news.id]"><h4>{{news.header}}</h4></a>
                            </div>
                            <div class="row">
                                <h4><small>{{news.source}}</small></h4>
                            </div>
                            <div class="row">
                                <p>{{news.shortContent}}</p>
                            </div>
                            <div class="row">
                                <div class="col-md-1">
                                    <a class="btn btn-info btn-sm" data-toggle="modal"
                                       (click) = "getNewsById(news.id)" data-target="#newsModal">view</a>
                                </div>
                                <div class="col-md-2 pull-right">
                                    <!--<input name="rating_stars" type="number" class="rating"/>-->
                                </div>
                            </div>
                            <div class="row">
                                <hr style="border-top: 1px solid #B5AEAE"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div id="loadmoreajaxloader_real_estate" style="display:none;" class="center-block">
                        <!--<img src="app/static/img/ajax-loader.gif" height="42" width="42"/>-->
                    </div>
                    <div id="moreBtn_real_estate">
                        <button class="btn btn-default" (click)="loadMore('RE')" *ngIf="isShowMoreButton('RE')">More</button>
                        <div *ngIf="!isShowMoreButton('RE')">No more posts to show</div>
                    </div>
                </div>
            </div>
            <div id="risk_management" class="tab-pane fade">
                <div id="risk_management_content">
                    <div class="row withpadding" *ngFor = "let news of newsList" >
                        <div class="col-md-12" *ngIf = "news.type == 'RM'">
                            <div class="row">
                                <a [routerLink]="['/news/view/', news.id]"><h4>{{news.header}}</h4></a>
                            </div>
                            <div class="row">
                                <h4><small>{{news.source}}</small></h4>
                            </div>
                            <div class="row">
                                <p>{{news.shortContent}}</p>
                            </div>
                            <div class="row">
                                <div class="col-md-1">
                                    <a class="btn btn-info btn-sm" data-toggle="modal"
                                       (click) = "getNewsById(news.id)" data-target="#newsModal">view</a>
                                </div>
                                <div class="col-md-2 pull-right">
                                    <!--<input name="rating_stars" type="number" class="rating"/>-->
                                </div>
                            </div>
                            <div class="row">
                                <hr style="border-top: 1px solid #B5AEAE"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div id="loadmoreajaxloader_risk_management" style="display:none;" class="center-block">
                        <!--<img src="app/static/img/ajax-loader.gif" height="42" width="42"/>-->
                    </div>
                    <div id="moreBtn_risk_management">
                        <button class="btn btn-default" (click)="loadMore('RM')" *ngIf="isShowMoreButton('RM')">More</button>
                        <div *ngIf="!isShowMoreButton('RM')">No more posts to show</div>
                    </div>
                </div>
            </div>
            <div id="national_bank" class="tab-pane fade">
                <div id="national_bank_content">
                    <div class="row withpadding" *ngFor = "let news of newsList" >
                        <div class="col-md-12" *ngIf = "news.type == 'NBRK'">
                            <div class="row">
                                <a [routerLink]="['/news/view/', news.id]"><h4>{{news.header}}</h4></a>
                            </div>
                            <div class="row">
                                <h4><small>{{news.source}}</small></h4>
                            </div>
                            <div class="row">
                                <p>{{news.shortContent}}</p>
                            </div>
                            <div class="row">
                                <div class="col-md-1">
                                    <a class="btn btn-info btn-sm" data-toggle="modal"
                                       (click) = "getNewsById(news.id)" data-target="#newsModal">view</a>
                                </div>
                                <div class="col-md-2 pull-right">
                                    <!--<input name="rating_stars" type="number" class="rating"/>-->
                                </div>
                            </div>
                            <div class="row">
                                <hr style="border-top: 1px solid #B5AEAE"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div id="loadmoreajaxloader_national_bank" style="display:none;" class="center-block">
                        <!--<img src="app/static/img/ajax-loader.gif" height="42" width="42"/>-->
                    </div>
                    <div id="moreBtn_national_bank">
                        <button class="btn btn-default" (click)="loadMore('NBRK')" *ngIf="isShowMoreButton('NBRK')">More</button>
                        <div *ngIf="!isShowMoreButton('NBRK')">No more posts to show</div>
                    </div>
                </div>
            </div>

            <!--<script>-->
                <!--// with plugin options-->
                <!--$(".rating").rating({min:1, max:10, step:1, size:'xs', showClear: false, showCaption: false});-->
            <!--</script>-->
            <div class="modal fade" id="newsModal" role="dialog">
                    <div class="modal-dialog" style="overflow-y: scroll; max-height:85%;  margin-top: 50px; margin-bottom:50px;">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h3 class="modal-title" >{{selectedNews.header}}</h3>
                                <h4>
                                    <small>{{selectedNews.source}}</small>
                                </h4>
                            </div>
                            <div class="modal-body">
                                <p [innerHTML]="selectedNews.content"></p>
                            </div>
                            <div class="modal-footer">
                                <!--<div class="row">-->
                                <!--<div class="col-md-2">-->
                                <!--<input id="modal_rating_stars" name="rating_stars" type="number" class="rating"/>-->
                                <!--</div>-->
                                <!--<script>-->
                                <!--// with plugin options-->
                                <!--$("#modal_rating_stars").rating({min:1, max:10, step:1, size:'xs', showClear: false, showCaption: false});-->
                                <!--</script>-->
                                <!--</div>-->
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>