
<script inline="javascript" type="text/javascript">
    /*<![CDATA[*/
    $(document).on('hidden.bs.modal', function (e) {
        $(e.target).removeData('bs.modal');
    });
</script>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        .loader {
            margin-top: 5%;
            margin-right: auto;
            margin-left: auto;
            margin-bottom: 0;

            border-top: 16px solid #3498db;
            border-right: 16px solid #f3f3f3;
            border-left: 16px solid #f3f3f3;
            border-bottom: 16px solid #3498db;

            border-radius: 50%;

            width: 60px;
            height: 60px;
            -webkit-animation: spin 2s linear infinite; /* Safari */
            animation: spin 2s linear infinite;
        }

        /* Safari */
        @-webkit-keyframes spin {
            0% { -webkit-transform: rotate(0deg); }
            100% { -webkit-transform: rotate(360deg); }
        }

        @keyframes spin {
            0% { transform: rotate(0deg); }
            100% { transform: rotate(360deg); }
        }
    </style>
</head>


<div class="container">
    <div class="row top-buffer" >
        <div class="col-md-12">
            <div class="alert alert-danger" *ngIf="errorMessage != null">{{errorMessage}}</div>
        </div>
    </div>
    <div class="row withpadding">
        <a [routerLink]="['/news/edit/',0 ]" class="btn btn-primary pull-right" *ngIf="canEdit()">Add News</a>
    </div>


    <ul role="tablist" class="date-tabs nav">
        <li class="date-tabs__item"><a data-toggle="tab"
                                       href="#NEWS_GENERAL"
                                       role="tab" aria-controls="NEWS_GENERAL"
                                       aria-selected="true"
                                       class="date-tabs__link"
                                       [style.border-bottom-color]="activeTab === 'NEWS_GENERAL' ? '#D9A158' : 'white'"
                                       (click)="activeTab = 'NEWS_GENERAL'">GENERAL</a>
        </li>
        <li class="date-tabs__item"><a data-toggle="tab"
                                       href="#NEWS_ALTERNATIVE"
                                       role="tab" aria-controls="NEWS_ALTERNATIVE"
                                       aria-selected="true"
                                       class="date-tabs__link"
                                       [style.border-bottom-color]="activeTab === 'NEWS_ALTERNATIVE' ? '#D9A158' : 'white'"
                                       (click)="activeTab = 'NEWS_ALTERNATIVE'">ALTERNATIVE INVESTMENTS</a>
        </li>
        <!--<li class="date-tabs__item"><a data-toggle="tab"-->
                                       <!--href="#NEWS_PE"-->
                                       <!--role="tab" aria-controls="NEWS_PE"-->
                                       <!--aria-selected="false"-->
                                       <!--class="date-tabs__link"-->
                                       <!--[class.active]="activeTab === 'NEWS_PE'"-->
                                       <!--[class.show]="activeTab === 'NEWS_PE'"-->
                                       <!--[style.border-bottom-color]="activeTab === 'NEWS_PE' ? '#D9A158' : 'white'"-->
                                       <!--(click)="activeTab = 'NEWS_PE'">PRIVATE EQUITY</a></li>-->
        <!--<li class="date-tabs__item"><a data-toggle="tab"-->
                                       <!--href="#NEWS_HF"-->
                                       <!--role="tab" aria-controls="NEWS_HF"-->
                                       <!--aria-selected="false"-->
                                       <!--class="date-tabs__link"-->
                                       <!--[style.border-bottom-color]="activeTab === 'NEWS_HF' ? '#D9A158' : 'white'"-->
                                       <!--(click)="activeTab = 'NEWS_HF'">HEDGE FUNDS</a></li>-->
        <!--<li class="date-tabs__item"><a data-toggle="tab"-->
                                       <!--href="#NEWS_SWF"-->
                                       <!--role="tab" aria-controls="NEWS_SWF"-->
                                       <!--aria-selected="false"-->
                                       <!--class="date-tabs__link"-->
                                       <!--[style.border-bottom-color]="activeTab === 'NEWS_SWF' ? '#D9A158' : 'white'"-->
                                       <!--(click)="activeTab = 'NEWS_SWF'">SOVEREIGN WEALTH FUNDS</a></li>-->
        <!--<li class="date-tabs__item"><a data-toggle="tab"-->
                                       <!--href="#NEWS_RE"-->
                                       <!--role="tab" aria-controls="NEWS_RE"-->
                                       <!--aria-selected="false"-->
                                       <!--class="date-tabs__link"-->
                                       <!--[style.border-bottom-color]="activeTab === 'NEWS_RE' ? '#D9A158' : 'white'"-->
                                       <!--(click)="activeTab = 'NEWS_RE'">REAL ESTATE</a></li>-->
        <!--<li class="date-tabs__item"><a data-toggle="tab"-->
                                       <!--href="#NEWS_RISK"-->
                                       <!--role="tab" aria-controls="NEWS_RISK"-->
                                       <!--aria-selected="false"-->
                                       <!--class="date-tabs__link"-->
                                       <!--[style.border-bottom-color]="activeTab === 'NEWS_RISK' ? '#D9A158' : 'white'"-->
                                       <!--(click)="activeTab = 'NEWS_RISK'">RISK MANAGEMENT</a></li>-->
        <li class="date-tabs__item"><a data-toggle="tab"
                                       href="#NEWS_KZ"
                                       role="tab" aria-controls="NEWS_KZ"
                                       aria-selected="false"
                                       class="date-tabs__link"
                                       [style.border-bottom-color]="activeTab === 'NEWS_KZ' ? '#D9A158' : 'white'"
                                       (click)="activeTab = 'NEWS_KZ'">KZ NEWS</a></li>
    </ul>
    <div [ngBusy]="busy" class="tab-content">
        <div id="NEWS_GENERAL" role="tabpanel" aria-labelledby="NEWS_GENERAL" class="tab-pane active">
            <div id="general_content">
                <div class="row withpadding" *ngFor = "let news of newsList">
                    <div class="col-md-12" *ngIf = "news.type == 'GENERAL'">
                        <div class="row">
                            <!--<a target="_blank" [routerLink]="['/news/view/', news.id]">-->
                            <h4 style="word-wrap: break-word;"><a data-toggle="modal" (click) = "getNewsById(news.id)" data-target="#newsModal" style="cursor: pointer">{{news.header}}</a></h4>
                        </div>
                        <div class="row">
                            <h4 style="word-wrap: break-word"><small>{{news.source}}</small></h4>
                        </div>
                        <div class="row">
                            <p style="word-wrap: break-word">{{news.shortContent}}</p>
                        </div>
                        <div class="row">
                            <div class="col-md-1">
                                <a class="btn btn-info btn-sm" data-toggle="modal"
                                   (click) = "getNewsById(news.id)" data-target="#newsModal">View</a>
                            </div>
                            <div class="col-md-1">
                                <a [routerLink]="['/news/edit/', news.id]" class="btn btn-primary btn-sm" *ngIf="canEdit()" >Edit</a>
                            </div>
                            <!--<div class="col-md-1 pull-right">-->
                            <!--<span class="glyphicon glyphicon-user"></span> {{news.owner}}-->
                            <!--</div>-->
                        </div>
                        <div class="row">
                            <hr style="border-top: 1px solid #B5AEAE"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row withpadding">
                <div id="loadmoreajaxloader_general" style="display:none;" class="center-block">
                    <!--<img src="app/static/img/ajax-loader.gif" height="42" width="42"/>-->
                </div>
                <div id="moreBtn_general">
                    <button class="btn btn-default" (click)="loadMore('GENERAL')" *ngIf="isShowMoreButton('GENERAL')">More</button>
                    <div *ngIf="!isShowMoreButton('GENERAL')">No more posts to show</div>
                </div>
            </div>
        </div>
        <div id="NEWS_ALTERNATIVE" role="tabpanel" aria-labelledby="NEWS_ALTERNATIVE" class="tab-pane">
            <div id="alternative_investments_content">
                <div class="row withpadding" *ngFor = "let news of newsList">
                    <div class="col-md-12" *ngIf = "isAlternativeInvestments(news.type)">
                        <div class="row">
                            <!--<a target="_blank" [routerLink]="['/news/view/', news.id]">-->
                            <h4 style="word-wrap: break-word;"><a data-toggle="modal" (click) = "getNewsById(news.id)" data-target="#newsModal" style="cursor: pointer">{{news.header}}</a></h4>
                        </div>
                        <div class="row">
                            <h4 style="word-wrap: break-word"><small>{{news.source}}</small></h4>
                        </div>
                        <div class="row">
                            <p style="word-wrap: break-word">{{news.shortContent}}</p>
                        </div>
                        <div class="row">
                            <div class="col-md-1">
                                <a class="btn btn-info btn-sm" data-toggle="modal"
                                   (click) = "getNewsById(news.id)" data-target="#newsModal">View</a>
                            </div>
                            <div class="col-md-1">
                                <a [routerLink]="['/news/edit/', news.id]" class="btn btn-primary btn-sm" *ngIf="canEdit()" >Edit</a>
                            </div>
                            <!--<div class="col-md-1 pull-right">-->
                            <!--<span class="glyphicon glyphicon-user"></span> {{news.owner}}-->
                            <!--</div>-->
                        </div>
                        <div class="row">
                            <hr style="border-top: 1px solid #B5AEAE"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row withpadding">
                <div id="loadmoreajaxloader_alternative" style="display:none;" class="center-block">
                    <!--<img src="app/static/img/ajax-loader.gif" height="42" width="42"/>-->
                </div>
                <div id="moreBtn_alternative">
                    <button class="btn btn-default" (click)="loadMore('ALTERNATIVE_INVESTMENTS')" *ngIf="isShowMoreButton('ALTERNATIVE_INVESTMENTS')">More</button>
                    <div *ngIf="!isShowMoreButton('ALTERNATIVE_INVESTMENTS')">No more posts to show</div>
                </div>
            </div>
        </div>
        <div id="NEWS_KZ" role="tabpanel" aria-labelledby="NEWS_KZ" class="tab-pane">
            <div id="kz_news_content">
                <div class="row withpadding" *ngFor = "let news of newsList" >
                    <div class="col-md-12" *ngIf = "news.type == 'KZ'">
                        <div class="row">
                            <h4 style="word-wrap: break-word"><a data-toggle="modal" (click) = "getNewsById(news.id)" data-target="#newsModal" style="cursor: pointer">{{news.header}}</a></h4>
                        </div>
                        <div class="row">
                            <h4 style="word-wrap: break-word"><small>{{news.source}}</small></h4>
                        </div>
                        <div class="row">
                            <p style="word-wrap: break-word">{{news.shortContent}}</p>
                        </div>
                        <div class="row">
                            <div class="col-md-1">
                                <a class="btn btn-info btn-sm" data-toggle="modal"
                                   (click) = "getNewsById(news.id)" data-target="#newsModal">view</a>
                            </div>
                            <div class="col-md-1">
                                <a [routerLink]="['/news/edit/', news.id]" class="btn btn-primary btn-sm" *ngIf="canEdit()" >Edit</a>
                            </div>
                        </div>
                        <div class="row">
                            <hr style="border-top: 1px solid #B5AEAE"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row withpadding">
                <div id="loadmoreajaxloader_kz_news" style="display:none;" class="center-block">
                    <!--<img src="app/static/img/ajax-loader.gif" height="42" width="42"/>-->
                </div>
                <div id="moreBtn_kz_news">
                    <button class="btn btn-default" (click)="loadMore('KZ')" *ngIf="isShowMoreButton('KZ')">More</button>
                    <div *ngIf="!isShowMoreButton('KZ')">No more posts to show</div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="newsModal" role="dialog">
        <div class="modal-dialog" style="overflow-y: scroll; max-height:85%;  margin-top: 50px; margin-bottom:50px; width:65%;">
            <div class="modal-content" style="background-color: #fff1e0">
                <div class="loader" *ngIf="selectedNews == null"></div>
                <div class="row withpadding">
                    <div class="col-md-12">
                        <div class="form-group">
                            <h4><span class="label label-info" >{{selectedNews?.type}}</span></h4>
                        </div>
                    </div>
                </div>
                <div class="modal-header">
                    <h3 class="modal-title"  style="word-wrap: break-word">{{selectedNews?.header}}</h3>
                    <h4 style="word-wrap: break-word">
                        <small>{{selectedNews?.source}}</small>
                    </h4>
                </div>
                <div class="modal-body">
                    <p style="word-wrap: break-word;" [innerHTML]="selectedNews?.content"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" (click)="closeNewsModal()">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>