<div class="container">
    <div class="row top-buffer" >
        <div class="col-md-12">
            <h4><span>General Meeting Memo</span></h4>
        </div>
    </div>
    <div class="row top-buffer" >
        <div class="col-md-12">
            <div class="alert alert-info" *ngIf="successMessage != null"><span>{{successMessage}}</span>
            </div>
        </div>
    </div>
    <div class="row top-buffer" >
        <div class="col-md-12">
            <div class="alert alert-danger" *ngIf="errorMessage != null"><span>{{errorMessage}}</span>
            </div>
        </div>
    </div>
    <div class="row top-buffer" >
        <div class="col-md-12">
            <div class="col-md-2">
                <a [routerLink]="['/m2s2/list/']" class="btn btn-default pull-left">Back</a>
            </div>
            <div class="col-md-2">
                <label class="checkbox-inline">
                    <input type="radio" [ngModel]="{checked: memo.meetingType == 'MEETING'}"
                           (ngModelChange)="memo.meetingType='MEETING'"  name="meetingType" value="MEETING">
                    <span>Meeting</span>
                </label>
            </div>
            <div class="col-md-2">
                <label class="checkbox-inline">
                    <!--<input type="radio" name="meetingType" id="meetingTypeCall" value="CALL"/>-->
                    <!--<span>Call</span>-->

                    <input type="radio" [ngModel]="{checked: memo.meetingType == 'CALL'}"
                           (ngModelChange)="memo.meetingType='CALL'; memo.meetingLocation='';"  name="meetingType" value="CALL">
                    <span>Call</span>
                </label>
            </div>
            <div class="col-md-6">
                <input id="firmName" class="form-control" placeholder="Enter firm..." maxlength="250"
                       [(ngModel)]="memo.firmName"/>
            </div>
        </div>
    </div>
    <div class="row top-buffer" >
        <div class="col-md-12">
            <label class="control-label col-md-1">&nbsp;</label>
            <div class="col-md-5">
                <input type="text" placeholder="Fund name... " class="form-control" id="fundName"
                       [(ngModel)]="memo.fundName" name="fundName" maxlength="250"/>
            </div>
            <div class="col-md-2">
                <div class='input-group date col-md-2' id='meetingDate' style="width: 100%">
                    <input type="text" class="form-control" id="meetingDateValue" [(ngModel)]="memo.meetingDate"/>
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                </div>
            </div>
            <div class="col-md-2">
                <div class='input-group datetime col-md-3' id='meetingTime' style="width: 100%">
                    <input type='text' class="form-control" [(ngModel)]="memo.meetingTime"/>
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-time"></span>
                        </span>
                </div>
            </div>
            <div class="col-md-2">
                <input type="text" id="meetingLocation" placeholder="Enter location..." [(ngModel)] = "memo.meetingLocation"
                       [disabled]="memo.meetingType != 'MEETING'" class="form-control col-md-2" maxlength="250"/>
            </div>
        </div>
    </div>

    <div class="row top-buffer">
        <div class="col-md-12">
            <div class="row top-buffer">
                <label class="control-label col-md-3">Arranged By:</label>
                <div class="col-md-3">
                    <select id="arrangedBySelect" class="form-control" [(ngModel)]="memo.arrangedBy"
                            (ngModelChange)="changeArrangedBy()">
                        <option value="NIC">NIC</option>
                        <option value="GP">GP</option>
                        <option value="OTHER">Other</option>
                    </select>
                </div>
                <div class="col-md-6">
                            <textarea spellcheck="false" class="form-control"
                                      [disabled]="memo.arrangedBy != 'OTHER'" id="arrengedByDescription" maxlength="250"
                                      [(ngModel)]="memo.arrangedByDescription"></textarea>
                </div>
            </div>
            <div class="row top-buffer">
                <label class="control-label col-md-3">Purpose:</label>
                <div class="col-md-9">
                        <textarea spellcheck="false"  type="text" class="form-control" id="purpose" maxlength="1000"
                                  [(ngModel)]="memo.purpose"></textarea>
                </div>
            </div>
            <div class="row top-buffer">
                <label class="control-label col-md-3">Attendees (NIC):</label>
                <div class="col-md-6">
                    <!--<select id="attendeesNICSelect" class="form-control" multiple="multiple">-->
                    <!--<option value="NA">NA</option>-->
                    <!--<option value="GB">GB</option>-->
                    <!--<option value="KZ">KZ</option>-->
                    <!--<option value="AK">AK</option>-->
                    <!--<option value="TT">TT</option>-->
                    <!--</select>-->

                    <ng-select #attendeesSelect [initData]="memo.attendeesNIC"
                               [multiple]="true"
                               [items]="attendeesList"
                               (data)="refreshAttendeesNIC($event)"
                               (selected)="selected($event)"
                               (removed)="removed($event)"
                               placeholder="No attendee selected"></ng-select>
                </div>
            </div>

            <div class="row top-buffer">
                <label class="control-label col-md-3">Attendees (NIC) Other:</label>
                <div class="col-md-9">
                        <textarea spellcheck="false"  type="text" placeholder="NIC attendees..." class="form-control"
                                  maxlength="1000" id="attendeesNIC" [(ngModel)]="memo.attendeesNICOther"></textarea>
                </div>
            </div>
            <div class="row top-buffer">
                <label class="control-label col-md-3" for="attendeesDescription">Attendees (Other Party):</label>
                <div class="col-md-9">
                        <textarea spellcheck="false"  type="text" class="form-control" id="attendeesDescription"
                                  placeholder="Other attendees..."maxlength="1000"
                                  [(ngModel)]="memo.attendeesOther"></textarea>
                </div>
            </div>
        </div>
    </div>
    <!--<hr style="border-top: 1px solid #B5AEAE"/>-->

    <div class="row top-buffer">
        <div class="col-md-12" style="background-color:#5bc0de;">
            <div>
                <div class="col-md-6">
                    <span>TOPIC 2</span>
                </div>
                <div class="col-md-5">&nbsp;</div>
            </div>
        </div>
    </div>
    <div class="row top-buffer">
        <div class="col-md-12 nopadding">
            <textarea spellcheck="false"  class="form-control" [(ngModel)]="memo.topic1"></textarea>
        </div>
    </div>
    <div class="row top-buffer">
        <div class="col-md-12" style="background-color:#5bc0de;">
            <div class="col-md-6">
                <span>TOPIC 2</span>
            </div>
            <div class="col-md-6">&nbsp;</div>
        </div>
    </div>
    <div class="row top-buffer">
        <div class="col-md-12 nopadding">
            <textarea spellcheck="false"  class="form-control" [(ngModel)]="memo.topic2"></textarea>
        </div>
    </div>
    <div class="row top-buffer">
        <div class="col-md-12" style="background-color:#5bc0de;">
            <div class="col-md-6">
                <span>TOPIC 3</span>
            </div>
            <div class="col-md-6">&nbsp;</div>
        </div>
    </div>
    <div class="row top-buffer">
        <div class="col-md-12 nopadding">
            <textarea spellcheck="false"  class="form-control" [(ngModel)]="memo.topic3"></textarea>
        </div>
    </div>
    <div class="row top-buffer">
        <div class="col-md-12" style="background-color:#5bc0de;">
            <div class="col-md-2">
                <span>OTHER INFO</span>
            </div>
            <div class="col-md-10">&nbsp;</div>
        </div>
    </div>
    <div class="row top-buffer">
        <div class="col-md-12 nopadding">
            <textarea spellcheck="false"  class="form-control" [(ngModel)]="memo.otherNotes"></textarea>
        </div>
    </div>
    <div class="row top-buffer">
        <div class="col-md-12" style="background-color:#5bc0de;">
            <div class="col-md-2">
                <span>FOLLOW-UPS</span>
            </div>
            <div class="col-md-10">&nbsp;</div>
        </div>
    </div>
    <div class="row top-buffer">
        <div class="col-md-6">
            <label>NIC</label>
        </div>
        <div class="col-md-6">
            <label>OTHER</label>
        </div>
    </div>
    <div class="row top-buffer">
        <div class="col-md-6 nopadding">
            <textarea spellcheck="false"  class="form-control" [(ngModel)]="memo.nicFollowups"></textarea>
        </div>
        <div class="col-md-6 nopadding">
            <textarea spellcheck="false"  class="form-control" [(ngModel)]="memo.otherPartyFollowups"></textarea>
        </div>
    </div>
    <br/>
    <div class="row top-buffer">
        <div class="col-md-12">
            <div class="jumbotron" style="padding-top: 5px; padding-bottom: 5px;">
                <div class="row">
                    <label>ATTACHMENTS</label>
                </div>

                <div class="row">
                    <label class="btn btn-primary col-md-1" for="attachmentFile">
                        <input type="file" id="attachmentFile" (change)="onFileChange($event)" name="file" multiple style="display:none;"/>
                        Add
                    </label>

                    <div class="col-md-6">
                        <div class="row" *ngFor="let newFile of uploadFiles" class="label label-info" style="display: table;">
                            <span>{{newFile.name}}</span>
                        </div>
                    </div>
                </div>

                <div class="row" *ngIf="memo?.files?.length > 0">
                    <div *ngFor="let attachment of memo.files">
                        <memo-attachment-downloader fileId="{{attachment.id}}"
                                                    fileName="{{attachment?.fileName}}">

                        </memo-attachment-downloader>

                        <a (click)="deleteAttachment(attachment.id)">
                            <i class="glyphicon glyphicon-trash"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <label class="col-md-2">Author:</label>
            <div class="col-md-4">
                <input type="text" placeholder="Your name... " class="form-control col-md-2" id="author"
                       name="author" maxlength="250" [(ngModel)]="memo.author"/>
            </div>
        </div>
    </div>
    <div class="row top-buffer">
        <div class="col-md-12">
            <button type="button" class="btn btn-success pull-right" name="saveMemo" (click)="save()">Save</button>
        </div>
    </div>
</div>