<div class="container">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">
                <div class="dropdown pull-right">
                    <button class="btn btn-primary dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">Create
                        <span class="caret"></span></button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                        <li role="presentation">
                            <a [routerLink]="['/m2s2/edit/2/', 0]" role="menuitem" tabindex="-1" >Private Equity</a></li>
                        <li role="presentation">
                            <a [routerLink]="['/m2s2/edit/4/', 0]" role="menuitem" tabindex="-1" >Real Estate</a></li>
                        <li role="presentation">
                            <a [routerLink]="['/m2s2/edit/3/', 0]" role="menuitem" tabindex="-1" >Hedge Fund</a></li>
                        <li role="presentation" class="divider"></li>
                        <li role="presentation">
                            <a [routerLink]="['/m2s2/edit/1/', 0]" role="menuitem" tabindex="-1" >General</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <br/>
        <div class="jumbotron">
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="firmName">Meeting Type</label>
                                <select class="form-control" id="meetingType" [(ngModel)]="searchParams.meetingType">
                                    <option value="NONE">---</option>
                                    <option *ngFor = "let type of meetingTypes" [value]="type.code">{{type.nameEn}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="firmName">Memo Type</label>
                                <select class="form-control" id="memoType" [(ngModel)]="searchParams.memoType">
                                    <option value="0">---</option>
                                    <option *ngFor = "let type of memoTypes" [value]="type.code">{{type.nameEn}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <label for="fromDateDTPickeer">From</label>
                            <div class='input-group date col-md-3' id='fromDateDTPickeer' style="width: 100%">
                                <input type='text' class="form-control" id="fromDate" />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <label for="untilDateDTPickeer">To</label>
                            <div class='input-group date col-md-3' id='untilDateDTPickeer' style="width: 100%">
                                <input type='text' class="form-control" id="toDate"/>
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                            </div>
                        </div>
                        <!--<script th:inline="javascript" type="text/javascript">-->
                            <!--$(function () {-->
                                <!--$('#fromDateDTPickeer').datetimepicker({-->
                                    <!--//defaultDate: new Date(),-->
                                    <!--format: 'DD-MM-YYYY'-->
                                <!--});-->
                                <!--$('#untilDateDTPickeer').datetimepicker({-->
                                    <!--//defaultDate: new Date(),-->
                                    <!--format: 'DD-MM-YYYY'-->
                                <!--});-->
                            <!--});-->
                        <!--</script>-->
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="firmName">Firm</label>
                                <input type="text" class="form-control" id="firmName" placeholder="Enter firm name..."
                                    [(ngModel)]="searchParams.firmName"/>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                    <label for="fundName">Fund</label>
                                <input type="text" class="form-control" id="fundName" placeholder="Enter fund name..."
                                       [(ngModel)]="searchParams.fundName" [disabled]="searchParams.memoType == 'GENERAL'"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <button type="button" class="btn btn-success pull-right" (click)="search()">Search</button>
                    </div>
                </div>
        </div>
        <div>
            <label>Total found: <span>{{memoSearchResult?.totalElements > 0 ?  memoSearchResult?.totalElements : 0}}</span></label>
        </div>
        <div class="row pull-right">
            <ul class="pagination" *ngIf="memoSearchResult?.showPageFrom > 0">
                <li><a *ngIf="memoSearchResult?.showPageFrom > 1" (click)="search(memoSearchResult.showPageFrom - 1)">&laquo;</a></li>
                <li *ngFor="let i of range(memoSearchResult.showPageFrom, memoSearchResult.showPageTo)" [class.active]="i == memoSearchResult.currentPage">
                    <a (click)="search(i)">{{i}}</a>
                </li>
                <li><a *ngIf="memoSearchResult.showPageTo < memoSearchResult.totalPages" (click)="search(memoSearchResult.showPageTo + 1)">&raquo;</a></li>
            </ul>
        </div>
        <table class = "table table-hover">
            <thead>
            <tr>
                <th>TYPE</th>
                <th>MEETING/CALL</th>
                <th>FIRM</th>
                <th>FUND</th>
                <th>DATE</th>
                <th>AUTHOR</th>
                <th>ACTIONS</th>
            </tr>
            </thead>

            <tbody>
            <tr *ngFor = "let memo of memoList">
                <td width="5%">{{memo.memoType}}</td>
                <td width="10%" >{{memo.meetingType}}</td>
                <td width="30%"><a [routerLink]="['/m2s2/edit/', memo.memoType, memo.id]">{{memo.firmName}}</a></td>
                <td width="30%"><a [routerLink]="['/m2s2/edit/', memo.memoType, memo.id]">{{memo.fundName}}</a></td>
                <!--<td width="10%" th:text="${memoItem.meetingDate}"></td>-->
                <td width="10%">{{memo.meetingDate}}</td>
                <td width="10%">{{memo.author}}</td>
                <td width="5%">
                    <!--<a th:href="@{/m2s2/deleteMemo/{id}(id=${memoItem.id})}" onclick="return confirm('Are you sure?')"><i class="glyphicon glyphicon-trash"></i></a>-->
                    <a onclick="alert('To delete this memo, please call #115');"><i class="glyphicon glyphicon-trash"></i></a>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="row pull-right">
            <ul class="pagination" *ngIf="memoSearchResult?.showPageFrom > 0">
                <li><a *ngIf="memoSearchResult?.showPageFrom > 1" (click)="search(memoSearchResult.showPageFrom - 1)">&laquo;</a></li>
                <li *ngFor="let i of range(memoSearchResult.showPageFrom, memoSearchResult.showPageTo)" [class.active]="i == memoSearchResult.currentPage">
                    <a (click)="search(i)">{{i}}</a>
                </li>
                <li><a *ngIf="memoSearchResult.showPageTo < memoSearchResult.totalPages" (click)="search(memoSearchResult.showPageTo + 1)">&raquo;</a></li>
            </ul>
        </div>
    </div>
</div>