<style>
    .ng2-dropdown-menu {
    z-index: 1051 !important;
}

</style>
<div class="container">
    <div class="row withpadding" style="position: relative; min-height: 80px;">
        <div [ngBusy]="busy">
            <div class="row top-buffer" >
                <div class="col-md-12">
                    <ol class="breadcrumb">
                        <li>
                            <span *ngIf="breadcrumbParams != null"><a [routerLink]="['/corpMeetings', {params: this.breadcrumbParams, activeTab: 'IC_ASSIGNMENTS'}]">IC Assignments</a></span>
                            <span *ngIf="breadcrumbParams == null"><a [routerLink]="['/corpMeetings', {params: {}, activeTab: 'IC_ASSIGNMENTS'}]">IC Assignments</a></span>
                        </li>
                        <li class="active">IC Assignment</li>
                    </ol>
                </div>
            </div>
            <div class="row top-buffer" >
                <div class="alert alert-danger" *ngIf="errorMessage != null"><span>{{errorMessage}}</span>
                </div>
                <div class="alert alert-info" *ngIf="successMessage != null"><span>{{successMessage}}</span>
                </div>
            </div>
            <div>
                <form class="well span">
                    <fieldset [disabled]="!canEdit()">
                        <div class="row top-buffer">
                            <div class="col-md-1">&nbsp;</div>
                            <div class="col-md-2 form-group form-horizontal">
                                    <p id="icName">
                                        IC:
                                        <strong>№ {{assignment?.icMeetingTopic?.icMeeting?.number}}
                                        ({{assignment?.icMeetingTopic?.icMeeting?.date}})
                                        </strong>
                                    </p>
                            </div>
                            <div class="col-md-9 form-group form-horizontal">
                                <label class="control-label col-md-2" for="topicName">Topic Name:</label>
                                <div class="col-md-10">
                                    <textarea fz-elastic type="text" id="topicName" class="form-control" disabled
                                              name="topicName" >{{assignment?.icMeetingTopic?.name}}</textarea>
                                </div>
                            </div>

                        </div>
                        <div class="row top-buffer">
                            <div class="col-md-12">
                                <div class="row top-buffer">
                                    <div class="form-group form-horizontal">
                                        <label class="control-label col-md-2" for="status">Name:</label>
                                        <div class="col-md-10">
                                            <textarea fz-elastic type="text" id="assignmentName" class="form-control" disabled
                                                      name="assignmentName" [(ngModel)]="assignment.name"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row top-buffer">
                            <div class="col-md-12">
                                <div class="row top-buffer">
                                    <div class="form-group form-horizontal">
                                        <label class="control-label col-md-2" for="status">Due date:</label>
                                        <div class="col-md-2">
<!--                                            <textarea fz-elastic type="text" id="dueDate" class="form-control"-->
<!--                                                      placeholder="Enter due date ..."-->
<!--                                                     name="dueDate" [(ngModel)]="assignment.dueDate"></textarea>-->
                                            <label class="control-label" for="dateDue">Due Date </label>
                                            <div class='input-group date' id='dateDue' style="width: 100%">
                                                <input type="text" class="form-control" id="dateDueValue" name="dateDue" [(ngModel)]="assignment.dateDue"/>
                                                <a class="input-group-addon">
                                                    <span class="glyphicon glyphicon-calendar"></span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row top-buffer">
                            <div class="col-md-12">
                                <div class="row top-buffer">
                                    <div class="form-group form-horizontal">
                                        <label class="control-label col-md-2" for="status">Status:</label>
                                        <div class="col-md-10">
                                            <textarea fz-elastic type="text" id="status" class="form-control"
                                                      placeholder="Enter status ..."
                                                     name="status" [(ngModel)]="assignment.status"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row top-buffer">
                            <div class="col-md-12">
                                <div class="col-md-2">&nbsp;</div>
                                <div class="col-md-10">
                                    <label class="checkbox-inline control-label col-md-2" for="closedCheckbox">
                                        <input  type="checkbox" id="closedCheckbox" name="closedCheckbox" [(ngModel)]="assignment.closed"/>
                                        <span>Closed</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row top-buffer">
                            <div class="col-md-12">
                                <div class="row top-buffer">
                                    <div class="form-group form-horizontal">
                                        <label class="control-label col-md-2" for="departments">Departments:</label>
                                        <div class="col-md-4">
                                            <textarea fz-elastic type="text" id="departments" class="form-control" disabled
                                                      maxlength="500" name="departments">{{listDepartments()}}</textarea>
                                        </div>
                                        <label class="control-label col-md-2" for="employees">Employees:</label>
                                        <div class="col-md-4">
                                            <textarea fz-elastic type="text" id="employees" class="form-control" disabled
                                                      maxlength="500" name="employees">{{listEmployees()}}</textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <br/>
                        <div class="row top-buffer">
                            <div class="col-md-12">
                                <button *ngIf="canDelete() && assignment != null && assignment.id != null" type="button" class="btn btn-danger pull-left" (click)="deleteAssignment()">Delete</button>

                                <button *ngIf="canEdit()" type="submit" class="btn btn-success pull-right" (click)="save()" >Save</button>
                            </div>
                        </div>
                        <div class="row top-buffer">
                            <div class="col-md-12">
                            </div>
                        </div>
                    </fieldset>
                    <br/>
                </form>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
</div>

