<div class="container">
    <div class="col-md-12">
        <div class="row">
            <div class="row top-buffer" >
                <div class="col-md-12">
                    <div class="alert alert-info" *ngIf="successMessage != null"><span>{{successMessage}}</span>
                    </div>
                </div>
            </div>
            <div class="row top-buffer" >
                <div class="col-md-12">
                    <div class="alert alert-danger" *ngIf="errorMessage != null"><span>{{errorMessage}}</span>
                    </div>
                </div>
            </div>
        </div>

        <!--<ul class="nav nav-tabs">-->
            <!--<li class="active" (click)="searchICMeetingTopics(0)">-->
                <!--<a data-toggle="tab" href="#ic_questions">IC TOPICS</a>-->
            <!--</li>-->
            <!--<li (click)="searchIC(0)">-->
                <!--<a data-toggle="tab" href="#ic_list">IC LIST</a>-->
            <!--</li>-->
        <!--</ul>-->

        <ul role="tablist" class="date-tabs nav">
            <li class="date-tabs__item"><a data-toggle="tab"
                                           href="#IC_TOPICS"
                                           role="tab" aria-controls="IC_TOPICS"
                                           aria-selected="true"
                                           class="date-tabs__link"
                                           [style.border-bottom-color]="activeTab === 'IC_TOPICS' ? '#D9A158' : 'white'"
                                           (click)="searchICMeetingTopics(0)">IC TOPICS</a>
            </li>
            <li class="date-tabs__item"><a data-toggle="tab"
                                           href="#IC_LIST"
                                           role="tab" aria-controls="IC_LIST"
                                           aria-selected="false"
                                           class="date-tabs__link"
                                           [style.border-bottom-color]="activeTab === 'IC_LIST' ? '#D9A158' : 'white'"
                                           (click)="searchIC(0)">IC LIST</a>
            </li>
        </ul>

        <br/>

        <div class="tab-content">
            <div id="IC_TOPICS" role="tabpanel" aria-labelledby="IC_TOPICS" class="tab-pane active">
                <div class="row withpadding">
                    <a *ngIf="canCreateNewTopic()" [routerLink]="['/corpMeetings/edit/',0 ]" class="btn btn-primary pull-right">NEW</a>
                </div>
                <br/>

                <div class="jumbotron">
                    <form (ngSubmit)="searchICMeetingTopics(0)">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-5">
                                    <label for="searchText">Search Text</label>
                                    <div class="form-group">
                                        <input type="text" name="searchText" id="searchText" class="form-control"
                                               placeholder="Search in description or tags...." [(ngModel)]="icTopicSearchParams.searchText"/>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <label for="fromDateDTPickeer">IC Date From</label>
                                    <div class='input-group date col-md-2' id='fromDateDTPickeer' style="width: 100%">
                                        <input type='text' class="form-control" id="fromDate" name="fromDate" style="font-size: small" [(ngModel)]="icTopicSearchParams.dateFrom"/>
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <label for="untilDateDTPickeer">IC Date To</label>
                                    <div class='input-group date col-md-2' id='untilDateDTPickeer' style="width: 100%">
                                        <input type='text' class="form-control" id="toDate" name="toDate"style="font-size: small" [(ngModel)]="icTopicSearchParams.dateTo"/>
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <label for="icSearchNumber">IC №</label>
                                    <div class="form-group">
                                        <input type="text" name="icSearchNumber" id="icSearchNumber" class="form-control"
                                               placeholder="IC № ..." [(ngModel)]="icTopicSearchParams.icNumber"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-4">
                                    <select class="form-control" id="type" name="type" [(ngModel)]="icTopicSearchParams.type">
                                        <option *ngIf="icMeetingTopicTypes?.length > 1" value="NONE">---</option>
                                        <option *ngFor = "let type of icMeetingTopicTypes" [value]="type.code">{{type.nameEn}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            &nbsp;
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <button type="button" class="btn-xs btn-default pull-left" (click)="clearSearchForm()">
                                    <!--<i class="glyphicon glyphicon-trash"></i>-->Reset
                                </button>
                                <button type="submit"class="btn btn-success pull-right">Search</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div>
                    <label>Total found:  <span>{{icTopicSearchResult?.totalElements > 0 ? icTopicSearchResult?.totalElements : 0}}</span></label>
                </div>
                <div class="row withpadding" style="position: relative; min-height: 80px;">
                    <div class="row pull-right">
                        <ul class="pagination" *ngIf="icTopicSearchResult?.showPageFrom > 0">
                            <li><a *ngIf="icTopicSearchResult?.showPageFrom > 1" (click)="search(icTopicSearchResult.showPageFrom - 1)">&laquo;</a></li>
                            <li *ngFor="let i of range(icTopicSearchResult.showPageFrom, icTopicSearchResult.showPageTo)" [class.active]="i == icTopicSearchResult.currentPage">
                                <a (click)="search(i)">{{i}}</a>
                            </li>
                            <li><a *ngIf="icTopicSearchResult.showPageTo < icTopicSearchResult.totalPages" (click)="search(icTopicSearchResult.showPageTo + 1)">&raquo;</a></li>
                        </ul>
                    </div>
                    <table [ngBusy]="busy"  class = "table table-hover">
                        <thead>
                        <tr>
                            <th width="10%">IC NUMBER</th>
                            <th width="10%">IC DATE</th>
                            <th width="10%">TYPE</th>
                            <th width="70%">SHORT NAME</th>

                        </tr>
                        </thead>

                        <tbody>
                        <tr *ngFor="let topic of icTopics"  style="cursor: pointer" (click)="navigate(topic.id)">
                            <td width="10%" >{{topic?.icMeeting?.number}}</td>
                            <td width="10%">{{topic?.icMeeting?.date}}</td>
                            <td width="10%">{{topic?.type}}</td>
                            <td width="70%">{{topic.shortName}}</td>

                        </tr>
                        </tbody>
                    </table>
                    <div class="row pull-right">
                        <ul class="pagination" *ngIf="icTopicSearchResult?.showPageFrom > 0">
                            <li><a *ngIf="icTopicSearchResult?.showPageFrom > 1" (click)="search(icTopicSearchResult.showPageFrom - 1)">&laquo;</a></li>
                            <li *ngFor="let i of range(icTopicSearchResult.showPageFrom, icTopicSearchResult.showPageTo)" [class.active]="i == icTopicSearchResult.currentPage">
                                <a (click)="search(i)">{{i}}</a>
                            </li>
                            <li><a *ngIf="icTopicSearchResult.showPageTo < icTopicSearchResult.totalPages" (click)="search(icTopicSearchResult.showPageTo + 1)">&raquo;</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div id="IC_LIST" role="tabpanel" aria-labelledby="IC_LIST" class="tab-pane">
                <div class="row withpadding">
                    <a class="btn btn-primary pull-right" data-toggle="modal" data-target="#newICModal" (click)="editICMeeting(null)">NEW</a>
                </div>
                <br/>

                <div class="jumbotron">
                    <form (ngSubmit)="searchICMeetingTopics(0)">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-2">
                                    <label for="fromDateDTPickeerIC">IC Date From</label>
                                    <div class='input-group date col-md-2' id='fromDateDTPickeerIC' style="width: 100%">
                                        <input type='text' class="form-control" id="fromDateIC" name="fromDate" style="font-size: small" [(ngModel)]="icMeetingsSearchParams.dateFrom"/>
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <label for="untilDateDTPickeerIC">IC Date To</label>
                                    <div class='input-group date col-md-2' id='untilDateDTPickeerIC' style="width: 100%">
                                        <input type='text' class="form-control" id="toDateIC" name="toDate"style="font-size: small" [(ngModel)]="icMeetingsSearchParams.dateTo"/>
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <label for="icSearchNumberIC">IC №</label>
                                    <div class="form-group">
                                        <input type="text" name="icSearchNumberIC" id="icSearchNumberIC" class="form-control"
                                               placeholder="IC № ..." [(ngModel)]="icMeetingsSearchParams.number"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <button type="button"class="btn-xs btn-default pull-left" (click)="clearSearchFormIC()">
                                    <!--<i class="glyphicon glyphicon-trash"></i>-->Reset
                                </button>
                                <button type="button" class="btn btn-success pull-right" (click)="searchIC()">Search</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div>
                    <label>Total found:  <span>{{icMeetingsSearchResult?.totalElements > 0 ? icMeetingsSearchResult?.totalElements : 0}}</span></label>
                </div>

                <div class="row">
                    <div class="row pull-right">
                        <ul class="pagination" *ngIf="icMeetingsSearchResult?.showPageFrom > 0">
                            <li><a *ngIf="icMeetingsSearchResult?.showPageFrom > 1" (click)="searchIC(icMeetingsSearchResult.showPageFrom - 1)">&laquo;</a></li>
                            <li *ngFor="let i of range(icMeetingsSearchResult.showPageFrom, icMeetingsSearchResult.showPageTo)" [class.active]="i == icMeetingsSearchResult.currentPage">
                                <a (click)="searchIC(i)">{{i}}</a>
                            </li>
                            <li><a *ngIf="icMeetingsSearchResult.showPageTo < icMeetingsSearchResult.totalPages" (click)="searchIC(icMeetingsSearchResult.showPageTo + 1)">&raquo;</a></li>
                        </ul>
                    </div>
                    <table [ngBusy]="busy" class="table table-hover">
                        <thead>
                        <tr>
                            <th>IC NUMBER</th>
                            <th>IC DATE</th>
                            <th>STATUS</th>
                            <th>NUM.OF TOPICS</th>
                            <th>ACTIONS</th>
                            <th>PROTOCOL</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor = "let icMeeting of icMeetings" style="cursor: pointer" >
                            <td>{{icMeeting.number}}</td>
                            <td>{{icMeeting.date}}</td>
                            <td>{{icMeeting.closed ? 'CLOSED' : 'OPEN'}}</td>
                            <td>{{icMeeting.numberOfTopics}}</td>
                            <td>
                                <button class="btn btn-xs btn-success" (click)="editICMeeting(icMeeting)" *ngIf="!icMeeting.closed" data-toggle="modal" data-target="#newICModal"><span class="glyphicon glyphicon-pencil"></span></button>
                                <button class="btn btn-xs btn-danger" (click)="deleteICMeeting(icMeeting)" *ngIf="!icMeeting.closed && icMeeting.numberOfTopics == 0"><span class="glyphicon glyphicon-trash"></span></button>
                            </td>
                            <td>
                                <button *ngIf="canAddProtocol(icMeeting)" class="btn btn-primary" (click)="showAddProtocolModal(icMeeting)" data-toggle="modal" data-target="#addProtocolModal">Add protocol</button>

                                <div *ngIf="canViewProtocol(icMeeting)">

                                    <file-attachment-downloader fileId="{{icMeeting?.protocolFileId}}"
                                                                fileName="{{icMeeting?.protocolFileName}}"
                                                                displayFileName="{{icMeeting?.protocolFileId > 0 ? 'PROTOCOL' : ''}}"
                                                                fileType="IC_PRTCL">
                                    </file-attachment-downloader>

                                    <button  class="btn btn-xs btn-danger" (click)="deleteICMeetingProtocol(icMeeting)" *ngIf="icMeeting.protocolFileId > 0"><span class="glyphicon glyphicon-trash"></span></button>

                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row pull-right">
                    <ul class="pagination" *ngIf="icMeetingsSearchResult?.showPageFrom > 0">
                        <li><a *ngIf="icMeetingsSearchResult?.showPageFrom > 1" (click)="searchIC(icMeetingsSearchResult.showPageFrom - 1)">&laquo;</a></li>
                        <li *ngFor="let i of range(icMeetingsSearchResult.showPageFrom, icMeetingsSearchResult.showPageTo)" [class.active]="i == icMeetingsSearchResult.currentPage">
                            <a (click)="searchIC(i)">{{i}}</a>
                        </li>
                        <li><a *ngIf="icMeetingsSearchResult.showPageTo < icMeetingsSearchResult.totalPages" (click)="searchIC(icMeetingsSearchResult.showPageTo + 1)">&raquo;</a></li>
                    </ul>
                </div>

                <div class="modal fade" id="newICModal" role="dialog" >
                    <div [ngBusy]="busyCreate" class="modal-dialog" style="min-height: 100px; max-height:85%;  margin-top: 100px; margin-bottom:50px; width:65%;">
                        <div class="modal-content">
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="alert alert-danger" *ngIf="modalErrorMessage != null"><span>{{modalErrorMessage}}</span>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="alert alert-info" *ngIf="modalSuccessMessage != null"><span>{{modalSuccessMessage}}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-1">
                                        <label for="ICDateDTPickeer">IC Date</label>
                                    </div>
                                    <div class="col-md-3">
                                        <div class='input-group date col-md-2' id='ICDateDTPickeer' style="width: 100%">
                                            <input type='text' required class="form-control" id="ICDate" name="ICDate" style="font-size: small" [(ngModel)]="icMeeting.date"/>
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-md-1">
                                        <label for="ICNumber">IC №</label>
                                    </div>
                                    <div class="col-md-2">
                                        <input type="text" required name="ICNumber" id="ICNumber" class="form-control"
                                               placeholder="IC number...." [(ngModel)]="icMeeting.number"/>
                                    </div>
                                </div>
                                <br/>
                                <!--<div class="row">-->
                                <!--<div class="col-md-12">-->
                                <!--<div class="col-md-6">-->
                                <!--<div class="col-md-2">-->
                                <!--<label>Status</label>-->
                                <!--</div>-->
                                <!--<div class="col-md-4">-->
                                <!--<select class="form-control" [(ngModel)]="icMeeting.closed">-->
                                <!--<option [ngValue]="false">OPEN</option>-->
                                <!--<option [ngValue]="true">CLOSED</option>-->
                                <!--</select>-->
                                <!--</div>-->
                                <!--</div>-->
                                <!--<div class="col-md-6">-->
                                <!--<div class="jumbotron" style="padding-top: 5px; padding-bottom: 5px;">-->
                                <!--<div class="row">-->
                                <!--<label>PROTOCOL</label>-->
                                <!--</div>-->

                                <!--<div class="row" *ngIf="icMeeting.closed">-->
                                <!--<label class="btn btn-primary col-md-3" for="attachmentFile">-->
                                <!--<input type="file" id="attachmentFile" (change)="onFileChangeProtocol($event)" name="file" style="display:none;"/>Upload</label>-->
                                <!--<div class="col-md-6" class="label label-info" style="display: table;" *ngIf="uploadProtocolFile != null">-->
                                <!--<span>{{uploadProtocolFile?.name}}</span>&nbsp;-->
                                <!--<a (click)="deleteUnsavedAttachment()">-->
                                <!--<i class="glyphicon glyphicon-trash"></i>-->
                                <!--</a>-->
                                <!--</div>-->
                                <!--</div>-->

                                <!--<div class="row" *ngIf="icMeeting?.protocolFileId > 0">-->
                                <!--<file-attachment-downloader fileId="{{icMeeting?.protocolFileId}}"-->
                                <!--fileName="{{icMeeting?.protocolFileName}}"-->
                                <!--fileType="IC_PRTCL">-->
                                <!--</file-attachment-downloader>-->

                                <!--<a (click)="deleteProtocolAttachment(icMeeting?.protocolFileId)" *ngIf="!icMeeting.closed">-->
                                <!--<i class="glyphicon glyphicon-trash"></i>-->
                                <!--</a>-->
                                <!--</div>-->
                                <!--</div>-->
                                <!--</div>-->
                                <!--</div>-->
                                <!--</div>-->
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default pull-left" (click)="closeICSaveModal()" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary pull-right" (click)="saveICMeeting()">Save</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="addProtocolModal" role="dialog" >
                    <div [ngBusy]="busyCreate" class="modal-dialog" style="min-height: 100px; max-height:85%;  margin-top: 100px; margin-bottom:50px; width:65%;">
                        <div class="modal-content">
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="alert alert-danger" *ngIf="modalProtocolErrorMessage != null"><span>{{modalProtocolErrorMessage}}</span>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="alert alert-info" *ngIf="modalProtocolSuccessMessage != null"><span>{{modalProtocolSuccessMessage}}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="alert alert-warning"><span>Uploading IC protocol will make it CLOSED for editing</span>
                                        </div>
                                    </div>

                                    <div class="withpadding">
                                        <h4>IC № {{icMeeting.number}}</h4>
                                    </div>

                                    <br/>
                                    <div class="withpadding" *ngIf="!icMeeting.closed">
                                        <label class="btn btn-primary col-md-2" for="attachmentFile">
                                            <input type="file" id="attachmentFile" (change)="onFileChangeProtocol($event)" name="file" style="display:none;"/>Upload
                                        </label>
                                        <div class="row" *ngFor="let newFile of uploadProtocolFile" class="label label-info" style="display: table;">
                                            <span>{{newFile.name}}</span> &nbsp;
                                            <a (click)="deleteUnsavedAttachment()">
                                                <i class="glyphicon glyphicon-trash"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default pull-left" (click)="closeProtocolModal()" data-dismiss="modal">Close</button>
                                <button type="button" *ngIf="uploadProtocolFile != null" class="btn btn-primary pull-right" [disabled]="uploadProtocolFile == null" (click)="saveProtocolAttachment()">Save</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--<div class="tab-content">-->
            <!--<div id="ic_questions" class="tab-pane fade in active">-->
                <!--<div class="row withpadding">-->
                    <!--<a *ngIf="canCreateNewTopic()" [routerLink]="['/corpMeetings/edit/',0 ]" class="btn btn-primary pull-right">NEW</a>-->
                <!--</div>-->
                <!--<br/>-->

                <!--<div class="jumbotron">-->
                    <!--<form (ngSubmit)="searchICMeetingTopics(0)">-->
                        <!--<div class="row">-->
                            <!--<div class="col-md-12">-->
                                <!--<div class="col-md-5">-->
                                    <!--<label for="searchText">Search Text</label>-->
                                    <!--<div class="form-group">-->
                                        <!--<input type="text" name="searchText" id="searchText" class="form-control"-->
                                               <!--placeholder="Search in description or tags...." [(ngModel)]="icTopicSearchParams.searchText"/>-->
                                    <!--</div>-->
                                <!--</div>-->
                                <!--<div class="col-md-2">-->
                                    <!--<label for="fromDateDTPickeer">IC Date From</label>-->
                                    <!--<div class='input-group date col-md-2' id='fromDateDTPickeer' style="width: 100%">-->
                                        <!--<input type='text' class="form-control" id="fromDate" name="fromDate" style="font-size: small" [(ngModel)]="icTopicSearchParams.dateFrom"/>-->
                                    <!--<span class="input-group-addon">-->
                                        <!--<span class="glyphicon glyphicon-calendar"></span>-->
                                    <!--</span>-->
                                    <!--</div>-->
                                <!--</div>-->
                                <!--<div class="col-md-2">-->
                                    <!--<label for="untilDateDTPickeer">IC Date To</label>-->
                                    <!--<div class='input-group date col-md-2' id='untilDateDTPickeer' style="width: 100%">-->
                                        <!--<input type='text' class="form-control" id="toDate" name="toDate"style="font-size: small" [(ngModel)]="icTopicSearchParams.dateTo"/>-->
                                    <!--<span class="input-group-addon">-->
                                        <!--<span class="glyphicon glyphicon-calendar"></span>-->
                                    <!--</span>-->
                                    <!--</div>-->
                                <!--</div>-->
                                <!--<div class="col-md-3">-->
                                    <!--<label for="icSearchNumber">IC №</label>-->
                                    <!--<div class="form-group">-->
                                        <!--<input type="text" name="icSearchNumber" id="icSearchNumber" class="form-control"-->
                                               <!--placeholder="IC № ..." [(ngModel)]="icTopicSearchParams.icNumber"/>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="row">-->
                            <!--<div class="col-md-12">-->
                                <!--<div class="col-md-4">-->
                                    <!--<select class="form-control" id="type" name="type" [(ngModel)]="icTopicSearchParams.type">-->
                                        <!--<option *ngIf="icMeetingTopicTypes?.length > 1" value="NONE">-&#45;&#45;</option>-->
                                        <!--<option *ngFor = "let type of icMeetingTopicTypes" [value]="type.code">{{type.nameEn}}</option>-->
                                    <!--</select>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="row">-->
                            <!--&nbsp;-->
                        <!--</div>-->
                        <!--<div class="row">-->
                            <!--<div class="col-md-12">-->
                                <!--<button type="button" class="btn-xs btn-default pull-left" (click)="clearSearchForm()">-->
                                    <!--&lt;!&ndash;<i class="glyphicon glyphicon-trash"></i>&ndash;&gt;Reset-->
                                <!--</button>-->
                                <!--<button type="submit"class="btn btn-success pull-right">Search</button>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</form>-->
                <!--</div>-->
                <!--<div>-->
                    <!--<label>Total found:  <span>{{icTopicSearchResult?.totalElements > 0 ? icTopicSearchResult?.totalElements : 0}}</span></label>-->
                <!--</div>-->
                <!--<div class="row withpadding" style="position: relative; min-height: 80px;">-->
                    <!--<div class="row pull-right">-->
                        <!--<ul class="pagination" *ngIf="icTopicSearchResult?.showPageFrom > 0">-->
                            <!--<li><a *ngIf="icTopicSearchResult?.showPageFrom > 1" (click)="search(icTopicSearchResult.showPageFrom - 1)">&laquo;</a></li>-->
                            <!--<li *ngFor="let i of range(icTopicSearchResult.showPageFrom, icTopicSearchResult.showPageTo)" [class.active]="i == icTopicSearchResult.currentPage">-->
                                <!--<a (click)="search(i)">{{i}}</a>-->
                            <!--</li>-->
                            <!--<li><a *ngIf="icTopicSearchResult.showPageTo < icTopicSearchResult.totalPages" (click)="search(icTopicSearchResult.showPageTo + 1)">&raquo;</a></li>-->
                        <!--</ul>-->
                    <!--</div>-->
                    <!--<table [ngBusy]="busy"  class = "table table-hover">-->
                        <!--<thead>-->
                        <!--<tr>-->
                            <!--<th width="10%">IC NUMBER</th>-->
                            <!--<th width="10%">IC DATE</th>-->
                            <!--<th width="10%">TYPE</th>-->
                            <!--<th width="70%">SHORT NAME</th>-->

                        <!--</tr>-->
                        <!--</thead>-->

                        <!--<tbody>-->
                        <!--<tr *ngFor="let topic of icTopics"  style="cursor: pointer" (click)="navigate(topic.id)">-->
                            <!--<td width="10%" >{{topic?.icMeeting?.number}}</td>-->
                            <!--<td width="10%">{{topic?.icMeeting?.date}}</td>-->
                            <!--<td width="10%">{{topic?.type}}</td>-->
                            <!--<td width="70%">{{topic.shortName}}</td>-->

                        <!--</tr>-->
                        <!--</tbody>-->
                    <!--</table>-->
                    <!--<div class="row pull-right">-->
                        <!--<ul class="pagination" *ngIf="icTopicSearchResult?.showPageFrom > 0">-->
                            <!--<li><a *ngIf="icTopicSearchResult?.showPageFrom > 1" (click)="search(icTopicSearchResult.showPageFrom - 1)">&laquo;</a></li>-->
                            <!--<li *ngFor="let i of range(icTopicSearchResult.showPageFrom, icTopicSearchResult.showPageTo)" [class.active]="i == icTopicSearchResult.currentPage">-->
                                <!--<a (click)="search(i)">{{i}}</a>-->
                            <!--</li>-->
                            <!--<li><a *ngIf="icTopicSearchResult.showPageTo < icTopicSearchResult.totalPages" (click)="search(icTopicSearchResult.showPageTo + 1)">&raquo;</a></li>-->
                        <!--</ul>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->

            <!--<div id="ic_list" class="tab-pane fade">-->
                <!--<div class="row withpadding">-->
                    <!--<a class="btn btn-primary pull-right" data-toggle="modal" data-target="#newICModal" (click)="editICMeeting(null)">NEW</a>-->
                <!--</div>-->

                <!--<div class="jumbotron">-->
                    <!--<form (ngSubmit)="searchICMeetingTopics(0)">-->
                        <!--<div class="row">-->
                            <!--<div class="col-md-12">-->
                                <!--<div class="col-md-2">-->
                                    <!--<label for="fromDateDTPickeerIC">IC Date From</label>-->
                                    <!--<div class='input-group date col-md-2' id='fromDateDTPickeerIC' style="width: 100%">-->
                                        <!--<input type='text' class="form-control" id="fromDateIC" name="fromDate" style="font-size: small" [(ngModel)]="icMeetingsSearchParams.dateFrom"/>-->
                                    <!--<span class="input-group-addon">-->
                                        <!--<span class="glyphicon glyphicon-calendar"></span>-->
                                    <!--</span>-->
                                    <!--</div>-->
                                <!--</div>-->
                                <!--<div class="col-md-2">-->
                                    <!--<label for="untilDateDTPickeerIC">IC Date To</label>-->
                                    <!--<div class='input-group date col-md-2' id='untilDateDTPickeerIC' style="width: 100%">-->
                                        <!--<input type='text' class="form-control" id="toDateIC" name="toDate"style="font-size: small" [(ngModel)]="icMeetingsSearchParams.dateTo"/>-->
                                    <!--<span class="input-group-addon">-->
                                        <!--<span class="glyphicon glyphicon-calendar"></span>-->
                                    <!--</span>-->
                                    <!--</div>-->
                                <!--</div>-->
                                <!--<div class="col-md-3">-->
                                    <!--<label for="icSearchNumberIC">IC №</label>-->
                                    <!--<div class="form-group">-->
                                        <!--<input type="text" name="icSearchNumberIC" id="icSearchNumberIC" class="form-control"-->
                                               <!--placeholder="IC № ..." [(ngModel)]="icMeetingsSearchParams.number"/>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="row">-->
                            <!--<div class="col-md-12">-->
                                <!--<button type="button"class="btn-xs btn-default pull-left" (click)="clearSearchFormIC()">-->
                                    <!--&lt;!&ndash;<i class="glyphicon glyphicon-trash"></i>&ndash;&gt;Reset-->
                                <!--</button>-->
                                <!--<button type="button" class="btn btn-success pull-right" (click)="searchIC()">Search</button>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</form>-->
                <!--</div>-->
                <!--<div>-->
                    <!--<label>Total found:  <span>{{icMeetingsSearchResult?.totalElements > 0 ? icMeetingsSearchResult?.totalElements : 0}}</span></label>-->
                <!--</div>-->

                <!--<div class="row">-->
                    <!--<div class="row pull-right">-->
                        <!--<ul class="pagination" *ngIf="icMeetingsSearchResult?.showPageFrom > 0">-->
                            <!--<li><a *ngIf="icMeetingsSearchResult?.showPageFrom > 1" (click)="searchIC(icMeetingsSearchResult.showPageFrom - 1)">&laquo;</a></li>-->
                            <!--<li *ngFor="let i of range(icMeetingsSearchResult.showPageFrom, icMeetingsSearchResult.showPageTo)" [class.active]="i == icMeetingsSearchResult.currentPage">-->
                                <!--<a (click)="searchIC(i)">{{i}}</a>-->
                            <!--</li>-->
                            <!--<li><a *ngIf="icMeetingsSearchResult.showPageTo < icMeetingsSearchResult.totalPages" (click)="searchIC(icMeetingsSearchResult.showPageTo + 1)">&raquo;</a></li>-->
                        <!--</ul>-->
                    <!--</div>-->
                    <!--<table [ngBusy]="busy" class="table table-hover">-->
                        <!--<thead>-->
                        <!--<tr>-->
                            <!--<th>IC NUMBER</th>-->
                            <!--<th>IC DATE</th>-->
                            <!--<th>STATUS</th>-->
                            <!--<th>NUM.OF TOPICS</th>-->
                            <!--<th>ACTIONS</th>-->
                            <!--<th>PROTOCOL</th>-->
                        <!--</tr>-->
                        <!--</thead>-->
                        <!--<tbody>-->
                        <!--<tr *ngFor = "let icMeeting of icMeetings" style="cursor: pointer" >-->
                            <!--<td>{{icMeeting.number}}</td>-->
                            <!--<td>{{icMeeting.date}}</td>-->
                            <!--<td>{{icMeeting.closed ? 'CLOSED' : 'OPEN'}}</td>-->
                            <!--<td>{{icMeeting.numberOfTopics}}</td>-->
                            <!--<td>-->
                                <!--<button class="btn btn-xs btn-success" (click)="editICMeeting(icMeeting)" *ngIf="!icMeeting.closed" data-toggle="modal" data-target="#newICModal"><span class="glyphicon glyphicon-pencil"></span></button>-->
                                <!--<button class="btn btn-xs btn-danger" (click)="deleteICMeeting(icMeeting)" *ngIf="!icMeeting.closed && icMeeting.numberOfTopics == 0"><span class="glyphicon glyphicon-trash"></span></button>-->
                            <!--</td>-->
                            <!--<td>-->
                                <!--<button *ngIf="canAddProtocol(icMeeting)" class="btn btn-primary" (click)="showAddProtocolModal(icMeeting)" data-toggle="modal" data-target="#addProtocolModal">Add protocol</button>-->

                                <!--<div *ngIf="canViewProtocol(icMeeting)">-->

                                    <!--<file-attachment-downloader fileId="{{icMeeting?.protocolFileId}}"-->
                                                                <!--fileName="{{icMeeting?.protocolFileName}}"-->
                                                                <!--displayFileName="{{icMeeting?.protocolFileId > 0 ? 'PROTOCOL' : ''}}"-->
                                                                <!--fileType="IC_PRTCL">-->
                                    <!--</file-attachment-downloader>-->

                                    <!--<button  class="btn btn-xs btn-danger" (click)="deleteICMeetingProtocol(icMeeting)" *ngIf="icMeeting.protocolFileId > 0"><span class="glyphicon glyphicon-trash"></span></button>-->

                                <!--</div>-->
                            <!--</td>-->
                        <!--</tr>-->
                        <!--</tbody>-->
                    <!--</table>-->
                <!--</div>-->
                <!--<div class="row pull-right">-->
                    <!--<ul class="pagination" *ngIf="icMeetingsSearchResult?.showPageFrom > 0">-->
                        <!--<li><a *ngIf="icMeetingsSearchResult?.showPageFrom > 1" (click)="searchIC(icMeetingsSearchResult.showPageFrom - 1)">&laquo;</a></li>-->
                        <!--<li *ngFor="let i of range(icMeetingsSearchResult.showPageFrom, icMeetingsSearchResult.showPageTo)" [class.active]="i == icMeetingsSearchResult.currentPage">-->
                            <!--<a (click)="searchIC(i)">{{i}}</a>-->
                        <!--</li>-->
                        <!--<li><a *ngIf="icMeetingsSearchResult.showPageTo < icMeetingsSearchResult.totalPages" (click)="searchIC(icMeetingsSearchResult.showPageTo + 1)">&raquo;</a></li>-->
                    <!--</ul>-->
                <!--</div>-->

                <!--<div class="modal fade" id="newICModal" role="dialog" >-->
                    <!--<div [ngBusy]="busyCreate" class="modal-dialog" style="min-height: 100px; max-height:85%;  margin-top: 100px; margin-bottom:50px; width:65%;">-->
                        <!--<div class="modal-content">-->
                            <!--<div class="modal-body">-->
                                <!--<div class="row">-->
                                    <!--<div class="col-md-12">-->
                                        <!--<div class="alert alert-danger" *ngIf="modalErrorMessage != null"><span>{{modalErrorMessage}}</span>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                    <!--<div class="col-md-12">-->
                                        <!--<div class="alert alert-info" *ngIf="modalSuccessMessage != null"><span>{{modalSuccessMessage}}</span>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</div>-->
                                <!--<div class="row">-->
                                    <!--<div class="col-md-1">-->
                                        <!--<label for="ICDateDTPickeer">IC Date</label>-->
                                    <!--</div>-->
                                    <!--<div class="col-md-3">-->
                                        <!--<div class='input-group date col-md-2' id='ICDateDTPickeer' style="width: 100%">-->
                                            <!--<input type='text' required class="form-control" id="ICDate" name="ICDate" style="font-size: small" [(ngModel)]="icMeeting.date"/>-->
                                            <!--<span class="input-group-addon">-->
                                                <!--<span class="glyphicon glyphicon-calendar"></span>-->
                                            <!--</span>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                    <!--<div class="col-md-1">-->
                                        <!--<label for="ICNumber">IC №</label>-->
                                    <!--</div>-->
                                    <!--<div class="col-md-2">-->
                                        <!--<input type="text" required name="ICNumber" id="ICNumber" class="form-control"-->
                                                   <!--placeholder="IC number...." [(ngModel)]="icMeeting.number"/>-->
                                    <!--</div>-->
                                <!--</div>-->
                                <!--<br/>-->
                                <!--&lt;!&ndash;<div class="row">&ndash;&gt;-->
                                    <!--&lt;!&ndash;<div class="col-md-12">&ndash;&gt;-->
                                        <!--&lt;!&ndash;<div class="col-md-6">&ndash;&gt;-->
                                            <!--&lt;!&ndash;<div class="col-md-2">&ndash;&gt;-->
                                                <!--&lt;!&ndash;<label>Status</label>&ndash;&gt;-->
                                            <!--&lt;!&ndash;</div>&ndash;&gt;-->
                                            <!--&lt;!&ndash;<div class="col-md-4">&ndash;&gt;-->
                                                <!--&lt;!&ndash;<select class="form-control" [(ngModel)]="icMeeting.closed">&ndash;&gt;-->
                                                    <!--&lt;!&ndash;<option [ngValue]="false">OPEN</option>&ndash;&gt;-->
                                                    <!--&lt;!&ndash;<option [ngValue]="true">CLOSED</option>&ndash;&gt;-->
                                                <!--&lt;!&ndash;</select>&ndash;&gt;-->
                                            <!--&lt;!&ndash;</div>&ndash;&gt;-->
                                        <!--&lt;!&ndash;</div>&ndash;&gt;-->
                                        <!--&lt;!&ndash;<div class="col-md-6">&ndash;&gt;-->
                                            <!--&lt;!&ndash;<div class="jumbotron" style="padding-top: 5px; padding-bottom: 5px;">&ndash;&gt;-->
                                                <!--&lt;!&ndash;<div class="row">&ndash;&gt;-->
                                                    <!--&lt;!&ndash;<label>PROTOCOL</label>&ndash;&gt;-->
                                                <!--&lt;!&ndash;</div>&ndash;&gt;-->

                                                <!--&lt;!&ndash;<div class="row" *ngIf="icMeeting.closed">&ndash;&gt;-->
                                                    <!--&lt;!&ndash;<label class="btn btn-primary col-md-3" for="attachmentFile">&ndash;&gt;-->
                                                        <!--&lt;!&ndash;<input type="file" id="attachmentFile" (change)="onFileChangeProtocol($event)" name="file" style="display:none;"/>Upload</label>&ndash;&gt;-->
                                                    <!--&lt;!&ndash;<div class="col-md-6" class="label label-info" style="display: table;" *ngIf="uploadProtocolFile != null">&ndash;&gt;-->
                                                        <!--&lt;!&ndash;<span>{{uploadProtocolFile?.name}}</span>&nbsp;&ndash;&gt;-->
                                                        <!--&lt;!&ndash;<a (click)="deleteUnsavedAttachment()">&ndash;&gt;-->
                                                            <!--&lt;!&ndash;<i class="glyphicon glyphicon-trash"></i>&ndash;&gt;-->
                                                        <!--&lt;!&ndash;</a>&ndash;&gt;-->
                                                    <!--&lt;!&ndash;</div>&ndash;&gt;-->
                                                <!--&lt;!&ndash;</div>&ndash;&gt;-->

                                                <!--&lt;!&ndash;<div class="row" *ngIf="icMeeting?.protocolFileId > 0">&ndash;&gt;-->
                                                    <!--&lt;!&ndash;<file-attachment-downloader fileId="{{icMeeting?.protocolFileId}}"&ndash;&gt;-->
                                                                                <!--&lt;!&ndash;fileName="{{icMeeting?.protocolFileName}}"&ndash;&gt;-->
                                                                                <!--&lt;!&ndash;fileType="IC_PRTCL">&ndash;&gt;-->
                                                    <!--&lt;!&ndash;</file-attachment-downloader>&ndash;&gt;-->

                                                    <!--&lt;!&ndash;<a (click)="deleteProtocolAttachment(icMeeting?.protocolFileId)" *ngIf="!icMeeting.closed">&ndash;&gt;-->
                                                        <!--&lt;!&ndash;<i class="glyphicon glyphicon-trash"></i>&ndash;&gt;-->
                                                    <!--&lt;!&ndash;</a>&ndash;&gt;-->
                                                <!--&lt;!&ndash;</div>&ndash;&gt;-->
                                            <!--&lt;!&ndash;</div>&ndash;&gt;-->
                                        <!--&lt;!&ndash;</div>&ndash;&gt;-->
                                    <!--&lt;!&ndash;</div>&ndash;&gt;-->
                                <!--&lt;!&ndash;</div>&ndash;&gt;-->
                            <!--</div>-->
                            <!--<div class="modal-footer">-->
                                <!--<button type="button" class="btn btn-default pull-left" (click)="closeICSaveModal()" data-dismiss="modal">Close</button>-->
                                <!--<button type="button" class="btn btn-primary pull-right" (click)="saveICMeeting()">Save</button>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->

                <!--<div class="modal fade" id="addProtocolModal" role="dialog" >-->
                    <!--<div [ngBusy]="busyCreate" class="modal-dialog" style="min-height: 100px; max-height:85%;  margin-top: 100px; margin-bottom:50px; width:65%;">-->
                        <!--<div class="modal-content">-->
                            <!--<div class="modal-body">-->
                                <!--<div class="row">-->
                                    <!--<div class="col-md-12">-->
                                        <!--<div class="alert alert-danger" *ngIf="modalProtocolErrorMessage != null"><span>{{modalProtocolErrorMessage}}</span>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                    <!--<div class="col-md-12">-->
                                        <!--<div class="alert alert-info" *ngIf="modalProtocolSuccessMessage != null"><span>{{modalProtocolSuccessMessage}}</span>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</div>-->
                                <!--<div class="row">-->
                                    <!--<div class="col-md-12">-->
                                        <!--<div class="alert alert-warning"><span>Uploading IC protocol will make it CLOSED for editing</span>-->
                                        <!--</div>-->
                                    <!--</div>-->

                                    <!--<div class="withpadding">-->
                                        <!--<h4>IC № {{icMeeting.number}}</h4>-->
                                    <!--</div>-->

                                    <!--<br/>-->
                                    <!--<div class="withpadding" *ngIf="!icMeeting.closed">-->
                                        <!--<label class="btn btn-primary col-md-2" for="attachmentFile">-->
                                            <!--<input type="file" id="attachmentFile" (change)="onFileChangeProtocol($event)" name="file" style="display:none;"/>Upload-->
                                        <!--</label>-->
                                        <!--<div class="row" *ngFor="let newFile of uploadProtocolFile" class="label label-info" style="display: table;">-->
                                            <!--<span>{{newFile.name}}</span> &nbsp;-->
                                            <!--<a (click)="deleteUnsavedAttachment()">-->
                                                <!--<i class="glyphicon glyphicon-trash"></i>-->
                                            <!--</a>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->
                            <!--<div class="modal-footer">-->
                                <!--<button type="button" class="btn btn-default pull-left" (click)="closeProtocolModal()" data-dismiss="modal">Close</button>-->
                                <!--<button type="button" *ngIf="uploadProtocolFile != null" class="btn btn-primary pull-right" [disabled]="uploadProtocolFile == null" (click)="saveProtocolAttachment()">Save</button>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    </div>
</div>
