<div class="header">
    <div class="container">
        <ul>

            <li style="float:left; background-color:#1D7D35;">
                <!--<a href="#about">-->
                <!--<h4><span class="label label-primary">NIC System</span></h4>-->
                <img src="app/static/img/nic.png" height="50" width="35"/>
                <!--</a>-->
            </li>
            <li style="padding-top: 1%; padding-bottom: 1%; padding-left: 1%;">
                <span style="color: #7B7A7A; font-family: Arial; font-weight: bold; font-size: medium;">NATIONAL | INVESTMENT | CORPORATION</span>
                <!--<a href="#about">-->
                <!--<h4><span class="label label-primary">NIC System</span></h4>-->
                <!--<img th:src="@{/img/nic-name-logo.png}" height="40" width="600"/>-->
                <!--</a>-->
            </li>
        </ul>
        <div class="row" style="padding-left: 15px; padding-right: 15px;">
            <div class="col-md-12" style="background-color:#DEBA5B;height: 5px;">
            </div>
        </div>
    </div>
    <br/>
</div>

<router-outlet></router-outlet>