<div class="container">
    <!--<h4><small>login: user pass: Qwerty123</small></h4>-->
    <!--<div class="row">-->
        <!--<div class="col-md-12">-->
            <!--<div class='tableauPlaceholder' style='width: 100%; height: 1936px;'>-->
                <!--<object class='tableauViz' width='100%' height='1936' style='display:none;'>-->
                    <!--<param name='host_url' value='http%3A%2F%2F192.168.111.36%2F' />-->
                    <!--<param name='site_root' value='' />-->
                    <!--<param name='name' value='AXIOMA&#47;axioma_report' />-->
                    <!--<param name='tabs' value='no' />-->
                    <!--<param name='toolbar' value='no' />-->
                    <!--<param name='showShareOptions' value='false' />-->
                <!--</object>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->

    <ul class="nav nav-tabs">
        <li class="active">
            <a data-toggle="tab" href="#liquidity">LIQUIDITY</a>
        </li>
        <li>
            <a data-toggle="tab" href="#singularity">SINGULARITY</a>
        </li>
        <li>
            <a data-toggle="tab" href="#tarragon">TARRAGON</a>
        </li>
    </ul>
    <div class="tab-content">
        <div id="liquidity" class="tab-pane fade in active">
            <div class="row">
                <div class="col-md-12">
                    <div id="report_liquidity">
                    </div>
                </div>
            </div>
        </div>
        <div id="singularity" class="tab-pane fade">
            <div class="row">
                <div class="col-md-12">
                    <div id="report_singularity">
                    </div>
                </div>
            </div>
        </div>
        <div id="tarragon" class="tab-pane fade">
            <div class="row">
                <div class="col-md-12">
                    <div id="report_tarragon">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>