<div class="container">
    <div class="row withpadding" style="position: relative; min-height: 80px;">
        <div [ngBusy]="busy">
            <div class="row top-buffer" >
                <div class="col-md-12">
                    <ol class="breadcrumb">
                        <li>
                            <span *ngIf="this.breadcrumbParams != null"><a [routerLink]="[this.searchParams.path, {params: this.breadcrumbParams }]">
                                {{searchParams.path.indexOf('/hf/managerProfile') != -1 ? 'Manager Profile' : searchParams.path == '/m2s2' ? 'M2S2' : searchParams.path }}</a></span>
                            <span *ngIf="this.breadcrumbParams == null"><a [routerLink]="['/m2s2']">M2S2</a></span>
                        </li>
                        <li class="active">HF Memo</li>
                    </ol>
                </div>
            </div>
            <div class="row top-buffer" >
                <div class="col-md-12">
                    <div class="alert alert-danger" *ngIf="errorMessage != null"><span>{{errorMessage}}</span>
                    </div>
                    <div class="alert alert-info" *ngIf="!submitted && successMessage != null"><span>{{successMessage}}</span>
                    </div>
                </div>
            </div>
            <div [hidden]="submitted">
                <form (ngSubmit)="save()" #memoForm="ngForm" class="well span">
                    <div class="jumbotron">
                        <div class="row">
                            <div class="form-group form-horizontal">
                                <label class="control-label col-md-1" for="managerId" ><b>Manager:</b></label>
                                <!--<label class="control-label">-->
                                    <!--<a [routerLink]="['/hf/managerProfile/', memo.manager.id]" target="_blank"><span><i class="glyphicon glyphicon-circle-arrow-right"></i></span></a>-->
                                <!--</label>-->
                                <div class="col-md-5">
                                    <select class="form-control" id="managerId" required
                                            [(ngModel)]="memo.manager.id" name="managerId" (change)="getManagerDataOnChange($event.target.value)"
                                            #managerId="ngModel" [disabled]="!canEdit()">
                                        <option *ngFor="let item of managerList" [value]="item.id">{{item.name}}</option>
                                    </select>
                                    <div [hidden]="managerId.valid || managerId.pristine" class="alert alert-danger">Manager is required</div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <table class="col-md-6 table-condensed">
                                <tr>
                                    <!--<td class="col-md-3"><b>AUM </b></td>-->
                                    <td class="col-md-3"><b>AUM </b>{{memo?.manager?.aum}} {{memo?.manager?.aum ? memo?.manager?.aumDigit : ''}} {{memo?.manager?.aum ? memo?.manager?.aumCurrency : ''}}</td>
                                <!--</tr>-->
                                <!--<tr>-->
                                    <!--<td class="col-md-3"><b>Inception</b></td>-->
                                    <td class="col-md-3"><b>Inception </b>{{memo?.manager?.inceptionDate}}</td>
                                </tr>
                            </table>
                        </div>
                        <br/>
                        <div class="panel-group" id="accordion">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseFund" (click)="toggleFund()">
                                 {{ showFundDetails ? 'Hide fund details &#9660;' : 'Show fund details &#9658;' }}</a>
                            <div *ngIf="memo.fund != null">
                                <br/>
                                <div id="collapseFund" [ngClass]="{'collapse in': memo.fund.id != null, 'collapse': memo.fund.id == null}">
                                    <div class="row">
                                        <div class="form-group form-horizontal">
                                            <label class="control-label col-md-1" for="fundSelect2" ><b>Fund:</b></label>
                                            <div class="col-md-5">
                                                <select class="form-control" id="fundSelect2" [(ngModel)]="memo.fund.id"
                                                        name="fundId" (change)="getFundData($event.target.value)" [disabled]="!canEdit()">
                                                    <option *ngFor="let item of memo.manager.funds" [value]="item.id">{{item.name}}</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="row">
                                        <table class="col-md-6 table-condensed">
                                            <tr>
                                                <td class="col-md-3"><b>Status </b> {{getStatusName(memo?.fund?.status)}}</td>
                                                <!--<td class="col-md-3">{{memo?.fund?.status}}</td>-->
                                                <!--<td class="col-md-3"><b>AUM</b></td>-->
                                                <td class="col-md-3"><b>AUM </b>{{memo?.fund?.aum}} {{memo?.fund?.aum ? memo?.fund?.aumDigit : ''}} {{memo?.fund?.aum ? memo?.fund?.aumCurrency : ''}}</td>
                                            </tr>
                                            <tr>
                                                <!--<td class="col-md-3"><b>Strategy</b></td>-->
                                                <td class="col-md-3"><b>Strategy </b>{{getStrategyName(memo?.fund?.strategy)}}</td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--<div *ngIf="memo.fund != null" >-->
                            <!--<div class="row">-->
                                <!--<div class="form-group form-horizontal">-->
                                    <!--<label class="control-label col-md-1" for="fundSelect" ><b>Fund:</b></label>-->
                                    <!--<div class="col-md-5">-->
                                        <!--<select class="form-control" id="fundSelect" [(ngModel)]="memo.fund.id" name="fundId" (change)="getFundData($event.target.value)">-->
                                            <!--<option *ngFor="let item of memo.manager.funds" [value]="item.id">{{item.name}}</option>-->
                                        <!--</select>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->
                            <!--<br>-->
                            <!--<div class="row">-->
                                <!--<table class="col-md-6 table-condensed">-->
                                    <!--<tr>-->
                                        <!--<td class="col-md-3"><b>Status</b></td>-->
                                        <!--<td class="col-md-3">{{memo?.fund?.status}}</td>-->
                                        <!--<td class="col-md-3"><b>AUM</b></td>-->
                                        <!--<td class="col-md-3">{{memo?.fund?.aum}} {{memo?.fund?.aumDigit}} {{memo?.fund?.aumCurrency}}</td>-->
                                    <!--</tr>-->
                                    <!--<tr>-->
                                        <!--<td class="col-md-3"><b>Strategy</b></td>-->
                                        <!--<td class="col-md-3">{{memo?.fund?.strategy}}</td>-->
                                    <!--</tr>-->
                                <!--</table>-->
                            <!--</div>-->
                        <!--</div>-->
                    </div>
                    <input type="hidden" name="memoId" />
                    <input type="hidden" id="memoType" name="memoType" />
                    <div class="row top-buffer" >
                        <div class="col-md-12">
                            <!--<div class="col-md-2">-->
                                <!--<label class="checkbox-inline">-->
                                    <!--<input type="radio" name="meetingtype" [ngModel]="memo.meetingType"-->
                                           <!--(ngModelChange)="memo.meetingType='MEETING'"  name="meetingType" value="MEETING">-->
                                    <!--<span>Meeting</span>-->
                                <!--</label>-->
                            <!--</div>-->
                            <!--<div class="col-md-2">-->
                                <!--<label class="checkbox-inline">-->
                                    <!--<input type="radio" name="meetingType" [ngModel]="memo.meetingType"-->
                                           <!--(ngModelChange)="memo.meetingType='CALL'; memo.meetingLocation='';"  name="meetingType" value="CALL">-->
                                    <!--<span>Call</span>-->
                                <!--</label>-->
                            <!--</div>-->
                        </div>
                    </div>
                    <div class="row top-buffer" >
                        <div class="form-group form-horizontal">
                            <div class="col-md-12">
                                <div class="col-md-6">

                                    <div class="col-md-3">
                                        <label class="checkbox-inline">
                                            <input type="radio" name="meetingtype" [ngModel]="memo.meetingType"
                                                   (ngModelChange)="memo.meetingType='MEETING'"  name="meetingType" value="MEETING">
                                            <span>Meeting</span>
                                        </label>
                                    </div>
                                    <div class="col-md-3">
                                        <label class="checkbox-inline">
                                            <input type="radio" name="meetingType" [ngModel]="memo.meetingType"
                                                   (ngModelChange)="memo.meetingType='CALL'; memo.meetingLocation='';"  name="meetingType" value="CALL">
                                            <span>Call</span>
                                        </label>
                                    </div>

                                    <!--<div class="row top-buffer" >-->
                                        <!--<label class="control-label col-md-3">Firm name:</label>-->
                                        <!--<div class="col-md-9">-->
                                            <!--<input id="firmName" name="firmName" class="form-control" placeholder="Enter firm..." maxlength="250"-->
                                                   <!--[(ngModel)]="memo.firmName"/>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                </div>
                                <div class="col-md-6">
                                    <div class="row top-buffer" >
                                        <div class="col-md-4">
                                            <div class='input-group date col-md-2' id='meetingDate' style="width: 100%">
                                                <input type="text" name="meetingDate" class="form-control" id="meetingDateValue" [(ngModel)]="memo.meetingDate"/>
                                                <span class="input-group-addon">
                                                    <span class="glyphicon glyphicon-calendar"></span>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class='input-group datetime col-md-3' id='timePicker' style="width: 100%">
                                                <input type='text' name="meetingTime" class="form-control" id="meetingTimeValue" [(ngModel)]="memo.meetingTime"/>
                                                <span class="input-group-addon">
                                                    <span class="glyphicon glyphicon-time"></span>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <input type="text" id="meetingLocation" name="meetingLocation" placeholder="Enter location..." [(ngModel)] = "memo.meetingLocation"
                                                   [disabled]="memo.meetingType != 'MEETING'" class="form-control col-md-2" maxlength="250"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row top-buffer">
                        <div class="form-group form-horizontal">
                            <div class="col-md-12">
                                <div class="col-md-6">
                                    <div class="row top-buffer">
                                        <label class="control-label col-md-3" for="arrangedBy">Arranged By:</label>
                                        <div class="col-md-3">
                                            <select id="arrangedBy" name="arrangedBy" class="form-control" [(ngModel)]="memo.arrangedBy"
                                                    (ngModelChange)="changeArrangedBy(); arranged.reset();">
                                                <option value="NIC">NIC</option>
                                                <option value="GP">GP</option>
                                                <option value="OTHER">Other</option>
                                            </select>
                                        </div>
                                        <div class="col-md-6">
                                            <textarea fz-elastic spellcheck="false" name="arrangedByDescription" class="form-control"
                                                          [disabled]="memo.arrangedBy != 'OTHER'" id="arrangedByDescription" maxlength="250" required #arranged="ngModel"
                                                          [(ngModel)]="memo.arrangedByDescription"></textarea>
                                            <div [hidden]="arranged.valid || arranged.pristine" class="alert alert-danger">
                                                Description is required
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row top-buffer">
                                        <label class="control-label col-md-3">Attendees (NIC):</label>
                                        <div class="col-md-6" *ngIf="attendeesList?.length > 0">
                                            <ng-select #attendeesSelect [initData]="memo.attendeesNIC"
                                                       [multiple]="true"
                                                       [items]="attendeesList"
                                                       (data)="refreshAttendeesNIC($event)"
                                                       (selected)="selected($event)"
                                                       (removed)="removed($event)"
                                                       placeholder="No attendee selected"></ng-select>
                                        </div>
                                    </div>
                                    <div class="row top-buffer">
                                        <div class="col-md-3">&nbsp;</div>
                                        <div class="col-md-9">
                                            <textarea fz-elastic spellcheck="false" name="attendeesNICOther"  type="text" placeholder="Other NIC attendees..." class="form-control"
                                                      maxlength="1000" id="attendeesNIC" [(ngModel)]="memo.attendeesNICOther"></textarea>
                                        </div>
                                    </div>
                                    <div class="row top-buffer">
                                        <label class="control-label col-md-3" for="attendeesDescription">Attendees (Other Party):</label>
                                        <div class="col-md-9">
                                            <textarea fz-elastic spellcheck="false" name="attendeesOther" type="text" class="form-control" id="attendeesDescription" maxlength="1000"
                                                      [(ngModel)]="memo.attendeesOther"></textarea>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                </div>
                                <!--<div class="col-md-6">-->
                                    <!--<div class="row top-buffer">-->
                                        <!--<div class="col-md-12">-->
                                            <!--<canvas id="myChart"></canvas>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</div>-->
                            </div>
                        </div>
                    </div>

                    <!--<div class="row top-buffer">-->
                        <!--<div class="col-md-12">-->
                            <!--<div class="col-md-6">-->
                                <!--&nbsp;-->
                            <!--</div>-->
                            <!--<div class="form form-horizontal">-->
                                <!--<div class="col-md-6">-->
                                    <!--<label class="control-label col-md-2" for="conviction">Score:<span id="averageScore"></span></label>-->
                                    <!--<label class="control-label col-md-2" for="conviction">Conviction:</label>-->
                                    <!--<div class="col-md-2">-->
                                        <!--<select id="conviction" name="conviction" class="form-control" [(ngModel)]="memo.conviction">-->
                                            <!--<option value="1">1</option>-->
                                            <!--<option value="2">2</option>-->
                                            <!--<option value="3">3</option>-->
                                            <!--<option value="4">4</option>-->
                                            <!--<option value="5">5</option>-->
                                        <!--</select>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->

                    <!--<a (click)="toggle()">Fund details {{ visible ? '&#9660;' : '&#9658;' }}</a>-->
                    <!--<div [hidden]="!visible">-->
                        <!--<div class="row top-buffer withpadding">-->
                            <!--<div class="col-md-5">-->
                                <!--<input type="text" placeholder="Fund name... " name="fundName" class="form-control" id="fundName"-->
                                       <!--[(ngModel)]="memo.fundName" name="fundName" maxlength="250"/>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<label class="control-label col-md-1">&nbsp;</label>-->
                        <!--<div class="row top-buffer">-->
                            <!--<div class="col-md-12">-->
                                <!--<label class="checkbox-inline col-md-2">-->
                                    <!--<input  type="checkbox" id="currentlyFundRaising" name="currentlyFundRaising" [(ngModel)]="memo.currentlyFundRaising"/>-->
                                    <!--<span>Currently fund-raising</span>-->
                                <!--</label>-->
                                <!--<label for="closingSchedule" class="col-md-1">Closing schedule</label>-->
                                <!--<div class="col-md-2">-->
                                    <!--<select id="closingSchedule" name="closingSchedule" class="form-control" [disabled]="!memo.currentlyFundRaising"-->
                                            <!--[(ngModel)]="memo.closingSchedule">-->
                                        <!--<option *ngFor="let item of closingScheduleList" [value]="item.code">{{item.nameEn}}</option>-->
                                    <!--</select>-->
                                <!--</div>-->
                                <!--<label for="size" class="col-md-1">Size, mn</label>-->
                                <!--<div class="col-md-2">-->
                                    <!--<input class="form-control" id="size" name="size" [(ngModel)]="memo.fundSize"/>-->
                                <!--</div>-->
                                <!--<div class="col-md-2">-->
                                    <!--<select id="sizeCurrency" name="sizeCurrency" class="form-control" [(ngModel)] = "memo.fundSizeCurrency">-->
                                        <!--<option *ngFor="let item of currencyList" [value]="item.code">{{item.nameEn}}</option>-->
                                    <!--</select>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="row top-buffer">-->
                            <!--<div class="col-md-12">-->
                                <!--<div class="col-md-5">&nbsp;</div>-->
                                <!--<label for="preinvested" class="col-md-1">Predecessor fund invested %</label>-->
                                <!--<div class="col-md-2">-->
                                    <!--<input class="form-control" id="preInvested" name="preInvested" [(ngModel)]="memo.preInvested"/>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->

                        <!--<div class="row top-buffer">-->
                            <!--<div class="col-md-12">-->
                                <!--<label class="checkbox-inline col-md-2">-->
                                    <!--<input type="checkbox" id="openingSoon" name="openingSoon" [(ngModel)] = "memo.openingSoon" />-->
                                    <!--<span>Opening soon</span>-->
                                <!--</label>-->
                                <!--<label for="openingSchedule" class="col-md-1">Opening schedule</label>-->
                                <!--<div class="col-md-2">-->
                                    <!--<select id="openingSchedule" class="form-control" name="openingSchedule" [disabled]="!memo.openingSoon" [(ngModel)]="memo.openingSchedule">-->
                                        <!--<option *ngFor="let item of openingScheduleList" [value]="item.code">{{item.nameEn}}</option>-->
                                    <!--</select>-->
                                <!--</div>-->
                                <!--<label class="col-md-1">Strategy</label>-->
                                <!--<div class="col-md-2" *ngIf="strategyList?.length > 0">-->
                                    <!--<ng-select #strategySelect [initData]="memo.strategies"-->
                                               <!--[multiple]="true"-->
                                               <!--[items]="strategyList"-->
                                               <!--(data)="refreshStrategy($event)"-->
                                               <!--(selected)="selected($event)"-->
                                               <!--(removed)="removed($event)"-->
                                               <!--placeholder="No strategy selected"></ng-select>-->
                                <!--</div>-->
                                <!--<label class="col-md-1">Geography</label>-->
                                <!--<div class="col-md-2" *ngIf="geographyList?.length > 0">-->
                                    <!--<ng-select #geographySelect [data]="memo.geographies"-->
                                               <!--[multiple]="true"-->
                                               <!--[items]="geographyList"-->
                                               <!--(data)="refreshGeography($event)"-->
                                               <!--(selected)="selected($event)"-->
                                               <!--(removed)="removed($event)"-->
                                               <!--placeholder="No geography selected"></ng-select>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="row top-buffer">-->
                            <!--<div class="col-md-12">-->
                                <!--<label class="col-md-2">Suitability(Y/N)</label>-->
                                <!--<div class="col-md-1">-->
                                    <!--<label class="checkbox-inline">-->
                                        <!--<input type="radio" [checked]="!memo.suitable"-->
                                               <!--(click)="setNonSuitable()" name="suitability" value=false/>-->
                                        <!--<span>N</span>-->
                                    <!--</label>-->
                                <!--</div>-->
                                <!--<div class="col-md-1">-->
                                    <!--<label class="checkbox-inline">-->
                                        <!--<input type="radio" name="suitability" [checked]="memo.suitable"-->
                                               <!--(click)="setSuitable()" value=true/>-->
                                        <!--<span>Y</span>-->
                                    <!--</label>-->
                                <!--</div>-->
                                <!--<div class="col-md-1">&nbsp;</div>-->
                                <!--<label for="nonsuitableReason" class="col-md-1">If No, why</label>-->
                                <!--<div class="col-md-5">-->
                                    <!--<textarea fz-elastic spellcheck="false"  class="form-control col-md-4" id="nonsuitableReason" name="nonsuitableReason" maxlength="1000"-->
                                        <!--[disabled]="memo.suitable" [(ngModel)]="memo.nonsuitableReason"></textarea>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->

                    <hr style="border-top: 1px solid #B5AEAE"/>



                    <!-- m2s2 refactoring. Fields will be removed after migration-->
                    <!--<div class="row top-buffer withpadding">-->
                            <!--<div class="col-md-12" style="background-color:#5bc0de; height: 34px">-->
                                <!--<div>-->
                                    <!--<div class="col-md-6">-->
                                        <!--<h5>MANAGEMENT AND TEAM</h5>-->
                                    <!--</div>-->
                                    <!--<div class="col-md-5">&nbsp;</div>-->
                                    <!--<div class="col-md-1">-->
                                        <!--<select id="managementAndTeamScore" name="managementAndTeamScore" class="form-control" (ngModelChange)="updateScore($event)"-->
                                            <!--[(ngModel)]="memo.managementAndTeamScore">-->
                                            <!--<option value="1">1</option>-->
                                            <!--<option value="2">2</option>-->
                                            <!--<option value="3">3</option>-->
                                            <!--<option value="4">4</option>-->
                                            <!--<option value="5">5</option>-->
                                        <!--</select>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--<div class="row top-buffer withpadding">-->
                        <!--<div class="col-md-12 nopadding">-->
                            <!--<textarea fz-elastic spellcheck="false"  class="form-control" name="managementAndTeamNotes" [(ngModel)]="memo.managementAndTeamNotes"></textarea>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="row top-buffer withpadding">-->
                        <!--<div class="col-md-12" style="background-color:#5bc0de; height: 34px">-->
                            <!--<div class="col-md-6">-->
                                <!--<h5>STRATEGY AND INVESTMENT PROCESS</h5>-->
                            <!--</div>-->
                            <!--<div class="col-md-5">&nbsp;</div>-->
                            <!--<div class="col-md-1">-->
                                <!--<select id="strategyScore" name="strategyScore" class="form-control" (ngModelChange)="updateScore()"-->
                                        <!--[(ngModel)]="memo.strategyScore">-->
                                    <!--<option value="1">1</option>-->
                                    <!--<option value="2">2</option>-->
                                    <!--<option value="3">3</option>-->
                                    <!--<option value="4">4</option>-->
                                    <!--<option value="5">5</option>-->
                                <!--</select>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="row top-buffer withpadding">-->
                        <!--<div class="col-md-12 nopadding">-->
                            <!--<textarea fz-elastic spellcheck="false"  name="strategyNotes" class="form-control" [(ngModel)]="memo.strategyNotes"></textarea>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="row top-buffer withpadding">-->
                        <!--<div class="col-md-12" style="background-color:#5bc0de; height: 34px">-->
                            <!--<div class="col-md-6">-->
                                <!--<h5>PORTFOLIO OVERVIEW AND CONSTRUCTION</h5>-->
                            <!--</div>-->
                            <!--<div class="col-md-5">&nbsp;</div>-->
                            <!--<div class="col-md-1">-->
                                <!--<select id="portfolioScore" name="portfolioScore" class="form-control" (ngModelChange)="updateScore()"-->
                                        <!--[(ngModel)]="memo.portfolioScore">-->
                                    <!--<option value="1">1</option>-->
                                    <!--<option value="2">2</option>-->
                                    <!--<option value="3">3</option>-->
                                    <!--<option value="4">4</option>-->
                                    <!--<option value="5">5</option>-->
                                <!--</select>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="row top-buffer withpadding">-->
                        <!--<div class="col-md-12 nopadding">-->
                            <!--<textarea fz-elastic spellcheck="false" name="portfolioNotes" class="form-control" [(ngModel)]="memo.portfolioNotes"></textarea>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--until here-->


                    <div class="row top-buffer withpadding">
                        <div class="col-md-12" style="background-color:#5bc0de; height: 34px">
                            <div class="col-md-2">
                                <h5>TOPICS DUSCUSSED</h5>
                            </div>
                            <div class="col-md-10">&nbsp;</div>
                        </div>
                    </div>
                    <div class="row top-buffer withpadding">
                        <div class="col-md-12 nopadding">
                            <textarea fz-elastic spellcheck="false" name="otherNotes" class="form-control" [(ngModel)]="memo.otherNotes"></textarea>
                        </div>
                    </div>
                    <div class="row top-buffer withpadding">
                        <div class="col-md-12" style="background-color:#5bc0de; height: 34px">
                            <div class="col-md-2">
                                <h5>FOLLOW-UPS</h5>
                            </div>
                            <div class="col-md-10">&nbsp;</div>
                        </div>
                    </div>
                    <div class="row top-buffer withpadding">
                        <div class="col-md-6">
                            <label>NIC</label>
                        </div>
                        <div class="col-md-6">
                            <label>OTHER</label>
                        </div>
                    </div>
                    <div class="row top-buffer withpadding">
                        <div class="col-md-6 nopadding">
                            <textarea fz-elastic spellcheck="false" name="nicFollowups" class="form-control" [(ngModel)]="memo.nicFollowups"></textarea>
                        </div>
                        <div class="col-md-6 nopadding">
                            <textarea fz-elastic spellcheck="false" name="otherPartyFollowups" class="form-control" [(ngModel)]="memo.otherPartyFollowups"></textarea>
                        </div>
                    </div>
                    <br/>
                    <div class="row top-buffer">
                        <div class="col-md-6">
                            <div class="jumbotron" style="padding-top: 5px; padding-bottom: 5px;">
                                <div class="row">
                                    <label>ATTACHMENTS</label>
                                </div>

                                <div class="row" *ngIf="canEdit()">
                                    <label class="btn btn-primary col-md-2" for="attachmentFile">
                                        <input type="file" id="attachmentFile" (change)="onFileChange($event)" name="file" multiple style="display:none;"/>Add</label>

                                    <div class="col-md-4">
                                        <div class="row" *ngFor="let newFile of uploadFiles" class="label label-info" style="display: table;">
                                            <span>{{newFile.name}}</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="row" *ngIf="memo?.files?.length > 0">
                                    <div *ngFor="let attachment of memo.files">
                                        <memo-attachment-downloader fileId="{{attachment.id}}"
                                                                    fileName="{{attachment.fileName}}">
                                        </memo-attachment-downloader>

                                        <a (click)="deleteAttachment(attachment.id)" *ngIf="canEdit()">
                                            <i class="glyphicon glyphicon-trash"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form form-horizontal">
                                <div class="row">
                                    <label class="control-label">Author: {{memo.owner}}</label>
                                </div>
                                <div class="row" *ngIf="memo.updater != null || memo.updateDate != null">
                                    <label class="control-label" >Last Update: {{memo.updater}} {{memo.updateDate != null ? 'on ' + memo.updateDate : ''}}</label>
                                </div>
                                <!--<div class="col-md-4">-->
                                    <!--&lt;!&ndash;<input type="text" placeholder="Your name... " class="form-control col-md-4" id="author"&ndash;&gt;-->
                                    <!--&lt;!&ndash;name="author" maxlength="250" name="author" [(ngModel)]="memo.author"/>&ndash;&gt;-->
                                    <!--<span>{{memo.owner}}</span>-->
                                <!--</div>-->
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="col-md-4">
                                <tag-input name="tags"
                                           [ngModel]="memo.tags" ngDefaultControl
                                           (onRemove)="onItemRemoved($event)"
                                           (onAdd)="onItemAdded($event)"
                                           [placeholder]="options.placeholder"
                                           [secondaryPlaceholder]="options.secondaryPlaceholder"
                                           [maxItems]="options.maxItems"
                                           [separatorKeys]="options.separatorKeys">
                                </tag-input>
                            </div>
                        </div>
                    </div>
                    <div class="row top-buffer">
                        <div class="col-md-12">
                            <button type="submit" class="btn btn-success pull-right" [disabled]="!memoForm.form.valid" *ngIf="canEdit()">Save</button>
                        </div>
                    </div>
                </form>
            </div>
            <div [hidden]="!submitted">
                <div class="row top-buffer" >
                    <div class="col-md-12">
                        <div class="alert alert-info" *ngIf="successMessage != null"><span>{{successMessage}}</span>
                            <div class="row withpadding">
                                <h3>Memo for {{this.memo.manager.name}} was saved</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="btn btn-primary" [routerLink]="['/m2s2']">Back to menu</button>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
</div>