<div class="container" *ngIf="showMemo()">
    <div class="col-md-12">
        <div class="row">
            <div class="row top-buffer" >
                <div class="col-md-12">
                    <div class="alert alert-info" *ngIf="successMessage != null"><span>{{successMessage}}</span>
                    </div>
                </div>
            </div>
            <div class="row top-buffer" >
                <div class="col-md-12">
                    <div class="alert alert-danger" *ngIf="errorMessage != null"><span>{{errorMessage}}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="dropdown pull-right">
                    <button class="btn btn-primary dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">New
                        <span class="bootstrapCaret"></span></button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                        <li role="presentation" *ngIf="showPrivateEquity()">
                            <a [routerLink]="['/m2s2/edit/2/', 0]" role="menuitem" tabindex="-1" >Private Equity</a></li>
                        <li role="presentation" *ngIf="showRealEstate()">
                            <a [routerLink]="['/m2s2/edit/4/', 0]" role="menuitem" tabindex="-1" >Real Estate</a></li>
                        <li role="presentation" *ngIf="showInfrastructure()">
                            <a [routerLink]="['/m2s2/edit/5/', 0]" role="menuitem" tabindex="-1" >Infrastructure</a></li>
                        <li role="presentation" *ngIf="showHedgeFunds()">
                            <a [routerLink]="['/m2s2/edit/3/', 0]" role="menuitem" tabindex="-1" >Hedge Fund</a></li>
                        <li role="presentation" class="divider"></li>
                        <li role="presentation">
                            <a [routerLink]="['/m2s2/edit/1/', 0]" role="menuitem" tabindex="-1" >General</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <br/>
        <div class="jumbotron">
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="meetingType">Meeting Type</label>
                                <select class="form-control" id="meetingType" [(ngModel)]="searchParams.meetingType">
                                    <option value="NONE">---</option>
                                    <option *ngFor = "let type of meetingTypes" [value]="type.code">{{type.nameEn}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="memoType">Memo Type</label>
                                <select class="form-control" id="memoType" [(ngModel)]="searchParams.memoType">
                                    <option value="0">---</option>
                                    <option *ngFor = "let type of memoTypes" [value]="type.code">{{type.nameEn}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <label for="fromDateDTPickeer">From</label>
                            <div class='input-group date col-md-3' id='fromDateDTPickeer' style="width: 100%">
                                <input type='text' class="form-control" id="fromDate" [(ngModel)]="searchParams.fromDate"/>
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <label for="untilDateDTPickeer">To</label>
                            <div class='input-group date col-md-3' id='untilDateDTPickeer' style="width: 100%">
                                <input type='text' class="form-control" id="toDate" [(ngModel)]="searchParams.toDate"/>
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" >
                    <div class="form-check col-md-3">
                        <input id="myMemosCheck" class="form-check-input" type="checkbox" [(ngModel)]="searchParams.onlyMyOwn">
                        <label class="form-check-label" for="myMemosCheck">Show only mine</label>
                    </div>
                </div>
                <!--<div class="row">-->
                    <!--<div class="col-md-12">-->
                        <!--<div class="col-md-6">-->
                            <!--<div class="form-group">-->
                                <!--<label for="firmName">Firm</label>-->
                                <!--<input type="text" class="form-control" id="firmName" placeholder="Enter firm name..."-->
                                    <!--[(ngModel)]="searchParams.firmName"/>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="col-md-6">-->
                            <!--<div class="form-group">-->
                                    <!--<label for="fundName">Fund</label>-->
                                <!--<input type="text" class="form-control" id="fundName" placeholder="Enter fund name..."-->
                                       <!--[(ngModel)]="searchParams.fundName" [disabled]="searchParams.memoType == 'GENERAL'"/>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <br/>
                <div class="row">
                    <div class="col-md-12">
                        <div class="btn-toolbar pull-right">
                            <button type="button" class="btn btn-success" (click)="search()">Search</button>
                            <button type="button" class="btn btn-success" (click)="export()">Export into excel</button>
                        </div>
                    </div>
                </div>
        </div>
        <div>
            <label>Total found: <span>{{memoSearchResult?.totalElements > 0 ?  memoSearchResult?.totalElements : 0}}</span></label>
        </div>
        <div class="row withpadding" style="position: relative; min-height: 80px;">
            <div class="row pull-right">
                <ul class="pagination" *ngIf="memoSearchResult?.showPageFrom > 0">
                    <li><a *ngIf="memoSearchResult?.showPageFrom > 1" (click)="search(memoSearchResult.showPageFrom - 1)">&laquo;</a></li>
                    <li *ngFor="let i of range(memoSearchResult.showPageFrom, memoSearchResult.showPageTo)" [class.active]="i == memoSearchResult.currentPage">
                        <a (click)="search(i)">{{i}}</a>
                    </li>
                    <li><a *ngIf="memoSearchResult.showPageTo < memoSearchResult.totalPages" (click)="search(memoSearchResult.showPageTo + 1)">&raquo;</a></li>
                </ul>
            </div>
            <table [ngBusy]="busy" class="table table-hover">
                <thead>
                <tr>
                    <th>TYPE</th>
                    <th>MEETING/CALL</th>
                    <th>FIRM</th>
                    <th>FUND</th>
                    <th>MEETING DATE</th>
                    <th>AUTHOR</th>
                    <!--<th>ACTIONS</th>-->
                    <th>UPDATED</th>
                    <th>UPDATEDBY</th>
                    <th></th>
                </tr>
                </thead>

                <tbody>
                <tr *ngFor = "let memo of memoList" style="cursor: pointer">
                    <td width="5%" (click)="navigate(memo.memoType, memo.id)">{{getMemoTypeName(memo.memoType)}}</td>
                    <td width="10%" (click)="navigate(memo.memoType, memo.id)">{{getMeetingTypeName(memo.meetingType)}}</td>
                    <!--<td width="30%"><a style="cursor: pointer" (click)="navigate(memo.memoType, memo.id)">{{memo.firmName}}</a></td>-->
                    <!--<td width="30%"><a style="cursor: pointer" (click)="navigate(memo.memoType, memo.id)">{{memo.fundName}}</a></td>-->
                    <!--<td width="10%" th:text="${memoItem.meetingDate}"></td>-->
                    <td width="30%" (click)="navigate(memo.memoType, memo.id)">{{memo.firmName}}</td>
                    <td width="30%" (click)="navigate(memo.memoType, memo.id)"><span *ngIf="memo.fundName == null || memo.fundName == ''">---</span>{{memo.fundName}}</td>
                    <td width="10%" (click)="navigate(memo.memoType, memo.id)">{{memo.meetingDate}}</td>
                    <!--<td width="10%">{{memo.author}}</td>-->
                    <td width="5%" (click)="navigate(memo.memoType, memo.id)">{{memo.owner}}</td>
                    <td width="10%" (click)="navigate(memo.memoType, memo.id)">{{memo.updateDate}}</td>
                    <td width="5%" (click)="navigate(memo.memoType, memo.id)">{{memo.updater}}</td>
                    <!--<td width="5%">-->
                        <!--&lt;!&ndash;<a><i class="glyphicon glyphicon-trash"></i></a>&ndash;&gt;-->
                    <!--</td>-->
                    <td>
                        <button *ngIf="showDeleteMemoButton(memo)" type="button" class="btn-xs btn-danger" style="display: inline-block"  (click)="remove(memo)">
                            <span class="glyphicon glyphicon-minus"></span>
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="row pull-right">
                <ul class="pagination" *ngIf="memoSearchResult?.showPageFrom > 0">
                    <li><a *ngIf="memoSearchResult?.showPageFrom > 1" (click)="search(memoSearchResult.showPageFrom - 1)">&laquo;</a></li>
                    <li *ngFor="let i of range(memoSearchResult.showPageFrom, memoSearchResult.showPageTo)" [class.active]="i == memoSearchResult.currentPage">
                        <a (click)="search(i)">{{i}}</a>
                    </li>
                    <li><a *ngIf="memoSearchResult.showPageTo < memoSearchResult.totalPages" (click)="search(memoSearchResult.showPageTo + 1)">&raquo;</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>