<div class="container">
    <div class="row top-buffer" >
        <div class="col-md-12">
            <ol class="breadcrumb">
                <li><a [routerLink]="['/m2s2']">Meeting Memo</a></li>
                <li class="active">Private Equity</li>
            </ol>
        </div>
    </div>
    <div class="row top-buffer" >
        <div class="col-md-12">
            <div class="alert alert-info" *ngIf="successMessage != null"><span>{{successMessage}}</span>
            </div>
        </div>
    </div>
    <div class="row top-buffer" >
        <div class="col-md-12">
            <div class="alert alert-danger" *ngIf="errorMessage != null"><span>{{errorMessage}}</span>
            </div>
        </div>
    </div>
    <div class="row top-buffer" >
        <div class="col-md-12">
            <!--<div class="col-md-2">-->
                <!--<a [routerLink]="['/m2s2/list/']" class="btn btn-default pull-left">Back</a>-->
            <!--</div>-->
            <div class="col-md-2">
                <label class="checkbox-inline">
                    <input type="radio" [ngModel]="memo.meetingType"
                           (ngModelChange)="memo.meetingType='MEETING'"  name="meetingType" value="MEETING">
                    <span>Meeting</span>
                </label>
            </div>
            <div class="col-md-2">
                <label class="checkbox-inline">
                    <input type="radio" [ngModel]="memo.meetingType"
                           (ngModelChange)="memo.meetingType='CALL'; memo.meetingLocation='';"  name="meetingType" value="CALL">
                    <span>Call</span>
                </label>
            </div>
        </div>
    </div>
    <div class="row top-buffer" >
        <div class="col-md-12">
            <div class="col-md-6">
                <div class="row top-buffer" >
                    <label class="control-label col-md-3">Firm name:</label>
                    <div class="col-md-9">
                        <input id="firmName" class="form-control" placeholder="Enter firm..." maxlength="250"
                               [(ngModel)]="memo.firmName"/>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row top-buffer" >
                    <div class="col-md-4">
                        <div class='input-group date col-md-2' id='meetingDate' style="width: 100%">
                            <input type="text" class="form-control" id="meetingDateValue" [(ngModel)]="memo.meetingDate"/>
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class='input-group datetime col-md-3' id='timePicker' style="width: 100%">
                            <input type='text' class="form-control" id="meetingTimeValue" [(ngModel)]="memo.meetingTime"/>
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-time"></span>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <input type="text" id="meetingLocation" placeholder="Enter location..." [(ngModel)] = "memo.meetingLocation"
                               [disabled]="memo.meetingType != 'MEETING'" class="form-control col-md-2" maxlength="250"/>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row top-buffer">
        <div class="col-md-12">
            <div class="col-md-6">
                <div class="row top-buffer">
                    <label class="control-label col-md-3">Arranged By:</label>
                    <div class="col-md-3">
                        <select id="arrangedBySelect" class="form-control" [(ngModel)]="memo.arrangedBy"
                                (ngModelChange)="changeArrangedBy()">
                            <option value="NIC">NIC</option>
                            <option value="GP">GP</option>
                            <option value="OTHER">Other</option>
                        </select>
                    </div>
                    <div class="col-md-6">
                            <textarea   spellcheck="false" class="form-control"
                                      [disabled]="memo.arrangedBy != 'OTHER'" id="arrengedByDescription" maxlength="250"
                                      [(ngModel)]="memo.arrangedByDescription"></textarea>
                    </div>
                </div>
                <div class="row top-buffer">
                    <label class="control-label col-md-3">Purpose:</label>
                    <div class="col-md-9">
                        <textarea   spellcheck="false"  type="text" class="form-control" id="purpose" maxlength="1000"
                                  [(ngModel)]="memo.purpose"></textarea>
                    </div>
                </div>
                <div class="row top-buffer">
                    <label class="control-label col-md-3">Attendees (NIC):</label>
                    <div class="col-md-6" *ngIf="attendeesList?.length > 0">
                        <ng-select #attendeesSelect [initData]="memo.attendeesNIC"
                                   [multiple]="true"
                                   [items]="attendeesList"
                                   (data)="refreshAttendeesNIC($event)"
                                   (selected)="selected($event)"
                                   (removed)="removed($event)"
                                   placeholder="No attendee selected"></ng-select>
                    </div>
                </div>


                <div class="row top-buffer">
                    <div class="col-md-3">&nbsp;</div>
                    <div class="col-md-9">
                        <textarea   spellcheck="false"  type="text" placeholder="Other NIC attendees..." class="form-control"
                                  maxlength="1000" id="attendeesNIC" [(ngModel)]="memo.attendeesNICOther"></textarea>
                    </div>
                </div>
                <div class="row top-buffer">
                    <label class="control-label col-md-3" for="attendeesDescription">Attendees (Other Party):</label>
                    <div class="col-md-9">
                        <textarea   spellcheck="false"  type="text" class="form-control" id="attendeesDescription" maxlength="1000"
                                  [(ngModel)]="memo.attendeesOther"></textarea>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row top-buffer">
                    <div class="col-md-12">
                        <canvas id="myChart"></canvas>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="row top-buffer">
        <div class="col-md-12">
            <div class="col-md-6">
                &nbsp;
            </div>
            <div class="col-md-6">
                <label class="col-md-2">Score:<span id="averageScore"></span></label>
                <label class="col-md-2">Conviction:</label>
                <div class="col-md-2">
                    <select id="conviction" class="form-control" [(ngModel)]="memo.conviction">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <a (click)="toggle()">Fund details {{ visible ? '&#9660;' : '&#9658;' }}</a>
    <div [hidden]="!visible">
        <div class="row top-buffer withpadding">
            <div class="col-md-5">
                <input type="text" placeholder="Fund name... " class="form-control" id="fundName"
                    [(ngModel)]="memo.fundName" name="fundName" maxlength="250"/>
            </div>
        </div>
        <label class="control-label col-md-1">&nbsp;</label>
        <div class="row top-buffer">
            <div class="col-md-12">
                <!--<label class="checkbox-inline col-md-2">&nbsp;</label>-->
                <label class="checkbox-inline col-md-2">
                    <input  type="radio" id="currentlyFundRaising" [checked]="memo.currentlyFundRaising"
                    (click)="setCurrentlyFundRaising()"/>
                    <span>Currently fund-raising</span>
                </label>
                <label for="closingSchedule" class="col-md-1">Closing schedule</label>
                <div class="col-md-2">
                    <select id="closingSchedule" class="form-control" [disabled]="!memo.currentlyFundRaising"
                            [(ngModel)]="memo.closingSchedule">
                        <option *ngFor="let item of closingScheduleList" [value]="item.code">{{item.nameEn}}</option>
                    </select>
                </div>
                <label for="size" class="col-md-1">Size, mn</label>
                <div class="col-md-2">
                    <input class="form-control" id="size" [(ngModel)]="memo.fundSize"/>
                </div>
                <div class="col-md-2">
                    <select id="sizeCurrency" class="form-control" [(ngModel)] = "memo.fundSizeCurrency">
                        <option *ngFor="let item of currencyList" [value]="item.code">{{item.nameEn}}</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row top-buffer">
            <div class="col-md-12">
                <div class="col-md-5">&nbsp;</div>
                <label for="preinvested" class="col-md-1">Predecessor fund invested %</label>
                <div class="col-md-2">
                    <input class="form-control" id="preinvested" [(ngModel)]="memo.preInvested"/>
                </div>
            </div>
        </div>
        <div class="row top-buffer">
            <div class="col-md-12">
                <!--<label class="checkbox-inline col-md-2">&nbsp;</label>-->
                <label class="checkbox-inline col-md-2">
                    <input type="radio" id="openingSoon" [checked] = "memo.openingSoon"
                    (click)="setOpeningSoon()"/>
                    <span>Opening soon</span>
                </label>
                <label for="openingSchedule" class="col-md-1">Opening schedule</label>
                <div class="col-md-2">
                    <!--<input disabled="true" class="form-control" id="openingSchedule" th:field="${memo.openingSchedule}"/>-->
                    <select id="openingSchedule" class="form-control" [disabled]="!memo.openingSoon" [(ngModel)]="memo.openingSchedule">
                        <option *ngFor="let item of openingScheduleList" [value]="item.code">{{item.nameEn}}</option>
                    </select>
                </div>
                <label class="col-md-1">Strategy</label>
                <div class="col-md-2" *ngIf="strategyList?.length > 0">
                    <!--<select class="form-control" id="strategy" [(ngModel)]="memo.strategy">-->
                        <!--<option *ngFor="let item of strategyList" [value]="item.code">{{item.nameEn}}</option>-->
                    <!--</select>-->
                    <ng-select #strategySelect [initData]="memo.strategies"
                               [multiple]="true"
                               [items]="strategyList"
                               (data)="refreshStrategy($event)"
                               (selected)="selected($event)"
                               (removed)="removed($event)"
                               placeholder="No strategy selected"></ng-select>

                </div>
               <label class="col-md-1">Geography</label>
                <div class="col-md-2"  *ngIf="geographyList?.length > 0">
                    <!--<select id="geographySelect" class="form-control" multiple="multiple">-->
                        <!--<option value="NA">North America</option>-->
                        <!--<option value="EUR">Europe</option>-->
                        <!--<option value="ASIA">Asia</option>-->
                        <!--<option value="ROW">Row</option>-->
                        <!--&lt;!&ndash;<option *ngFor="let item of geographyList" [value]="item.code">{{item.nameEn}}</option>&ndash;&gt;-->
                    <!--</select>-->
                    <ng-select #geographySelect [initData]="memo.geographies"
                               [multiple]="true"
                               [items]="geographyList"
                               (data)="refreshGeography($event)"
                               (selected)="selected($event)"
                               (removed)="removed($event)"
                               placeholder="No geography selected"></ng-select>

                </div>
            </div>
        </div>
        <div class="row top-buffer">
            <div class="col-md-12">
                <label class="col-md-2">Suitability(Y/N)</label>
                <div class="col-md-1">
                    <label class="checkbox-inline">
                        <input type="radio" [checked]="!memo.suitable"
                               (click)="setNonSuitable()" name="suitability" value=false/>
                        <span>N</span>
                    </label>
                </div>
                <div class="col-md-1">
                    <label class="checkbox-inline">
                        <input type="radio" name="suitability" [checked]="memo.suitable"
                               (click)="setSuitable()" value=true/>
                        <span>Y</span>
                    </label>
                </div>
                <div class="col-md-1">&nbsp;</div>
                <label for="nonsuitableReason" class="col-md-1">If No, why</label>
                <div class="col-md-5">
                    <textarea   spellcheck="false"  class="form-control col-md-4" id="nonsuitableReason" maxlength="1000"
                        [disabled]="memo.suitable" [(ngModel)]="memo.nonsuitableReason"></textarea>
                </div>
            </div>
        </div>
    </div>
    <hr style="border-top: 1px solid #B5AEAE"/>
    <div class="row top-buffer withpadding">
        <div class="col-md-12" style="background-color:#5bc0de;">
            <div>
                <div class="col-md-6">
                    <span>GP AND TEAM</span>
                </div>
                <div class="col-md-5">&nbsp;</div>
                <div class="col-md-1">
                    <select id="teamScore" class="form-control" (ngModelChange)="updateScore($event)"
                        [(ngModel)]="memo.teamScore">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="row top-buffer withpadding">
        <div class="col-md-12 nopadding">
            <textarea   spellcheck="false"  class="form-control" [(ngModel)]="memo.teamNotes" ></textarea>
        </div>
    </div>
    <div class="row top-buffer withpadding">
        <div class="col-md-12" style="background-color:#5bc0de;">
            <div class="col-md-6">
                <span>TRACK RECORD</span>
            </div>
            <div class="col-md-5">&nbsp;</div>
            <div class="col-md-1">
                <select id="trackRecordScore" class="form-control" (ngModelChange)="updateScore()"
                        [(ngModel)]="memo.trackRecordScore">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
            </div>
        </div>
    </div>
    <div class="row top-buffer withpadding">
        <div class="col-md-12 nopadding">
            <textarea   spellcheck="false"  class="form-control" [(ngModel)]="memo.trackRecordNotes"></textarea>
        </div>
    </div>
    <div class="row top-buffer withpadding">
        <div class="col-md-12" style="background-color:#5bc0de;">
            <div class="col-md-6">
                <span>STRATEGY</span>
            </div>
            <div class="col-md-5">&nbsp;</div>
            <div class="col-md-1">
                <select id="strategyScore" class="form-control" (ngModelChange)="updateScore()"
                        [(ngModel)]="memo.strategyScore">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
            </div>
        </div>
    </div>
    <div class="row top-buffer withpadding">
        <div class="col-md-12 nopadding">
            <textarea   spellcheck="false"  class="form-control" [(ngModel)]="memo.strategyNotes"></textarea>
        </div>
    </div>
    <div class="row top-buffer withpadding">
        <div class="col-md-12" style="background-color:#5bc0de;">
            <div class="col-md-2">
                <span>OTHER INFO</span>
            </div>
            <div class="col-md-10">&nbsp;</div>
        </div>
    </div>
    <div class="row top-buffer withpadding">
        <div class="col-md-12 nopadding">
            <textarea   spellcheck="false"  class="form-control" [(ngModel)]="memo.otherNotes"></textarea>
        </div>
    </div>
    <div class="row top-buffer withpadding">
        <div class="col-md-12" style="background-color:#5bc0de;">
            <div class="col-md-2">
                <span>FOLLOW-UPS</span>
            </div>
            <div class="col-md-10">&nbsp;</div>
        </div>
    </div>
    <div class="row top-buffer withpadding">
        <div class="col-md-6">
            <label>NIC</label>
        </div>
        <div class="col-md-6">
            <label>OTHER</label>
        </div>
    </div>
    <div class="row top-buffer withpadding">
        <div class="col-md-6 nopadding">
            <textarea   spellcheck="false"  class="form-control" [(ngModel)]="memo.nicFollowups"></textarea>
        </div>
        <div class="col-md-6 nopadding">
            <textarea   spellcheck="false"  class="form-control" [(ngModel)]="memo.otherPartyFollowups"></textarea>
        </div>
    </div>
    <br/>
    <div class="row top-buffer">
        <div class="col-md-6">
            <div class="jumbotron" style="padding-top: 5px; padding-bottom: 5px;">
                <div class="row">
                    <label>ATTACHMENTS</label>
                </div>

                <div class="row">
                    <label class="btn btn-primary col-md-2" for="attachmentFile">
                        <input type="file" id="attachmentFile" (change)="onFileChange($event)" name="file" multiple style="display:none;"/>
                        Add
                    </label>

                    <div class="col-md-4">
                        <div class="row" *ngFor="let newFile of uploadFiles" class="label label-info" style="display: table;">
                            <span>{{newFile.name}}</span>
                        </div>
                    </div>
                </div>

                <div class="row" *ngIf="memo?.files?.length > 0">
                    <div *ngFor="let attachment of memo.files">
                        <memo-attachment-downloader fileId="{{attachment.id}}"
                                                    fileName="{{attachment.fileName}}">
                        </memo-attachment-downloader>

                        <a (click)="deleteAttachment(attachment.id)">
                            <i class="glyphicon glyphicon-trash"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <label class="col-md-2">Author:</label>
            <div class="col-md-4">
                <input type="text" placeholder="Your name... " class="form-control col-md-4" id="author"
                       name="author" maxlength="250" [(ngModel)]="memo.author"/>
            </div>
        </div>

        <div class="col-md-12">
            <div class="col-md-4">
                <tag-input [(ngModel)]='memo.tags' ngDefaultControl
                           (onRemove)="onItemRemoved($event)"
                           (onAdd)="onItemAdded($event)"
                           [placeholder]="options.placeholder"
                           [secondaryPlaceholder]="options.secondaryPlaceholder"
                           [maxItems]="options.maxItems"
                           [separatorKeys]="options.separatorKeys">
                </tag-input>
            </div>
        </div>
    </div>
    <div class="row top-buffer">
        <div class="col-md-12">
            <button type="button" class="btn btn-success pull-right" name="saveMemo" (click)="save()">Save</button>
        </div>
    </div>
</div>