<div class="container">
    <div class="row top-buffer">
        <div class="col-md-12">
            <div class="alert alert-danger" *ngIf="errorMessage != null"><span>{{errorMessage}}</span>
            </div>
            <div class="alert alert-info" *ngIf="successMessage != null"><span>{{successMessage}}</span>
            </div>
        </div>
    </div>
    <br/>
    <div class="jumbotron">
        <form (ngSubmit)="search()">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="lastName">Last name</label>
                            <input type="text" class="form-control" id="lastName" placeholder="Enter last name..."
                                   [(ngModel)]="searchParams.lastName" name="lastName"/>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="firstName">First name</label>
                            <input type="text" class="form-control" id="firstName" placeholder="Enter first name..."
                                   [(ngModel)]="searchParams.firstName" name="firstName"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="status">Status</label>
                            <select id="status" class="form-control" name="status" [(ngModel)]="searchParams.status">
                                <option value="NONE">--</option>
                                <option value="ACTIVE">ACTIVE</option>
                                <option value="INACTIVE">IN-ACTIVE</option>
                            </select>

                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <button type="submit" class="btn btn-success pull-right">Search</button>
                </div>
            </div>
        </form>
    </div>
    <div>
        <label>Total found: <span>{{searchResult?.totalElements > 0 ?  searchResult?.totalElements : 0}}</span></label>
    </div>
    <div class="row">
        <button type="button" class="btn btn-primary pull-right" (click)="navigate('newEmployee')">New employee</button>
    </div>
    <div class="row withpadding" style="position: relative; min-height: 80px;">
        <div class="row pull-right">
            <ul class="pagination" *ngIf="searchResult?.showPageFrom > 0">
                <li><a *ngIf="searchResult?.showPageFrom > 1" (click)="search(searchResult.showPageFrom - 1)">&laquo;</a></li>
                <li *ngFor="let i of range(searchResult.showPageFrom, searchResult.showPageTo)" [class.active]="i == searchResult.currentPage">
                    <a (click)="search(i)">{{i}}</a>
                </li>
                <li><a *ngIf="searchResult.showPageTo < searchResult.totalPages" (click)="search(searchResult.showPageTo + 1)">&raquo;</a></li>
            </ul>
        </div>
        <table [ngBusy]="busy" class="table table-hover">
            <thead>
            <tr>
                <th>LASTNAME</th>
                <th>FIRSTNAME</th>
                <th>DEPARTMENT</th>
                <th>USERNAME</th>
                <th>DATE OF BIRTH</th>
                <th>SYSTEM STATUS</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let employee of searchResult?.employees"  style="cursor: pointer" (click)="navigate(employee.username)">
                <td>{{employee.lastName}}</td>
                <td>{{employee.firstName}}</td>
                <td>{{employee.position?.department?.code}}</td>
                <td>{{employee.username}}</td>
                <td>{{getDateMonthTextDay(employee.birthDate)}}</td>
                <td>
                    <button *ngIf="employee.active == null || employee.active" disabled="true" class="btn btn-xs btn-success">ACTIVE</button>
                    <button *ngIf="employee.active != null && !employee.active" disabled="true" class="btn btn-xs btn-default">IN-ACTIVE</button>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="row pull-right">
            <ul class="pagination" *ngIf="searchResult?.showPageFrom > 0">
                <li><a *ngIf="searchResult?.showPageFrom > 1" (click)="search(searchResult.showPageFrom - 1)">&laquo;</a></li>
                <li *ngFor="let i of range(searchResult.showPageFrom, searchResult.showPageTo)" [class.active]="i == searchResult.currentPage">
                    <a (click)="search(i)">{{i}}</a>
                </li>
                <li><a *ngIf="searchResult.showPageTo < searchResult.totalPages" (click)="search(searchResult.showPageTo + 1)">&raquo;</a></li>
            </ul>
        </div>
    </div>
</div>