<div class="container">
    <ul class="nav nav-tabs">
        <li class="active">
            <a data-toggle="tab" href="#overview">OVERVIEW</a>
        </li>
        <li>
            <a data-toggle="tab" href="#idd">IDD</a>
        </li>
        <li>
            <a data-toggle="tab" href="#odd">ODD</a>
        </li>
        <li>
            <a data-toggle="tab" href="#quant_dd">QUANT DD</a>
        </li>
    </ul>

    <div class="tab-content">
        <div id="overview" class="tab-pane fade in active">
            <br/>
            <div class="row">
                <div class="col-md-9">
                    <h3>Grosvenor Capital Management</h3>
                </div>
            </div>
            <br/>

            <!--LEFT -->
            <div>
                <table class=" col-md-4 table-striped table-condensed">

                    <!--<tr>-->
                    <!--<td class="col-md-1">Manager Name</td>-->
                    <!--<td class="col-md-3">Gorsvenor Capital Management</td>-->
                    <!--</tr>-->
                    <tr>
                        <td class="col-md-1">Manager Type</td>
                        <td class="col-md-3">
                            <select style="width: 100%">
                                <option value="0">---</option>
                                <option value="0">Fund of funds</option>
                                <option value="0">Hedge Fund</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-1">Strategy</td>
                        <td class="col-md-3">
                            <select style="width: 100%">
                                <option value="0">---</option>
                                <option value="0">option 1</option>
                                <option value="0">option 2</option>
                                <option value="0">option 3</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-1">Manager Type</td>
                        <td class="col-md-3">
                            <select style="width: 100%">
                                <option value="0">---</option>
                                <option value="0">option 1</option>
                                <option value="0">option 2</option>
                                <option value="0">option 3</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-1">Status</td>
                        <td class="col-md-3">
                            <select style="width: 100%">
                                <option value="0">---</option>
                                <option value="0">option 1</option>
                                <option value="0">option 2</option>
                                <option value="0">option 3</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-1">Inception</td>
                        <td class="col-md-3">2012
                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-1">Legal Structure</td>
                        <td class="col-md-3">
                            <select style="width: 100%">
                                <option value="0">---</option>
                                <option value="0">option 1</option>
                                <option value="0">option 2</option>
                                <option value="0">option 3</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-1">Domicile Country</td>
                        <td class="col-md-3">
                            <select style="width: 100%">
                                <option value="0">---</option>
                                <option value="0">option 1</option>
                                <option value="0">option 2</option>
                                <option value="0">option 3</option>
                            </select>
                        </td>
                    </tr>

                    <h4>Contacts</h4>
                    <!--<tr>-->
                    <!--<td class="col-md-1">Manager Name</td>-->
                    <!--<td class="col-md-3">Gorsvenor Capital Management</td>-->
                    <!--</tr>-->
                    <tr>
                        <td class="col-md-1">Fund Managers</td>
                        <td class="col-md-3">
                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-1">Headquarters</td>
                        <td class="col-md-3">
                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-1">Telephone</td>
                        <td class="col-md-3">
                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-1">Fax</td>
                        <td class="col-md-3">
                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-1">Website</td>
                        <td class="col-md-3">
                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-1">Contact person</td>
                        <td class="col-md-3">
                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-1">Email</td>
                        <td class="col-md-3">
                        </td>
                    </tr>
                </table>
            </div>

            <!--RIGHT   -->
            <div></div>

        </div>
        <div id="idd" class="tab-pane fade">
            Investment Due Diligence
        </div>
        <div id="odd" class="tab-pane fade">
            Operational Due Diligence
        </div>
        <div id="quant_dd" class="tab-pane fade">
            Quantitative Due Diligence
        </div>
    </div>
</div>