<div class="container">
    <div class="row top-buffer" >
        <div class="col-md-12">
            <ol class="breadcrumb">
                <li>
                    <span *ngIf="this.breadcrumbParams != null"><a [routerLink]="['/hf/fundSearch', {params: this.breadcrumbParams}]">Funds Search</a></span>
                    <span *ngIf="this.breadcrumbParams == null"><a [routerLink]="['/hf/fundSearch']">Funds Search</a></span>
                </li>
                <li><a [routerLink]="['/hf/managerProfile',fund?.manager?.id]">Manager profile</a></li>
                <li class="active">Fund profile</li>
            </ol>
        </div>
    </div>
    <!--<div [ngSwitch]='status'>-->
    <!--<div *ngSwitchCase="'loading'">-->
    <!--&lt;!&ndash; all of the inline styles and massive SVG markup for my spinner &ndash;&gt;-->
    <!--Loading g g g g g g-->
    <!--</div>-->
    <!--<div *ngSwitchCase="'active'">-->
    <!--LOADED-->
    <!--</div>-->
    <!--</div>-->


    <div class="row top-buffer" >
        <div class="col-md-12">
            <div class="alert alert-danger" *ngIf="errorMessage != null"><span>{{errorMessage}}</span>
            </div>
        </div>
    </div>

    <ul class="nav nav-tabs">
        <li class="active">
            <a data-toggle="tab" href="#overview">OVERVIEW</a>
        </li>
        <!--<li>-->
            <!--<a data-toggle="tab" href="#idd">IDD</a>-->
        <!--</li>-->
        <!--<li>-->
            <!--<a data-toggle="tab" href="#odd">ODD</a>-->
        <!--</li>-->
        <!--<li>-->
        <!--<a data-toggle="tab" href="#quant_dd">QUANT DD</a>-->
        <!--</li>-->
    </ul>

    <div class="tab-content">
        <div id="overview" class="tab-pane fade in active">
            <br>
            <div [hidden]="submitted">
                <div style="position: relative;">
                    <div [ngBusy]="busy">
                        <form (ngSubmit)="save()" #fundForm="ngForm" class="well span">
                            <div class="row">
                                <div class="col-md-9">
                                    <input type="text" class="form-control" placeholder="Enter fund name..."
                                           name="name" [(ngModel)]="fund.name" required #name="ngModel"/>
                                    <div [hidden]="name.valid || name.pristine" class="alert alert-danger">Name is required</div>
                                </div>
                            </div>
                            <br/>
                            <div class="row">
                                <div class="col-md-12">
                                <textarea fz-elastic class="form-control" rows="5" placeholder="Enter fund summary..."
                                          name="summary" [(ngModel)]="fund.summary"></textarea>
                                </div>
                            </div>
                            <br/>
                            <div class="row withpadding">
                                <div class="col-md-4">
                                    <div class="row">
                                        <br/>
                                        <table class="table table-hover table-responsive table-condensed">
                                            <tr>
                                                <td>Inception date</td>
                                                <td>
                                                    <!--<input type="text" class="form-control" [(ngModel)]="fund.inception"/>-->
                                                    <div class='input-group date col-md-2' id='inceptionDate' style="width: 100%">
                                                        <input type="text" class="form-control" id="inceptionDateValue" name="inceptionDate" [(ngModel)]="fund.inceptionDate"/>
                                                    <span class="input-group-addon">
                                                        <span class="glyphicon glyphicon-calendar"></span>
                                                    </span>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Firm Name</td>
                                                <td><a [routerLink]="['/hf/managerProfile/', fund.manager.id]">{{fund.manager.name}}</a></td>
                                            </tr>
                                            <tr>
                                                <td>Firm AUM</td>
                                                <td>{{fund.manager.aumText}}</td>
                                            </tr>
                                            <tr>
                                                <td>Fund AUM</td>
                                                <td>
                                                    <input type="text" class="form-control" style="display:inline; width: 30%" name="aum" [(ngModel)]="fund.aum" pattern="[+]?[0-9]*\.?[0-9]+" #aum="ngModel"/>
                                                    <select class="form-control" style="display:inline; width: 25%" name="aumDigit" [(ngModel)]="fund.aumDigit">
                                                        <option value="M">M</option>
                                                        <option value="B">B</option>
                                                    </select>
                                                    <select class="form-control" style="display:inline; width: 35%" name="aumCurrency" [(ngModel)]="fund.aumCurrency">
                                                        <option value="-">--</option>
                                                        <option *ngFor="let currency of currencyLookup">{{currency.code}}</option>
                                                    </select>
                                                    <div [hidden]="aum.valid || aum.pristine" class="alert alert-danger">
                                                        Only positive number could be entered
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Strategy</td>
                                                <td>
                                                    <select class="form-control" style="width: 100%" name="strategy" [(ngModel)]="fund.strategy" (ngModelChange)="strategyChanged()"
                                                            [disabled]="fund.strategyBreakdownList != null && fund.strategyBreakdownList.length > 0">
                                                        <option value="-">---</option>
                                                        <option *ngFor="let item of strategyLookup" [value]="item.code">{{item.nameEn}}</option>
                                                    </select>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Num Months</td>
                                                <td>{{fund.numMonths}}</td>
                                            </tr>
                                            <tr>
                                                <td>Num Positive Months</td>
                                                <td>{{fund.numPositiveMonths}}</td>
                                            </tr>
                                            <tr>
                                                <td>Num Negative Months</td>
                                                <td>{{fund.numNegativeMonths}}</td>
                                            </tr>
                                            <tr>
                                                <td>Return Since Inception</td>
                                                <td>{{fund.returnSinceInception}}{{fund.returnSinceInception != null ? ' %' : ''}}</td>
                                            </tr>
                                            <tr>
                                                <td>Annualized Return</td>
                                                <td>{{fund.annualizedReturn}}{{fund.annualizedReturn != null ? ' %' : ''}} </td>
                                            </tr>
                                            <tr>
                                                <td>YTD</td>
                                                <td>{{fund.YTD}}</td>
                                            </tr>
                                            <tr>
                                                <td>Beta</td>
                                                <td>{{fund.beta}}</td>
                                            </tr>
                                            <tr>
                                                <td>Annual Volatility</td>
                                                <td>{{fund.annualVolatility}}{{fund.annualVolatility != null ? ' %' : ''}}</td>
                                            </tr>
                                            <tr>
                                                <td>Worst Drawdown</td>
                                                <td>
                                                    {{fund.worstDrawdown != null ? '- ' + fund.worstDrawdown + ' %' : ''}}
                                                    {{fund.worstDrawdownPeriod != null ? '(' + fund.worstDrawdownPeriod + ')': ''}}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Sharpe Ratio</td>
                                                <td>{{fund.sharpeRatio}}</td>
                                            </tr>
                                            <tr>
                                                <td>Sortino Ratio</td>
                                                <td>{{fund.sortinoRatio}}</td>
                                            </tr>
                                            <tr>
                                                <td>Levarage</td>
                                                <td><input type="text" class="form-control" name="leverage" [(ngModel)]="fund.leverage"/></td>
                                            </tr>
                                        </table>
                                    </div>

                                    <br/>
                                    <div class="row">
                                        <table>
                                            <tr>
                                                <td colspan="2">Fees & terms</td>
                                            </tr>
                                            <tr>
                                                <td width="60%">Status</td>
                                                <td width="40%">
                                                    <select class="form-control" style="width: 100%" name="status" [(ngModel)]="fund.status">
                                                        <option value="0">---</option>
                                                        <option *ngFor="let item of fundStatusLookup" [value]="item.code">{{item.nameEn}}</option>
                                                    </select>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Management Fee</td>
                                                <td>
                                                    <input type="text" class="form-control" name="managementFee" [(ngModel)]="fund.managementFee"/>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Performance Fee</td>
                                                <td><input type="text" class="form-control" name="performanceFee" [(ngModel)]="fund.performanceFee"/></td>
                                            </tr>
                                            <tr>
                                                <td>Redemption Fee</td>
                                                <td><input type="text" class="form-control" name="redemptionFee" [(ngModel)]="fund.redemptionFee"/></td>
                                            </tr>
                                            <tr>
                                                <td>Min initial Investment</td>
                                                <td><input type="text" class="form-control" name="minInitialInvestment" [(ngModel)]="fund.minInitialInvestment"/></td>
                                            </tr>
                                            <tr>
                                                <td>Minimum Subs Investment</td>
                                                <td><input type="text" class="form-control" name="minSubsInvestment" [(ngModel)]="fund.minSubsInvestment"/></td>
                                            </tr>
                                            <tr>
                                                <td>Subscription Frequency</td>
                                                <td>
                                                    <select class="form-control" style="width: 100%" name="subscriptionFrequency" [(ngModel)]="fund.subscriptionFrequency">
                                                        <option value="0">---</option>
                                                        <option *ngFor="let item of subscriptionFrequencyLookup" [value]="item.code">{{item.nameEn}}</option>
                                                    </select>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Redemption Frequency</td>
                                                <td>
                                                    <select class="form-control" style="width: 100%" name="redemptionFrequency" [(ngModel)]="fund.redemptionFrequency">
                                                        <option value="0">---</option>
                                                        <option *ngFor="let item of redemptionFrequencyLookup" [value]="item.code">{{item.nameEn}}</option>
                                                    </select>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Redemption Notice Period</td>
                                                <td>
                                                    <select class="form-control" style="width: 100%" name="redemptionNotificationPeriod" [(ngModel)]="fund.redemptionNotificationPeriod">
                                                        <option value="0">---</option>
                                                        <option *ngFor="let item of redemptionNotificationPeriodLookup" [value]="item.code">{{item.nameEn}}</option>
                                                    </select>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Side Pocket</td>
                                                <td>
                                                    <select class="form-control" style="width: 100%" name="sidePocket" [(ngModel)]="fund.sidePocket">
                                                        <option value="0">---</option>
                                                        <option *ngFor="let item of sidePocketLookup" [value]="item.code">{{item.nameEn}}</option>
                                                    </select>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Gates</td>
                                                <td><input type="text" class="form-control" name="gates" [(ngModel)]="fund.gates"/></td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>

                                <div class="col-md-1">&nbsp;</div>

                                <div class="col-md-3">
                                    <div class="row">
                                        <br/>
                                        <table class="table table-hover table-responsive table-condensed table-bordered">
                                            <thead>
                                            <tr>
                                                <td colspan="3">Strategy Breakdown &nbsp;
                                                    <button class="btn btn-xs btn-primary" type="button" (click)="addStrategyBreakdown()"
                                                            [disabled]="fund.strategy == null || fund.strategy === '-'">
                                                        <span role="button" class="glyphicon glyphicon-plus"></span>
                                                    </button>
                                                    <button class="btn btn-xs btn-success" type="button" (click)="drawSubstrategiesChart()"
                                                            [disabled]="fund.strategy == null || fund.strategy === '-'">
                                                        <span role="button" class="glyphicon glyphicon-refresh"></span>
                                                    </button>
                                                </td>
                                            </tr>
                                            </thead>
                                            <div *ngIf="fund.strategyBreakdownList != null">
                                                <tr  *ngFor="let item of fund.strategyBreakdownList">
                                                    <td width="70%">
                                                        <!--<input type="text" class="form-control" [(ngModel)]="item.name"/>-->
                                                        <select class="form-control" style="width: 100%" name="code" [(ngModel)]="item.code" [ngModelOptions]="{standalone: true}">
                                                            <option value="0">---</option>
                                                            <option *ngFor="let substrategyOption of substrategyLookup" [value]="substrategyOption.code">{{substrategyOption.nameEn}}</option>
                                                        </select>
                                                    </td>
                                                    <td width="30%">
                                                        <input type="text" class="form-control" name="value" [(ngModel)]="item.value" [ngModelOptions]="{standalone: true}"/>
                                                    </td>
                                                    <td>
                                                        <button type="button" class="btn-xs btn-danger" style="display: inline-block"  (click)="removeStrategyBreakdown(item)">
                                                            <span class="glyphicon glyphicon-minus"></span>
                                                        </button>
                                                    </td>
                                                </tr>
                                            </div>
                                        </table>
                                    </div>

                                    <br/>
                                    <div class="row">
                                        <table class="table table-hover table-responsive table-condensed">
                                            <thead>
                                            <tr>
                                                <td colspan="3">Investor base &nbsp;
                                                    <button class="btn-xs btn-primary" type="button" (click)="addInvestorBase()">
                                                        <span class="glyphicon glyphicon-plus"></span>
                                                    </button>
                                                </td>
                                            </tr>
                                            </thead>
                                            <tr>
                                                <td>Category</td>
                                                <td>Fund</td>
                                            </tr>
                                            <tr *ngFor="let item of fund.investorBaseList">
                                                <td width="70%">
                                                    <input type="text" class="form-control" name="category" [(ngModel)]="item.category" [ngModelOptions]="{standalone: true}"/>
                                                </td>
                                                <td width="30%">
                                                    <input type="text" class="form-control" name="fund" [(ngModel)]="item.fund" [ngModelOptions]="{standalone: true}"/>
                                                </td>
                                                <td>
                                                    <button type="button" class="btn-xs btn-danger" style="display: inline-block"  (click)="removeInvestorBase(item)">
                                                        <span class="glyphicon glyphicon-minus"></span>
                                                    </button>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>

                                    <br/>
                                    <div class="row">
                                        <table class="">
                                            <tr>
                                                <td colspan="2">Liquidity</td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <input type="text" class="form-control" name="liquidityPercent" [(ngModel)]="fund.liquidityPercent"/>
                                                </td>
                                                <td> &nbsp; </td>
                                                <td>
                                                    <input type="text" class="form-control" name="liquidityPeriod" [(ngModel)]="fund.liquidityPeriod"/>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>

                                    <br/>
                                    <div class="row">
                                        <table class="table table-responsive table-hover">
                                            <tr>
                                                <td colspan="2">Concentration</td>
                                            </tr>
                                            <tr>
                                                <td>Top 5</td>
                                                <td>
                                                    <input type="text" class="form-control" name="concentrationTop5" [(ngModel)]="fund.concentrationTop5"/>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Top 10</td>
                                                <td>
                                                    <input type="text" class="form-control" name="concentrationTop10" [(ngModel)]="fund.concentrationTop10"/>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Top 20</td>
                                                <td>
                                                    <input type="text" class="form-control" name="concentrationTop20" [(ngModel)]="fund.concentrationTop20"/>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>

                                <!--<div class="col-md-1">&nbsp;</div>-->

                                <div class="col-md-4">
                                    <div id="strategyBreakdownChart"></div>
                                </div>
                            </div>

                            <div class="row">
                                <br/>
                                <table class="table table-hover table-responsive table-condensed table-bordered">
                                    <thead>
                                    <tr>
                                        <td colspan="2">Fund Managers &nbsp;
                                            <button class="btn-xs btn-primary" type="button" (click)="addFundManager()">
                                                <span class="glyphicon glyphicon-plus" align="right"></span>
                                            </button>
                                        </td>
                                    </tr>
                                    </thead>
                                    <tr *ngFor="let manager of fund.managers">
                                        <td width="20%">
                                            <input type="text" class="form-control" name="managerName" [(ngModel)]="manager.name" placeholder="Name..." [ngModelOptions]="{standalone: true}"/>
                                        </td>
                                        <td width="50%">
                                            <input type="text" class="form-control" name="description" [(ngModel)]="manager.description" placeholder="Description..." [ngModelOptions]="{standalone: true}"/>
                                        </td>
                                        <td width="20%">
                                            <input type="text" class="form-control" name="started" [(ngModel)]="manager.started" placeholder="Since..." [ngModelOptions]="{standalone: true}"/>
                                        </td>
                                        <td>
                                            <button type="button" class="btn-xs btn-danger" style="display: inline-block"  (click)="removeFundManager(manager)">
                                                <span class="glyphicon glyphicon-minus"></span>
                                            </button>
                                        </td>
                                    </tr>
                                </table>
                            </div>

                            <br/>
                            <div class="row">
                                <div class="col-md-6">
                                    <h4>Albourne ratings</h4>
                                    <table class="table table-responsive table-hover">
                                        <tr>
                                            <td width="40%">IDD Analyst Assessment</td>
                                            <td width="15%" style="font-weight: bold">
                                                <select class="form-control" style="width: 100%" name="albourneIddAnalysisAssessment" [(ngModel)]="fund.albourneIddAnalysisAssessment" [style.background-color]="getAlbourneRatingColor('IDD_AA')">
                                                    <option value="0">---</option>
                                                    <option *ngFor="let item of albourneRatingLookup.IDD_AA" [value]="item.value">{{item.value}}</option>
                                                </select>
                                            </td>
                                            <td width="45%">{{getAlbourneRatingText('IDD_AA')}}</td>
                                        </tr>
                                        <tr>
                                            <td>Conviction</td>
                                            <!--<td style="font-weight: bold" [style.background-color]="getAlbourneRatingColor('CONVICTION', fund.ALBConviction)">{{fund.ALBConviction}}</td>-->
                                            <!--<td>{{getAlbourneRatingText('CONVICTION', fund.ALBConviction)}}</td>-->
                                            <td style="font-weight: bold" >
                                                <select class="form-control" style="width: 100%" name="albourneConviction" [(ngModel)]="fund.albourneConviction" [style.background-color]="getAlbourneRatingColor('CONVICTION')">
                                                    <option value="0">---</option>
                                                    <option *ngFor="let item of albourneRatingLookup.CONVICTION" [value]="item.value">{{item.value}}</option>
                                                </select>
                                            </td>
                                            <td>{{getAlbourneRatingText('CONVICTION')}}</td>
                                        </tr>
                                        <tr>
                                            <td>Expected Alpha</td>
                                            <!--<td style="font-weight: bold" [style.background-color]="getAlbourneRatingColor('EXPECTED_ALPHA', fund.ALBExpectedAlpha)">{{fund.ALBExpectedAlpha}}</td>-->
                                            <!--<td>{{getAlbourneRatingText('EXPECTED_ALPHA', fund.ALBExpectedAlpha)}}</td>-->
                                            <td style="font-weight: bold" >
                                                <!--{{fund.ALBIDDAnalystAssessment}}-->
                                                <select class="form-control" style="width: 100%" name="albourneExpectedAlpha" [(ngModel)]="fund.albourneExpectedAlpha" [style.background-color]="getAlbourneRatingColor('EXPECTED_ALPHA')">
                                                    <option value="0">---</option>
                                                    <option *ngFor="let item of albourneRatingLookup.EXPECTED_ALPHA" [value]="item.value">{{item.value}}</option>
                                                </select>
                                            </td>
                                            <td>{{getAlbourneRatingText('EXPECTED_ALPHA')}}</td>
                                        </tr>
                                        <tr>
                                            <td>Expected Beta</td>
                                            <!--<td style="font-weight: bold" [style.background-color]="getAlbourneRatingColor('EXPECTED_BETA', fund.ALBExpectedBeta)">{{fund.ALBExpectedBeta}}</td>-->
                                            <!--<td>{{getAlbourneRatingText('EXPECTED_BETA', fund.ALBExpectedBeta)}}</td>-->
                                            <td style="font-weight: bold" >
                                                <!--{{fund.ALBIDDAnalystAssessment}}-->
                                                <select class="form-control" style="width: 100%" name="albourneExpectedBeta" [(ngModel)]="fund.albourneExpectedBeta" [style.background-color]="getAlbourneRatingColor('EXPECTED_BETA')">
                                                    <option value="0">---</option>
                                                    <option *ngFor="let item of albourneRatingLookup.EXPECTED_BETA" [value]="item.value">{{item.value}}</option>
                                                </select>
                                            </td>
                                            <td>{{getAlbourneRatingText('EXPECTED_BETA')}}</td>
                                        </tr>
                                        <tr>
                                            <td>Expected Risk</td>
                                            <!--<td style="font-weight: bold" [style.background-color]="getAlbourneRatingColor('EXPECTED_RISK', fund.ALBExpectedRisk)">{{fund.ALBExpectedRisk}}</td>-->
                                            <!--<td>{{getAlbourneRatingText('EXPECTED_RISK', fund.ALBExpectedRisk)}}</td>-->
                                            <td style="font-weight: bold" >
                                                <!--{{fund.ALBIDDAnalystAssessment}}-->
                                                <select class="form-control" style="width: 100%" name="alalbournebExpectedRisk" [(ngModel)]="fund.alalbournebExpectedRisk" [style.background-color]="getAlbourneRatingColor('EXPECTED_RISK')">
                                                    <option value="0">---</option>
                                                    <option *ngFor="let item of albourneRatingLookup.EXPECTED_RISK" [value]="item.value">{{item.value}}</option>
                                                </select>
                                            </td>
                                            <td>{{getAlbourneRatingText('EXPECTED_RISK')}}</td>
                                        </tr>
                                        <tr>
                                            <td>Strategy & Investment Process</td>
                                            <!--<td style="font-weight: bold" [style.background-color]="getAlbourneRatingColor('STRATEGY_INVESTMENT', fund.ALBStrategyInvestmentProcess)">{{fund.ALBStrategyInvestmentProcess}}</td>-->
                                            <!--<td>{{getAlbourneRatingText('STRATEGY_INVESTMENT', fund.ALBStrategyInvestmentProcess)}}</td>-->
                                            <td style="font-weight: bold" >
                                                <!--{{fund.ALBIDDAnalystAssessment}}-->
                                                <select class="form-control" style="width: 100%" name="albourneStrategyInvestmentProcess" [(ngModel)]="fund.albourneStrategyInvestmentProcess" [style.background-color]="getAlbourneRatingColor('STRATEGY_INVESTMENT')">
                                                    <option value="0">---</option>
                                                    <option *ngFor="let item of albourneRatingLookup.STRATEGY_INVESTMENT" [value]="item.value">{{item.value}}</option>
                                                </select>
                                            </td>
                                            <td>{{getAlbourneRatingText('STRATEGY_INVESTMENT')}}</td>
                                        </tr>
                                        <tr>
                                            <td>Management & Team</td>
                                            <!--<td style="font-weight: bold" [style.background-color]="getAlbourneRatingColor('MNG_TEAM', fund.ALBManagementTeam)">{{fund.ALBManagementTeam}}</td>-->
                                            <!--<td>{{getAlbourneRatingText('MNG_TEAM', fund.ALBManagementTeam)}}</td>-->
                                            <td style="font-weight: bold" >
                                                <!--{{fund.ALBIDDAnalystAssessment}}-->
                                                <select class="form-control" style="width: 100%" name="albourneManagementTeam" [(ngModel)]="fund.albourneManagementTeam" [style.background-color]="getAlbourneRatingColor('MNG_TEAM')">
                                                    <option value="0">---</option>
                                                    <option *ngFor="let item of albourneRatingLookup.MNG_TEAM" [value]="item.value">{{item.value}}</option>
                                                </select>
                                            </td>
                                            <td>{{getAlbourneRatingText('MNG_TEAM')}}</td>
                                        </tr>
                                        <tr>
                                            <td>Risk Process</td>
                                            <!--<td style="font-weight: bold" [style.background-color]="getAlbourneRatingColor('RISK_PROCESS', fund.ALBRiskProcess)">{{fund.ALBRiskProcess}}</td>-->
                                            <!--<td>{{getAlbourneRatingText('RISK_PROCESS', fund.ALBRiskProcess)}}</td>-->
                                            <td style="font-weight: bold" >
                                                <!--{{fund.ALBIDDAnalystAssessment}}-->
                                                <select class="form-control" style="width: 100%" name="albourneRiskProcess" [(ngModel)]="fund.albourneRiskProcess" [style.background-color]="getAlbourneRatingColor('RISK_PROCESS')">
                                                    <option value="0">---</option>
                                                    <option *ngFor="let item of albourneRatingLookup.RISK_PROCESS" [value]="item.value">{{item.value}}</option>
                                                </select>
                                            </td>
                                            <td>{{getAlbourneRatingText('RISK_PROCESS')}}</td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="col-md-1">&nbsp;</div>
                                <div class="col-md-5">
                                    <table class="table table-hover table-responsive table-condensed">
                                        <tr>
                                            <td>GCM Approved</td>
                                            <td>
                                                <select class="form-control" name="GCMApproved" [(ngModel)]="fund.GCMApproved">
                                                    <option value="null">---</option>
                                                    <option value="true">Yes</option>
                                                    <option value="false">No</option>
                                                </select>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>NIC Approved</td>
                                            <td>
                                                <select class="form-control" name="NICApproved" [(ngModel)]="fund.NICApproved">
                                                    <option value="null">---</option>
                                                    <option value="true">Yes</option>
                                                    <option value="false">No</option>
                                                </select>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>

                            <br/>
                            <div class="row">
                                <div class="col-md-11">
                                    <table class="table table-responsive table-hover table-bordered">
                                        <thead>
                                        <tr style="font-weight: bold; background-color: lightcyan">
                                            <td>Year</td>
                                            <td>Jan</td>
                                            <td>Feb</td>
                                            <td>Mar</td>
                                            <td>Apr</td>
                                            <td>May</td>
                                            <td>Jun</td>
                                            <td>Jul</td>
                                            <td>Aug</td>
                                            <td>Sep</td>
                                            <td>Oct</td>
                                            <td>Nov</td>
                                            <td>Dec</td>
                                            <td>YTD</td>
                                            <td></td>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr *ngFor="let return of fund.returns" >
                                            <td><input type="text" size="3" class="form-control hfReturns" [ngModelOptions]="{standalone: true}"
                                                       name="year" [(ngModel)]="return.year" (ngModelChange)="calculateReturnsYTD(return)"/></td>
                                            <td><input type="text" size="4" class="form-control hfReturns" [style.color]="return.january < 0 ? 'red' : 'black'" [ngModelOptions]="{standalone: true}"
                                                       name="january" [(ngModel)]="return.january" (ngModelChange)="calculateReturnsYTD(return)"/></td>
                                            <td><input type="text" size="4" class="form-control hfReturns" [style.color]="return.february < 0 ? 'red' : 'black'" [ngModelOptions]="{standalone: true}"
                                                       name="february" [(ngModel)]="return.february" (ngModelChange)="calculateReturnsYTD(return)"/></td>
                                            <td><input type="text" size="4" class="form-control hfReturns" [style.color]="return.march < 0 ? 'red' : 'black'" [ngModelOptions]="{standalone: true}"
                                                       name="march" [(ngModel)]="return.march"(ngModelChange)="calculateReturnsYTD(return)"/></td>
                                            <td><input type="text" size="4" class="form-control hfReturns" [style.color]="return.april < 0 ? 'red' : 'black'" [ngModelOptions]="{standalone: true}"
                                                       name="april" [(ngModel)]="return.april" (ngModelChange)="calculateReturnsYTD(return)"/></td>
                                            <td><input type="text" size="4" class="form-control hfReturns" [style.color]="return.may < 0 ? 'red' : 'black'" [ngModelOptions]="{standalone: true}"
                                                       name="may" [(ngModel)]="return.may" (ngModelChange)="calculateReturnsYTD(return)"/></td>
                                            <td><input type="text" size="4" class="form-control hfReturns" [style.color]="return.june < 0 ? 'red' : 'black'" [ngModelOptions]="{standalone: true}"
                                                       name="june" [(ngModel)]="return.june" (ngModelChange)="calculateReturnsYTD(return)"/></td>
                                            <td><input type="text" size="4" class="form-control hfReturns" [style.color]="return.july < 0 ? 'red' : 'black'" [ngModelOptions]="{standalone: true}"
                                                       name="july" [(ngModel)]="return.july" (ngModelChange)="calculateReturnsYTD(return)"/></td>
                                            <td><input type="text" size="4" class="form-control hfReturns" [style.color]="return.august < 0 ? 'red' : 'black'" [ngModelOptions]="{standalone: true}"
                                                       name="august" [(ngModel)]="return.august" (ngModelChange)="calculateReturnsYTD(return)"/></td>
                                            <td><input type="text" size="4" class="form-control hfReturns" [style.color]="return.september < 0 ? 'red' : 'black'" [ngModelOptions]="{standalone: true}"
                                                       name="september" [(ngModel)]="return.september" (ngModelChange)="calculateReturnsYTD(return)"/></td>
                                            <td><input type="text" size="4" class="form-control hfReturns" [style.color]="return.october < 0 ? 'red' : 'black'" [ngModelOptions]="{standalone: true}"
                                                       name="october" [(ngModel)]="return.october" (ngModelChange)="calculateReturnsYTD(return)"/></td>
                                            <td><input type="text" size="4" class="form-control hfReturns" [style.color]="return.november < 0 ? 'red' : 'black'" [ngModelOptions]="{standalone: true}"
                                                       name="november" [(ngModel)]="return.november" (ngModelChange)="calculateReturnsYTD(return)"/></td>
                                            <td><input type="text" size="4" class="form-control hfReturns" [style.color]="return.devember < 0 ? 'red' : 'black'" [ngModelOptions]="{standalone: true}"
                                                       name="december" [(ngModel)]="return.december" (ngModelChange)="calculateReturnsYTD(return)"/></td>
                                            <td><input type="text" readonly size="5" class="form-control hfReturns" [style.color]="calculateReturnsYTD(return) < 0 ? 'red' : 'black'"
                                                       [value]="calculateReturnsYTD(return)"/></td>
                                            <td><button type="button" class="btn-xs btn-danger" style="display: inline-block"  (click)="removeReturn(return)">
                                                <span class="glyphicon glyphicon-minus"></span>
                                            </button>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="col-md-1">
                                    <div class="row">
                                        <button class="btn-xs btn-primary" type="button" (click)="addReturn()">
                                            <span class="glyphicon glyphicon-plus"></span>
                                        </button>
                                    </div>
                                    <br/>
                                    <div class="row">
                                        <a class="btn btn-info btn-sm" data-toggle="modal"
                                           data-target="#returnInputModal">
                                            <span class="glyphicon glyphicon-circle-arrow-up"></span>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <br/>
                            <br/>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-1 pull-right">
                                        <button type="submit" class="btn btn-success" [disabled]="!fundForm.form.valid" *ngIf="canEdit()">SAVE</button>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <hr style="border-top: 1px solid #B5AEAE"/>
                                </div>
                            </div>

                            <div class="modal fade" id="returnInputModal" role="dialog">
                                <div class="modal-dialog" style="overflow-y: scroll; max-height:85%;  margin-top: 50px; margin-bottom:50px;">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            <!--<h3 class="modal-title" >HEADER</h3>-->
                                        </div>
                                        <div class="modal-body">
                                            <div class="alert alert-danger" *ngIf="returnUploadErrorMessage != null"><span>{{returnUploadErrorMessage}}</span></div>
                                            <div class="alert alert-info" *ngIf="returnUploadSuccessMessage != null"><span>{{returnUploadSuccessMessage}}</span></div>
                                            <br/>
                                            <div>Format: <span style="font-weight: bold">date [tab] return</span></div>
                                            <div>
                                                Date format: <span style="font-weight: bold">dd.mm.yyyy</span>
                                            </div>
                                    <textarea class="form-control" placeholder="Paste returns here..."
                                              name="uploadedReturns" [(ngModel)]="uploadedReturns"></textarea>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default pull-left" data-dismiss="modal" (click)='closeReturnsModal()'>Close</button>
                                            <button type="button" class="btn btn-success pull-right" (click)="parseReturns()">Add</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div [hidden]="!submitted && successMessage == null">
                <div class="row top-buffer" >
                    <div class="col-md-12">
                        <div class="alert alert-info" *ngIf="successMessage != null"><span>{{successMessage}}</span>
                            <div class="row withpadding">
                                <h3>{{this.fund.name}} for {{this.fund.manager.name}} was saved</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="btn btn-primary" [routerLink]="['/hf/managerProfile',fund?.manager?.id]">Back to manager profile</button>
            </div>
           <!-- <div id="idd" class="tab-pane fade"-->
               <!-- Investment Due Diligenc-->
               <!-- <div style="min-height: 150px;"-->

               <!-- </div-->
           <!-- </div-->
           <!-- <div id="odd" class="tab-pane fade"-->
               <!-- Operational Due Diligenc-->
               <!-- <div style="min-height: 150px;"-->

               <!-- </div-->
           <!-- </div-->
            <!--<div id="quant_dd" class="tab-pane fade">-->
            <!--Quantitative Due Diligence-->
            <!--<div style="min-height: 150px;">-->

            <!--</div>-->
            <!--</div>-->
        </div>
    </div>
</div>