<div class="container">
    <div class="row">
        <div class="row top-buffer" >
            <div class="col-md-12">
                <div class="alert alert-info" *ngIf="successMessage != null"><span>{{successMessage}}</span>
                </div>
            </div>
        </div>
        <div class="row top-buffer" >
            <div class="col-md-12">
                <div class="alert alert-danger" *ngIf="errorMessage != null"><span>{{errorMessage}}</span>
                </div>
            </div>
        </div>
    </div>

    <br/>
    <div class="row withpadding" style="position: relative; min-height: 80px;">
        <table [ngBusy]="busy" class="table table-hover">
            <thead>
            <tr>
                <!--<th>&nbsp;</th>-->
                <th>MANAGER</th>
                <th>INCEPTION</th>
                <th>CREATED</th>
                <th>UPDATED</th>
                <th>UPDATED BY</th>
                <!--<th>ACTIONS</th>-->
            </tr>
            </thead>

            <tbody>

            <tr *ngFor = "let manager of foundEntities" style="cursor: pointer" (click)="navigate('/hf/research/edit/', manager.id)">
                <!--<td width="5%"></td>-->
                <td width="30%"><a>{{manager.name}}</a></td>
                <td width="10%">{{manager.inceptionDate}}</td>
                <td width="10%">{{manager.owner}}</td>
                <td width="10%">{{manager.updateDate}}</td>
                <td width="10%">{{manager.updater}}</td>
                <!--<td width="5%">-->
                <!--<a><i class="glyphicon glyphicon-file"></i></a>-->
                <!--</td>-->
            </tr>
            </tbody>
        </table>

        <!--</div>-->
        <div class="row pull-right">
            <ul class="pagination" *ngIf="searchResult?.showPageFrom > 0">
                <li><a *ngIf="searchResult?.showPageFrom > 1" (click)="search(searchResult.showPageFrom - 1)">&laquo;</a></li>
                <li *ngFor="let i of range(searchResult.showPageFrom, searchResult.showPageTo)" [class.active]="i == searchResult.currentPage">
                    <a (click)="search(i)">{{i}}</a>
                </li>
                <li><a *ngIf="searchResult.showPageTo < searchResult.totalPages" (click)="search(searchResult.showPageTo + 1)">&raquo;</a></li>
            </ul>
        </div>
    </div>
</div>