<a (click)="download()" style="cursor: pointer">
    <small><span *ngIf="showIcon" class="glyphicon glyphicon-file" style="font-size:15px"></span></small>
    <div *ngIf="showIcon" class="row" style="font-size:10px">
        {{displayFileName != null ? displayFileName : fileName}}
    </div>
    <div *ngIf="!showIcon" class="row withpadding pull-right">
        {{displayFileName != null ? displayFileName : fileName}}
    </div>
    <!--<i class="glyphicon glyphicon-download-alt" *ngIf="!pending"></i>-->
    <i class="glyphicon glyphicon-refresh" *ngIf="pending"></i>
</a>