<div class="container">
    <div class="row top-buffer" >
        <div class="col-md-12">
            <ol class="breadcrumb">
                <li>
                    <span><a [routerLink]="['/reporting/NBReporting']">Reports Main</a></span>
                </li>
                <!--<li>-->
                <!--<span *ngIf="reportId != null">-->
                <!--<a [routerLink]="['/reporting/NBReporting/inputFileUpload/', reportId]">-->
                <!--Input</a></span>-->
                <!--</li>-->
                <li *ngIf="reportId != null"><span><a [routerLink]="['/reporting/NBReporting/GeneratedReports/', reportId, 'REPORTS']">Generate report</a></span></li>
                <li class="active">РПА - 10</li>
            </ol>
        </div>
    </div>

    <div class="row top-buffer" *ngIf="errorMessage != null || successMessage != null">
        <div class="col-md-12">
            <div class="alert alert-danger" *ngIf="errorMessage != null"><span>{{errorMessage}}</span>
            </div>
            <div class="alert alert-info" *ngIf="successMessage != null"><span>{{successMessage}}</span>
            </div>
        </div>
    </div>

    <ul class="nav nav-tabs">
        <li class="active">
            <!--<li >-->
            <a data-toggle="tab" href="#full">Full</a>
        </li>
        <li>
            <!--<li>-->
            <a data-toggle="tab" href="#short">Short</a>
        </li>
    </ul>
    <div class="tab-content">
        <div id="full" class="tab-pane fade in active">
            <div class="row withpadding">
                <br/>
                <button class="btn-xs btn-primary pull-right" (click)="export()"><span class="glyphicon glyphicon-list-alt"></span>&nbsp;Export</button>
            </div>

            <br/>
            <div [ngBusy]="{busy: busyExport, message: 'Exporting...'}" class="row withpadding" style="overflow-y: scroll;">
                <table [ngBusy]="[busy]" class="table table-hover table-condensed" style="font-size: small">
                    <tr bgcolor="#e7e7e7">
                        <td rowspan="3">Номер группы субсчетов</td>
                        <td rowspan="3">Наименование актива/дебитора</td>
                        <td rowspan="3">Код строки</td>
                        <td colspan="2">Остаток на начало отчетного периода</td>
                        <td colspan="10">Обороты</td>
                        <td colspan="2">Остаток на конец отчетного периода</td>
                        <td colspan="3">Накопленная амортизация</td>
                        <td colspan="4">Убытки от обесценения</td>
                        <td rowspan="3">Балансовая стоимость на начало (гр.5+гр.18+гр.22)</td>
                        <td rowspan="3">Балансовая стоимость на конец (гр.17+гр.19+гр.23)</td>
                    </tr>
                    <tr>
                        <td rowspan="2">Количество</td>
                        <td rowspan="2">Сумма</td>
                        <td colspan="2">Приобретено </td>
                        <td colspan="2">Произведено</td>
                        <td colspan="2">Переведено в/из основных средств</td>
                        <td colspan="2">Реализовано </td>
                        <td colspan="2">Другие</td>
                        <td rowspan="2">Количество (гр.4+гр.6+гр.8+гр.10+гр.12+гр.14)</td>
                        <td rowspan="2">Сумма (гр.5+гр.7+гр.9+гр.11+гр.13+гр.15)</td>
                        <td rowspan="2">На начало отчетного периода</td>
                        <td rowspan="2">На конец отчетного периода </td>
                        <td rowspan="2">Изменение (гр.19-гр.18)</td>
                        <td rowspan="2">Дата создания резерва</td>
                        <td rowspan="2">На начало отчетного периода</td>
                        <td rowspan="2">На конец отчетного периода</td>
                        <td rowspan="2">Изменение (гр.23-гр.22)</td>
                    </tr>
                    <tr>
                        <td>Количество</td>
                        <td>Сумма</td>
                        <td>Количество</td>
                        <td>Сумма</td>
                        <td>Количество</td>
                        <td>Сумма</td>
                        <td>Количество</td>
                        <td>Сумма</td>
                        <td>Количество</td>
                        <td>Сумма</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>2</td>
                        <td>3</td>
                        <td>4</td>
                        <td>5</td>
                        <td>6</td>
                        <td>7</td>
                        <td>8</td>
                        <td>9</td>
                        <td>10</td>
                        <td>11</td>
                        <td>12</td>
                        <td>13</td>
                        <td>14</td>
                        <td>15</td>
                        <td>16</td>
                        <td>17</td>
                        <td>18</td>
                        <td>19</td>
                        <td>20</td>
                        <td>21</td>
                        <td>22</td>
                        <td>23</td>
                        <td>24</td>
                        <td>25</td>
                        <td>26</td>
                    </tr>
                    <tr *ngFor="let record of records">
                        <td>{{record.accountNumber}}</td>
                        <td>{{record.name}}</td>
                        <td>{{record.accountNumber == null ? record.lineNumber : ''}}</td>
                        <td>&nbsp;</td>
                        <td style="background-color: #50b569">{{record.startPeriodAssets != null && record.startPeriodAssets != 0 ? (record.startPeriodAssets | number:'1.2-2') : ''}} </td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>{{record.turnoverOther != null && record.turnoverOther != 0 ? (record.turnoverOther | number:'1.2-2') : ''}} </td>
                        <td>&nbsp;</td>
                        <td>{{record.endPeriodAssets != null && record.endPeriodAssets != 0 ? (record.endPeriodAssets | number:'1.2-2') : ''}}</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td style="background-color: #50b569">{{record.startPeriodBalance != null && record.startPeriodBalance != 0 ? (record.startPeriodBalance | number:'1.2-2') : ''}}</td>
                        <td>{{record.endPeriodBalance != null && record.endPeriodBalance != 0 ? (record.endPeriodBalance | number:'1.2-2') : ''}}</td>
                    </tr>

                </table>
            </div>
        </div>
        <div id="short" class="tab-pane fade">
            <br/>
            <div class="row withpadding">
                <table [ngBusy]="busy" class="table table-hover table-condensed" style="font-size: small">
                    <tr bgcolor="#e7e7e7">
                        <td rowspan="3">Номер группы субсчетов</td>
                        <td rowspan="3">Наименование актива/дебитора</td>
                        <td rowspan="3">Код строки</td>
                        <td colspan="1">Остаток на начало отчетного периода</td>
                        <td colspan="1">Обороты</td>
                        <td colspan="1">Остаток на конец отчетного периода</td>
                        <td rowspan="3">Балансовая стоимость на начало (гр.5+гр.18+гр.22)</td>
                        <td rowspan="3">Балансовая стоимость на конец (гр.17+гр.19+гр.23)</td>
                    </tr>
                    <tr>
                        <!--<td rowspan="2">Количество</td>-->
                        <td rowspan="2">Сумма</td>
                        <td colspan="1">Другие</td>
                        <!--<td rowspan="2">Количество (гр.4+гр.6+гр.8+гр.10+гр.12+гр.14)</td>-->
                        <td rowspan="2">Сумма (гр.5+гр.7+гр.9+гр.11+гр.13+гр.15)</td>
                    </tr>
                    <tr>
                        <!--<td>Количество</td>-->
                        <td>Сумма</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>2</td>
                        <td>3</td>
                        <!--<td>4</td>-->
                        <td>5</td>
                        <!--<td>14</td>-->
                        <td>15</td>
                        <!--<td>16</td>-->
                        <td>17</td>
                        <td>25</td>
                        <td>26</td>
                    </tr>
                    <tr *ngFor="let record of records">
                        <td>{{record.accountNumber}}</td>
                        <td>{{record.name}}</td>
                        <td>{{record.accountNumber == null ? record.lineNumber : ''}}</td>
                        <!--<td>&nbsp;</td>-->
                        <td style="background-color: #50b569">{{record.startPeriodAssets != null && record.startPeriodAssets != 0 ? (record.startPeriodAssets | number:'1.2-2') : ''}} </td>
                        <!--<td>&nbsp;</td>-->
                        <td>{{record.turnoverOther != null && record.turnoverOther != 0 ? (record.turnoverOther | number:'1.2-2') : ''}}</td>
                        <!--<td>&nbsp;</td>-->
                        <td>{{record.endPeriodAssets != null && record.endPeriodAssets != 0 ? (record.endPeriodAssets | number:'1.2-2') : ''}}</td>
                        <td style="background-color: #50b569">{{record.startPeriodBalance != null && record.startPeriodBalance != 0 ? (record.startPeriodBalance | number:'1.2-2') : ''}}</td>
                        <td>{{record.endPeriodBalance != null && record.endPeriodBalance != 0 ? (record.endPeriodBalance | number:'1.2-2') : ''}}</td>
                    </tr>

                </table>
            </div>
        </div>
    </div>



</div>