<div class="container">
    <div class="row top-buffer" >
        <div class="col-md-12">
            <ol class="breadcrumb">
                <li>
                    <span><a [routerLink]="['/reporting/NBReporting']">Reports Main</a></span>
                </li>
                <!--<li>-->
                <!--<span *ngIf="reportId != null">-->
                <!--<a [routerLink]="['/reporting/NBReporting/inputFileUpload/', reportId]">-->
                <!--Input</a></span>-->
                <!--</li>-->
                <li *ngIf="reportId != null"><span><a [routerLink]="['/reporting/NBReporting/GeneratedReports/', reportId, 'REPORTS']">Generate report</a></span></li>
                <li class="active">РТПКЗ - 14</li>
            </ol>
        </div>
    </div>

    <div class="row top-buffer" *ngIf="errorMessage != null || successMessage != null">
        <div class="col-md-12">
            <div class="alert alert-danger" *ngIf="errorMessage != null"><span>{{errorMessage}}</span>
            </div>
            <div class="alert alert-info" *ngIf="successMessage != null"><span>{{successMessage}}</span>
            </div>
        </div>
    </div>
    <div class="row withpadding">
        <button class="btn-xs btn-primary pull-right" (click)="export()"><span class="glyphicon glyphicon-list-alt"></span>&nbsp;Export</button>
    </div>
    <br/>
    <div [ngBusy]="{busy: busyExport, message: 'Exporting...'}" class="row withpadding">
        <table [ngBusy]="busy" class="table table-hover table-condensed" style="font-size: small">
            <tr bgcolor="#e7e7e7">
                <td rowspan="3">Номер группы субсчетов</td>
                <td rowspan="3">Наименование кредитора</td>
                <td rowspan="3">Код строки</td>
                <td colspan="3">Движение задолженности за период</td>
                <td rowspan="3">Номер и дата начала-окончания срока договора</td>
                <td rowspan="3">Дата образования кредиторской задолженности</td>
                <td colspan="4">Сумма просроченной задолженности</td>
            </tr>
            <tr>
                <td rowspan="2">Сумма задолженности на начало отчетного периода</td>
                <td rowspan="2">Сумма задолженности на конец отчетного периода</td>
                <td rowspan="2">Изменение (гр.5-гр.4)</td>
                <td colspan="3">в том числе</td>
                <td rowspan="2">всего (гр.9+гр.10+гр.11))</td>
            </tr>
            <tr>
                <td>более 30 дней</td>
                <td>более 90 дней</td>
                <td>более 180 дней</td>
            </tr>
            <tr>
                <td>1</td>
                <td>2</td>
                <td>3</td>
                <td>4</td>
                <td>5</td>
                <td>6</td>
                <td>7</td>
                <td>8</td>
                <td>9</td>
                <td>10</td>
                <td>11</td>
                <td>12</td>
            </tr>
            <tr *ngFor="let record of records">
                <td>{{record.accountNumber}}</td>
                <td>{{record.name}}</td>
                <td>{{record.accountNumber == null ? record.lineNumber : ''}}</td>
                <td>{{record.debtStartPeriod != null && record.debtStartPeriod != 0 ? (record.debtStartPeriod | number:'1.2-2') : ''}}</td>
                <td>{{record.debtEndPeriod != null && record.debtEndPeriod != 0 ? (record.debtEndPeriod | number:'1.2-2') : ''}}</td>
                <td>{{record.debtDifference != null && record.debtDifference != 0 ? (record.debtDifference | number:'1.2-2') : ''}}</td>
                <td>{{record.agreementDescription}}</td>
                <td>{{record.debtStartDate}}</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>

        </table>
    </div>
</div>