<div class="container">
    <div class="row top-buffer" >
        <div class="col-md-12">
            <ol class="breadcrumb">
                <li>
                    <span><a [routerLink]="['/reporting/NBReporting']">NB Reporting</a></span>
                </li>
                <li>
                    <span *ngIf="reportId != null"><a [routerLink]="['/reporting/NBReporting/inputFileUpload/', reportId]">
                        Parsed input files</a></span>
                </li>
                <li>
                    <span *ngIf="reportId != null"><a [routerLink]="['/reporting/NBReporting/otherInfo/', reportId]">
                        Other info</a></span>
                </li>
                <li class="active">Generate reports</li>
            </ol>
        </div>
    </div>

    <div class="row top-buffer" *ngIf="errorMessage != null || successMessage != null">
        <div class="col-md-12">
            <div class="alert alert-danger" *ngIf="errorMessage != null"><span>{{errorMessage}}</span>
            </div>
            <div class="alert alert-info" *ngIf="!submitted && successMessage != null"><span>{{successMessage}}</span>
            </div>
        </div>
    </div>
    <div class="row withpadding">
        <h3 *ngIf="report != null">{{getReportDateShortFormatted(report.reportDate)}} - Generate Reports</h3>
    </div>

    <div [ngBusy]="busy" class="row withpadding" style="min-height: 500px">
        <div class="row withpadding">
            Dollar Report
        </div>
    </div>
</div>