<div class="container">
    <div class="row withpadding">
        <div class="row withpadding" style="min-height: 500px">
            <table [ngBusy]="busy" class="table table-hover">
                <thead>
                <tr>
                    <th>LOOKUP NAME</th>
                    <!--<th>RECENT VALUE</th>-->
                    <th>&nbsp;</th>
                </tr>
                </thead>
                <tbody>
                <!--<tr>-->
                    <!--<td>Currency rates</td>-->
                    <!--&lt;!&ndash;<td> !!!!!!! </td>&ndash;&gt;-->
                    <!--<td>-->
                        <!--<button class="btn btn-sm btn-primary" [routerLink]="['/reporting/NBReporting/lookupValues/CurrencyRates']">Edit</button>-->
                        <!--&lt;!&ndash;<a [routerLink]="['/reporting/NBReporting/lookupValues/CurrencyRates]">Edit</a>&ndash;&gt;-->
                    <!--</td>-->
                <!--</tr>-->
                <tr>
                    <td>Typed Lookups</td>
                    <!--<td> !!!!!!! </td>-->
                    <td>
                        <button class="btn btn-sm btn-primary" [routerLink]="['/reporting/NBReporting/typedLookupValues']">Edit</button>
                        <!--<a [routerLink]="['/reporting/NBReporting/lookupValues/CurrencyRates]">Edit</a>-->
                    </td>
                </tr>
                <tr>
                    <td>Periodic Data</td>
                    <!--<td> !!!!!!! </td>-->
                    <td>
                        <button class="btn btn-sm btn-primary" [routerLink]="['/reporting/NBReporting/periodicData']">Edit</button>
                        <!--<a [routerLink]="['/reporting/NBReporting/lookupValues/CurrencyRates]">Edit</a>-->
                    </td>
                </tr>
                <tr>
                    <td>Matching Lookups</td>
                    <!--<td> !!!!!!! </td>-->
                    <td>
                        <button class="btn btn-sm btn-primary" [routerLink]="['/reporting/NBReporting/matchingLookupValues']">Edit</button>
                        <!--<a [routerLink]="['/reporting/NBReporting/lookupValues/CurrencyRates]">Edit</a>-->
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>