<div class="container">
    <div class="row top-buffer" >
        <div class="col-md-12">
            <ol class="breadcrumb">
                <li>
                    <span><a [routerLink]="['/reporting/NBReporting']">Reports Main</a></span>
                </li>
                <li class="active">Input</li>
            </ol>
        </div>
    </div>

    <div class="row top-buffer" *ngIf="errorMessage != null || successMessage != null">
        <div class="col-md-12">
            <div class="alert alert-danger" *ngIf="errorMessage != null"><span>{{errorMessage}}</span>
            </div>
            <div class="alert alert-info" *ngIf="!submitted && successMessage != null"><span>{{successMessage}}</span>
            </div>
        </div>
    </div>
    <div class="row withpadding">
        <h3 *ngIf="reportId != null">2. NICK Master Fund</h3>
    </div>
    <div [ngBusy]="busy" class="row withpadding" style="min-height: 500px">

        <form (ngSubmit)="save()" #nickMFForm="ngForm" class="well span">
            <div class="row">
                <button class="btn btn-xs btn-primary" type="button" (click)="addRecord()"
                        [disabled]="false">
                    <span role="button" class="glyphicon glyphicon-plus">Add</span>
                </button>
                <button class="btn btn-xs btn-primary pull-right" type="button" (click)="copyFromPrevious()"
                        [disabled]="false">Copy from previous month</button>
            </div>
            <br/>
            <div *ngIf="data != null && data.records != null && nbChartOfAccounts != null && nicReportingChartOfAccounts != null">
                <table class="table table-hover table-responsive table-condensed">
                    <thead>
                    <tr *ngIf="data != null && data.records != null && data.records.length > 0">
                        <td>NB Chart of Accounts</td>
                        <td>Description</td>
                        <td>Account Balance</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>

                    </thead>
                        <tr  *ngFor="let record of data.records">
                            <td width="40%">
                                <select required class="form-control" style="width: 100%" [(ngModel)]="record.nbChartOfAccountsCode"
                                        (ngModelChange)="nbChartOfAccountsChanged(record, false)" [ngModelOptions]="{standalone: true}">
                                    <option *ngFor="let nbItem of nbChartOfAccounts" [value]="nbItem.code">{{nbItem.code + '-' + nbItem.nameRu}}</option>
                                </select>
                            </td>
                            <td width="40%">
                                <select required class="form-control" style="width: 100%" [(ngModel)]="record.nicChartOfAccountsCode" [ngModelOptions]="{standalone: true}">
                                    <option *ngFor="let nicItem of record.matchingNICChartOfAccounts" [value]="nicItem.code">{{nicItem.nameRu}}</option>
                                </select>
                            </td>
                            <td width="20%">
                                <input required type="number" step="0.01" class="form-control" [(ngModel)]="record.accountBalance" [ngModelOptions]="{standalone: true}"/>
                            </td>
                            <td>
                                <button type="button" class="btn-xs btn-danger" style="display: inline-block"  (click)="removeRecord(record)">
                                    <span class="glyphicon glyphicon-minus"></span>
                                </button>
                            </td>
                            <td>
                                <button *ngIf="showCalculateSumButton(record)" type="button" class="btn-xs btn-primary" style="display: inline-block"  (click)="calculateSum(record)">
                                    <span class="glyphicon glyphicon-refresh"></span>
                                </button>
                            </td>
                        </tr>
                        <tr *ngIf="data.records != null && data.records.length > 0">
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td style="font-style: italic" align="right">Total: {{calculateTotal() | number:'1.0-2': ''}}</td>
                        </tr>
                </table>
            </div>
            <div class="row">
                <div class="col-md-12">
                        <button type="submit" class="btn btn-success pull-right" [disabled]="!nickMFForm.form.valid" >Save</button>
                </div>
            </div>
        </form>
        <!--<div class="row">-->
            <!--<div class="col-md-12">-->
                <!--<button class="btn btn-default pull-left" [routerLink]="['/reporting/NBReporting/SingularGeneratedForm/', reportId]" [disabled]="!checkTotal()" >Singular</button>-->
            <!--</div>-->
            <!--<div class="col-md-12">-->
                <!--<button class="btn btn-default pull-left" [routerLink]="['/reporting/NBReporting/TarragonGeneratedForm/', reportId]" [disabled]="!checkTotal()" >Tarragon</button>-->
            <!--</div>-->
        <!--</div>-->

        <div class="row">
            <div class="col-md-6">
                <div class="col-md-1 pull-left">
                    <button class="btn btn-primary" [routerLink]="['/reporting/NBReporting/inputFileUpload/', reportId]">PREVIOUS</button>
                </div>
            </div>
            <div class="col-md-6">
                <div class="col-md-1 pull-right">
                    <button class="btn btn-primary" [routerLink]="['/reporting/NBReporting/TarragonGeneratedForm/', reportId]" [disabled]="!showNextButton() || !checkTotal()">NEXT</button>
                </div>
            </div>
        </div>
        <br/><br/>
    </div>
</div>