<div class="container">
    <div class="row top-buffer" >
        <div class="col-md-12">
            <ol class="breadcrumb">
                <li>
                    <span><a [routerLink]="['/reporting/NBReporting/lookupValues']">Lookups Main</a></span>
                </li>
                <!--<li *ngIf="report != null" class="active">{{getReportDateShortFormatted(report.reportDate)}}</li>-->
                <li class="active">Periodic Data</li>
            </ol>
        </div>
    </div>
    <div class="row withpadding" style="min-height: 500px">

        <div class="row top-buffer" *ngIf="errorMessage != null || successMessage != null">
            <div class="col-md-12">
                <div class="alert alert-danger" *ngIf="errorMessage != null"><span>{{errorMessage}}</span>
                </div>
                <div class="alert alert-info" *ngIf="successMessage != null"><span>{{successMessage}}</span>
                </div>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-1 pull-right">
                    <a class="btn btn-primary" data-toggle="modal" data-target="#editModal" (click)="edit()" style="cursor: pointer">
                    <!--<span class="glyphicon glyphicon-edit"></span>-->Add
                    </a>
                </div>
            </div>
        </div>

        <br/>
        <br/>
        <div class="row">
            <table [ngBusy]="busy" class="table table-hover">
                <thead>
                <tr>
                    <th>TYPE</th>
                    <th>DATE</th>
                    <th>INITIAL VALUE</th>
                    <th>CORRECTION</th>
                    <th>TOTAL</th>
                    <th>&nbsp;</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let item of searchResults?.periodicData">
                    <td>{{item.type.nameEn != null && item.type.nameEn.trim() != '' ? item.type.nameEn : item.type.nameRu != null && item.type.nameRu.trim() != '' ? item.type.nameRu : item.type.code}}</td>
                    <td>{{item.date}}</td>
                    <td>{{item.value}}</td>
                    <td>{{item.correction}}</td>
                    <td>{{item.total}}</td>
                    <td>
                        <button *ngIf = "item.editable" type="button" class="btn-xs btn-success" style="display: inline-block"
                                data-toggle="modal" data-target="#editModal" (click)="edit(item)">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </button>

                        <button *ngIf = "item.editable" type="button" class="btn-xs btn-danger" style="display: inline-block"
                                (click)="delete(item)">
                            <span class="glyphicon glyphicon-trash"></span>
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="modal fade" id="editModal" role="dialog">
            <div class="modal-dialog" style="overflow-y: scroll; max-height:85%;  margin-top: 50px; margin-bottom:50px; width:65%;">
                <div class="modal-content" style="min-height: 400px">
                    <div class="modal-header">
                        <h3 class="modal-title"  style="word-wrap: break-word">Enter new value</h3>
                    </div>
                    <div class="modal-body" [ngBusy]="busyModal">

                        <div class="row top-buffer" >
                            <div class="col-md-12">
                                <div class="alert alert-danger" *ngIf="errorMessageSaveRecord != null"><span style="white-space: pre-wrap">{{errorMessageSaveRecord}}</span>
                                </div>
                                <div class="alert alert-info" *ngIf="successMessageSaveRecord != null"><span>{{successMessageSaveRecord}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-4" *ngIf="selectedEditRecord.type != null">
                                    <select class="form-control" [(ngModel)]="selectedEditRecord.type.code" required>
                                        <option *ngFor="let item of periodicDataTypes" [value]="item.code">
                                            {{item.nameEn != null && item.nameEn.trim() != '' ? item.nameEn : item.nameRu != null && item.nameRu.trim() != '' ? item.nameRu : item.code}}
                                        </option>
                                    </select>
                                </div>
                                <div class="col-md-2">
                                    <div class='input-group date col-md-2' id='valueDateDTPickeer' style="width: 100%">
                                        <input type='text' class="form-control" required id="valueDate" [(ngModel)]="selectedEditRecord.date"/>
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <input type="text" class="form-control" required placeholder="Enter initial value..." [(ngModel)]="selectedEditRecord.value"
                                           (keyup)="onNumberChange(selectedEditRecord)"/>
                                </div>
                                <div class="col-md-2">
                                    <input type="text" class="form-control" required placeholder="Enter correction..." [(ngModel)]="selectedEditRecord.correction"
                                           (keyup)="onNumberChange(selectedEditRecord)"/>
                                </div>
                                <div class="col-md-2">
                                    Total:
                                    <span>{{selectedEditRecord.total}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="row" *ngIf="showRevaluationCheckbox()">
                            <div class="col-md-12">
                                <div class="col-md-2">
                                    <label lass="form-check-label" for="revaluationCheckbox">Revaluation</label>
                                    <input type="checkbox" id="revaluationCheckbox" class="form-check-input" [(ngModel)]="selectedEditRecord.revaluated"/>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" (click)="save()">Save</button>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>