<div class="container">
    <div class="row top-buffer" >
        <div class="col-md-12">
            <!--<ol class="breadcrumb">-->
                <!--<li>-->
                    <!--<span><a [routerLink]="['/reporting/NBReporting']">Reports Main</a></span>-->
                <!--</li>-->
            <!--</ol>-->
        </div>
    </div>

    <div class="row top-buffer" *ngIf="errorMessage != null || successMessage != null">
        <div class="col-md-12">
            <div class="alert alert-danger" *ngIf="errorMessage != null"><span>{{errorMessage}}</span>
            </div>
            <div class="alert alert-info" *ngIf="successMessage != null"><span>{{successMessage}}</span>
            </div>
        </div>
    </div>
    <br/>
    <div class="row withpadding">
        <h3 *ngIf="reportId != null">Reserve Calculation</h3>
    </div>


    <div class="row withpadding">
        <div class="col-md-12">
            <div class="col-md-6">
                <a class="btn btn-sm btn-default pull-left" data-toggle="modal" data-target="#exportSettingsModal">Export Settings</a>
            </div>
            <div class="col-md-6">
                <a class="btn btn-xs btn-primary pull-right" data-toggle="modal" data-target="#editRecordModal" (click)="addRecord()">
                    <span role="button" class="glyphicon glyphicon-plus">Add</span></a>
            </div>
        </div>
    </div>
    <br/>

    <!--<button class="btn btn-xs btn-primary pull-right" type="button" (click)="addRecord()"-->
            <!--[disabled]="addedRecord != null">-->
        <!--<span role="button" class="glyphicon glyphicon-plus">Add</span>-->
    <!--</button>-->

    <br/>
    <!--<form *ngIf="addedRecord != null" (ngSubmit)="saveAddedRecord()" #addedRecordForm="ngForm" class="well span">-->
        <!--<div class="row withpadding">-->

            <!--<div *ngIf="addedRecord != null">-->
                <!--<table class="table table-hover table-responsive table-condensed" style="font-size: small">-->
                    <!--<thead>-->
                    <!--<tr style="font-weight: bold; font-size: small">-->
                        <!--<td>Статья</td>-->
                        <!--<td>Источник</td>-->
                        <!--<td>Получатель</td>-->
                        <!--<td>Дата</td>-->
                        <!--<td>Дата валютирования</td>-->
                        <!--<td>Сумма USD</td>-->
                        <!--<td>Сумма USD SPV</td>-->
                        <!--<td>&nbsp;</td>-->
                    <!--</tr>-->
                    <!--</thead>-->
                    <!--<tr style="font-size: small">-->
                        <!--<td>-->
                            <!--<select required class="form-control" style="width: 100%" [ngModelOptions]="{standalone: true}" [(ngModel)]="addedRecord.expenseType.code">-->
                                <!--<option *ngFor="let item of expenseTypeLookup" [value]="item.code">{{item.nameRu}}</option>-->
                            <!--</select>-->
                        <!--</td>-->
                        <!--<td>-->
                            <!--<select required class="form-control" style="width: 100%" [ngModelOptions]="{standalone: true}" [(ngModel)]="addedRecord.source.code">-->
                                <!--<option *ngFor="let item of entityTypeLookup" [value]="item.code">{{item.nameRu}}</option>-->
                            <!--</select>-->
                        <!--</td>-->
                        <!--<td>-->
                            <!--<select required class="form-control" style="width: 100%" [ngModelOptions]="{standalone: true}" [(ngModel)]="addedRecord.recipient.code">-->
                                <!--<option *ngFor="let item of entityTypeLookup" [value]="item.code">{{item.nameRu}}</option>-->
                            <!--</select>-->
                        <!--</td>-->

                        <!--<td>-->
                            <!--<div class='input-group date col-md-2' id='dateDivId' style="width: 100%">-->
                                <!--<input required type="text" class="form-control" id="dateInputId" name="dateInput" [(ngModel)]="addedRecord.date"/>-->
                                            <!--<span class="input-group-addon">-->
                                                <!--<span class="glyphicon glyphicon-calendar"></span>-->
                                            <!--</span>-->
                            <!--</div>-->
                        <!--</td>-->
                        <!--<td>-->
                            <!--<div class='input-group date col-md-2' id='dateDivId2' style="width: 100%">-->
                                <!--<input type="text" class="form-control" name="dateInput2" id="dateInputId2" [(ngModel)]="addedRecord.valueDate"/>-->
                                    <!--<span class="input-group-addon">-->
                                        <!--<span class="glyphicon glyphicon-calendar"></span>-->
                                    <!--</span>-->
                            <!--</div>-->
                        <!--</td>-->

                        <!--<td>-->
                            <!--<input required type="text" class="form-control" (keyup)="onNumberChange(addedRecord)" [(ngModel)]="addedRecord.amount" [ngModelOptions]="{standalone: true}"/>-->
                        <!--</td>-->
                        <!--<td>-->
                            <!--<input (keyup)="onNumberChange(addedRecord)" type="text" class="form-control" [(ngModel)]="addedRecord.amountToSPV" [ngModelOptions]="{standalone: true}"/>-->
                        <!--</td>-->
                        <!--<td>-->
                            <!--<button type="button" class="btn-xs btn-danger" style="display: inline-block"  (click)="removeRecord(addedRecord)">-->
                                <!--<span class="glyphicon glyphicon-minus"></span>-->
                            <!--</button>-->
                        <!--</td>-->
                    <!--</tr>-->
                    <!--<tr  style="font-size: small">-->
                        <!--<td colspan="3">-->
                            <!--<input *ngIf="addedRecord.expenseType.code == 'ADM_FEE'" type="text" class="form-control"-->
                                               <!--placeholder="Enter Reference..." [(ngModel)]="addedRecord.referenceInfo" [ngModelOptions]="{standalone: true}"/>-->
                        <!--</td>-->
                        <!--<td>&nbsp;</td>-->
                        <!--<td>&nbsp;</td>-->
                        <!--<td>&nbsp;</td>-->
                        <!--<td>&nbsp;</td>-->
                    <!--</tr>-->
                    <!--<tr>-->
                        <!--<td>-->
                            <!--<label class="btn btn-primary" for="attachmentFile">-->
                            <!--<input type="file" id="attachmentFile" (change)="onFileChange($event)" name="file" multiple style="display:none;" />-->
                                <!--Add-->
                            <!--</label>-->
                        <!--</td>-->
                        <!--<td colspan="6">-->
                            <!--<div class="row" *ngFor="let newFile of uploadFiles" class="label label-info" style="display: table;">-->
                                <!--<span>{{newFile.name}}</span>-->
                            <!--</div>-->
                        <!--</td>-->
                    <!--</tr>-->
                    <!--<tr style="font-size: small">-->
                        <!--<td colspan="7">-->
                            <!--<div *ngFor="let attachment of addedRecord?.files">-->
                                <!--<file-attachment-downloader fileId="{{attachment.id}}"-->
                                                            <!--fileName="{{attachment.fileName}}"-->
                                                            <!--fileType="CC_ATTACH">-->
                                <!--</file-attachment-downloader>-->

                                <!--<a (click)="deleteAttachment(attachment.id)" *ngIf="canEdit()">-->
                                    <!--<i class="glyphicon glyphicon-trash"></i>-->
                                <!--</a>-->
                            <!--</div>-->
                        <!--</td>-->
                    <!--</tr>-->
                <!--</table>-->
                <!--<div class="row">-->
                    <!--<div class="col-md-12">-->
                        <!--<button type="submit" class="btn btn-success pull-right">SAVE</button>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</form>-->

    <!--<button class="btn btn-sm btn-primary" type="button" data-toggle="collapse" data-target="#exportSettings"-->
            <!--aria-expanded="false" aria-controls="exportSettings">-->
        <!--Export settings-->
    <!--</button>-->
    <!--<br/>-->
    <!--<div class="collapse jumbotron" id="exportSettings">-->
        <!--<div class="card card-body">-->
            <!--<div class="row withpadding">-->
                <!--<div class="col-md-12">-->
                    <!--<div class="col-md-4">-->
                        <!--<label for="directorOption">Подписант</label>-->
                        <!--<select id="directorOption" required class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="exportDirectorOption">-->
                            <!--<option *ngFor="let item of exportDirectorLookup" [value]="item.code">{{item.nameRu}}</option>-->
                        <!--</select>-->
                    <!--</div>-->
                    <!--<div class="col-md-4">-->
                        <!--<label>Визы (макс. 3)</label>-->
                        <!--<div *ngFor="let item of exportApproveListLookup; let i = index" [attr.data-index]="i">-->
                            <!--<input id="vizaOptions" class="form-check-input" type="checkbox" [checked]="i <= 2" name="approvelistCheckbox"-->
                                   <!--(change)="checkApproveListOption(item, $event.target.checked)"/>-->
                            <!--<label class="form-check-label" for="vizaOptions">{{item.nameRu}}</label>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="col-md-4">-->
                        <!--<label for="doerOption">Исполнитель</label>-->
                        <!--<select id="doerOption" required class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="exportDoerOption">-->
                            <!--<option *ngFor="let item of exportDoerLookup" [value]="item.code">{{item.nameRu}}</option>-->
                        <!--</select>-->
                    <!--</div>-->
                <!--</div>-->

            <!--</div>-->
        <!--</div>-->
    <!--</div>-->

    <div class="row withpadding" style="position: relative; min-height: 80px;">
        <div class="row pull-right">
            <ul class="pagination" *ngIf="searchResult?.showPageFrom > 0">
                <li><a *ngIf="searchResult?.showPageFrom > 1" (click)="search(searchResult.showPageFrom - 1)">&laquo;</a></li>
                <li *ngFor="let i of range(searchResult.showPageFrom, searchResult.showPageTo)" [class.active]="i == searchResult.currentPage">
                    <a (click)="search(i)">{{i}}</a>
                </li>
                <li><a *ngIf="searchResult.showPageTo < searchResult.totalPages" (click)="search(searchResult.showPageTo + 1)">&raquo;</a></li>
            </ul>
        </div>
    </div>
    <div>
        <label>Total found: <span>{{searchResult?.totalElements > 0 ?  searchResult?.totalElements : 0}}</span></label>
    </div>

    <div [ngBusy]="{busy: busyExport, message: 'Exporting...'}" class="row withpadding">
        <table [ngBusy]="busy" class="table table-hover table-condensed" style="font-size: small" *ngIf="records != null">
            <tr bgcolor="#e7e7e7" style="font-weight: bold; font-size: small">
                <td>Статья</td>
                <td>Источник</td>
                <td>Получатель</td>
                <td>Дата</td>
                <td>Дата валютирования</td>
                <td>Сумма USD (SPV)</td>
                <!--<td>Сумма USD SPV</td>-->
                <td>Курс</td>
                <td>Сумма KZT</td>
                <td>Экспорт</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr *ngFor="let record of records" [style.color]="record.currencyRate == null ? 'red' : 'black' ">
                <td>{{record.expenseType != null ? record.expenseType.nameRu : ''}}</td>
                <td>{{record.source != null ? record.source.nameRu : ''}}</td>
                <td>{{record.recipient != null ? record.recipient.nameRu : ''}}</td>
                <td>{{record.date}}</td>
                <td>{{record.valueDate}}</td>
                <td>{{record.amount != null && record.amount > 0 ? (record.amount | number:'1.2-2') : ''}}{{record.amountToSPV != null && record.amountToSPV > 0 ? (' (' + (record.amountToSPV | number:'1.2-2') + ')') : ''}}</td>
                <!--<td>{{record.amountToSPV | number:'1.2-2'}}</td>-->
                <td>{{record.currencyRate  != null ? (record.currencyRate | number:'1.2-2') : '-----'}}</td>
                <td>{{record.amountKZT | number:'1.2-2'}}</td>
                <td>
                    <button *ngIf="showExportOrderButton(record)" class="btn btn-xs btn-primary" style="margin-left: 10px;" type="button" (click)="exportOrder(record)">
                        Letter
                    </button>

                    <button *ngIf="record.expenseType.code == 'ADD'" class="btn btn-xs btn-success" style="margin-left: 10px;" type="button" (click)="exportFAFToOperations(record)">
                        OPs
                    </button>
                    <button *ngIf="record.expenseType.code == 'ADD'" class="btn btn-xs btn-success" style="margin-left: 10px;" type="button" (click)="exportFAFToSPV(record)">
                        SPV
                    </button>
                    <button *ngIf="record.expenseType.code == 'ADM_FEE'" class="btn btn-xs btn-success" style="margin-left: 10px;" type="button" (click)="exportAdmFeeFAFToSPV(record)">
                        SPV
                    </button>
                </td>
                <td>
                    <button *ngIf="showDeleteRecordButton(record)" class="btn btn-xs btn-danger" style="margin-left: 10px;"
                            (click)="removeSavedRecord(record)">
                        <span class="glyphicon glyphicon-trash"></span>
                    </button>
                </td>
                <td>

                    <a *ngIf="showEditRecordButton(record)" class="btn btn-xs btn-success pull-right" data-toggle="modal" data-target="#editRecordModal" (click)="editRecord(record)">
                        <span role="button" class="glyphicon glyphicon-pencil"></span>
                    </a>
                    <a *ngIf="!showEditRecordButton(record)"class="btn btn-xs btn-primary" data-toggle="modal" data-target="#editRecordModal" (click)="this.editedRecord = record">
                        <span class="glyphicon glyphicon-search"></span>
                    </a>
                    <!--<button type="button" *ngIf="showEditRecordButton(record)" class="btn btn-xs btn-success" style="display: inline-block"  (click)="editRecord(record)">-->
                        <!--<span class="glyphicon glyphicon-pencil"></span>-->
                    <!--</button>-->
                </td>
            </tr>
        </table>
    </div>
    <div class="row withpadding" style="position: relative; min-height: 80px;">
        <div class="row pull-right">
            <ul class="pagination" *ngIf="searchResult?.showPageFrom > 0">
                <li><a *ngIf="searchResult?.showPageFrom > 1" (click)="search(searchResult.showPageFrom - 1)">&laquo;</a></li>
                <li *ngFor="let i of range(searchResult.showPageFrom, searchResult.showPageTo)" [class.active]="i == searchResult.currentPage">
                    <a (click)="search(i)">{{i}}</a>
                </li>
                <li><a *ngIf="searchResult.showPageTo < searchResult.totalPages" (click)="search(searchResult.showPageTo + 1)">&raquo;</a></li>
            </ul>
        </div>
    </div>
    <br/><br/>

    <div class="modal fade" id="exportSettingsModal" role="dialog">
        <div class="modal-dialog" style="overflow-y: scroll; min-height: 100px; max-height:85%;  margin-top: 100px; margin-bottom:50px; width:65%;">
            <div class="modal-content">
                <br/>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-4">
                                <label for="directorOption">Подписант</label>
                                <select id="directorOption" required class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="exportDirectorOption">
                                    <option *ngFor="let item of exportDirectorLookup" [value]="item.code">{{item.nameRu}}</option>
                                </select>
                            </div>
                            <div class="col-md-4">
                                <label>Визы (макс. 3)</label>
                                <div *ngFor="let item of exportApproveListLookup; let i = index" [attr.data-index]="i">
                                    <input id="vizaOptions" class="form-check-input" type="checkbox" [checked]="i <= 2" name="approvelistCheckbox"
                                           (change)="checkApproveListOption(item, $event.target.checked)"/>
                                    <label class="form-check-label" for="vizaOptions">{{item.nameRu}}</label>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <label for="doerOption">Исполнитель</label>
                                <select id="doerOption" required class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="exportDoerOption">
                                    <option *ngFor="let item of exportDoerLookup" [value]="item.code">{{item.nameRu}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <!--<button type="button" class="btn btn-default pull-left" data-dismiss="modal"data-dismiss="modal">Close</button>-->
                    <button type="button" class="btn btn-primary pull-right" data-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="editRecordModal" role="dialog">
        <div class="modal-dialog" style="overflow-y: scroll; min-height: 100px; max-height:85%;  margin-top: 100px; margin-bottom:50px; width:65%;">
            <div class="modal-content">
                <br/>
                <form *ngIf="editedRecord != null" (ngSubmit)="saveAddedRecord()" #editRecordForm="ngForm" class="well span">
                    <div class="modal-body" *ngIf="editedRecord != null">

                        <div class="row top-buffer" *ngIf="editErrorMessage != null || editSuccessMessage != null">
                            <div class="col-md-12">
                                <div class="alert alert-danger" *ngIf="editErrorMessage != null"><span>{{editErrorMessage}}</span>
                                </div>
                                <div class="alert alert-info" *ngIf="editSuccessMessage != null"><span>{{editSuccessMessage}}</span>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-2">Статья</div>
                                <div class="col-md-4">
                                    <select required [disabled]="!editedRecord.canDelete" class="form-control" [ngModelOptions]="{standalone: true}"
                                            [(ngModel)]="editedRecord.expenseType.code">
                                        <option *ngFor="let item of expenseTypeLookup" [value]="item.code">{{item.nameRu}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-2">Источник</div>
                                <div class="col-md-4">
                                    <select required [disabled]="!editedRecord.canDelete" class="form-control" [ngModelOptions]="{standalone: true}"
                                            [(ngModel)]="editedRecord.source.code">
                                        <option *ngFor="let item of entityTypeLookup" [value]="item.code">{{item.nameRu}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-2">Получатель</div>
                                <div class="col-md-4">
                                    <select required [disabled]="!editedRecord.canDelete" class="form-control" [ngModelOptions]="{standalone: true}"
                                            [(ngModel)]="editedRecord.recipient.code">
                                        <option *ngFor="let item of entityTypeLookup" [value]="item.code">{{item.nameRu}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-2">Дата</div>
                                <div class="col-md-3">
                                    <div class='input-group date' id='dateDivId' style="width: 100%">
                                        <input [disabled]="!editedRecord.canDelete" required type="text" class="form-control" id="dateInputId" name="dateInput" [(ngModel)]="editedRecord.date"/>
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-2">Дата валютирования</div>
                                <div class="col-md-3">
                                    <div class='input-group date' id='dateDivId2' style="width: 100%">
                                        <input [disabled]="!editedRecord.canDelete" type="text" class="form-control" name="dateInput2" id="dateInputId2" [(ngModel)]="editedRecord.valueDate"/>
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-2">Сумма USD </div>
                                <div class="col-md-4">
                                    <input [disabled]="!editedRecord.canDelete" required type="text" class="form-control" (keyup)="onNumberChange(editedRecord)" [(ngModel)]="editedRecord.amount" [ngModelOptions]="{standalone: true}"/>
                                    <!--{{editedRecord.amount != null && editedRecord.amount > 0 ? (editedRecord.amount | number:'1.2-2') : ''}}{{editedRecord.amountToSPV != null && editedRecord.amountToSPV > 0 ? (' (' + (editedRecord.amountToSPV | number:'1.2-2') + ')') : ''}}-->
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-2">Сумма SPV</div>
                                <div class="col-md-4">
                                    <input [disabled]="!editedRecord.canDelete" (keyup)="onNumberChange(editedRecord)" type="text" class="form-control" [(ngModel)]="editedRecord.amountToSPV" [ngModelOptions]="{standalone: true}"/>
                                    <!--{{editedRecord.currencyRate  != null ? (editedRecord.currencyRate | number:'1.2-2') : '-&#45;&#45;&#45;&#45;'}}-->
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-2">Курс</div>
                                <div class="col-md-10">{{editedRecord.currencyRate  != null ? (editedRecord.currencyRate | number:'1.2-2') : ''}}</div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-2">Сумма KZT</div>
                                <div class="col-md-10">{{editedRecord.amountKZT  != null ? (editedRecord.amountKZT | number:'1.2-2') : ''}}</div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-2">Референс</div>
                                <div class="col-md-10">
                                    <input [disabled]="!editedRecord.canDelete" *ngIf="editedRecord.expenseType.code == 'ADM_FEE'" type="text" class="form-control"
                                           placeholder="Enter Reference..." [(ngModel)]="editedRecord.referenceInfo" [ngModelOptions]="{standalone: true}"/>
                                </div>
                            </div>
                        </div>
                        <br/>
                        <div class="row">
                            <h4>Уведомления:</h4>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-2">
                                    <label *ngIf="editedRecord.canDelete" class="btn btn-primary" for="attachmentFile">
                                        <input type="file" id="attachmentFile" (change)="onFileChange($event)" name="file" multiple style="display:none;" />
                                        Add
                                    </label>
                                </div>
                                <div class="col-md-6" *ngFor="let newFile of uploadFiles" class="label label-info" style="display: table;">
                                    <span>{{newFile.name}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div *ngFor="let attachment of editedRecord?.files">
                                <file-attachment-downloader fileId="{{attachment.id}}"
                                                            fileName="{{attachment.fileName}}"
                                                            fileType="CC_ATTACH">
                                </file-attachment-downloader>
                                <a (click)="deleteAttachment(editedRecord.id, attachment.id)" *ngIf="editedRecord?.canDelete">
                                    <i class="glyphicon glyphicon-trash"></i>
                                </a>
                            </div>
                        </div>
                        <br/>
                        <br/>
                        <br/>
                        <br/>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-6">
                                    <button type="button" class="btn btn-primary pull-left" data-dismiss="modal" (click)="closeEditRecordModal()">CLOSE</button>
                                </div>
                                <div class="col-md-6">
                                    <button *ngIf="editedRecord.canDelete" type="submit" class="btn btn-success pull-right">SAVE</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <!--<div class="modal-footer">-->
                <!--</div>-->
            </div>
        </div>
    </div>
</div>