<div class="container">
    <div class="row top-buffer" >
        <div class="col-md-12">
            <!--<ol class="breadcrumb">-->
                <!--<li>-->
                    <!--<span><a [routerLink]="['/reporting/NBReporting']">Reports Main</a></span>-->
                <!--</li>-->
            <!--</ol>-->
        </div>
    </div>

    <div class="row top-buffer" *ngIf="errorMessage != null || successMessage != null">
        <div class="col-md-12">
            <div class="alert alert-danger" *ngIf="errorMessage != null"><span>{{errorMessage}}</span>
            </div>
            <div class="alert alert-info" *ngIf="successMessage != null"><span>{{successMessage}}</span>
            </div>
        </div>
    </div>
    <br/>
    <div class="row withpadding">
        <h3 *ngIf="reportId != null">Reserve Calculation</h3>
    </div>


    <div class="row withpadding">
        <a class="btn btn-sm btn-default pull-left" data-toggle="modal" data-target="#exportSettingsModal">Export Settings</a>
    </div>
    <br/>

    <button class="btn btn-xs btn-primary pull-right" type="button" (click)="addRecord()"
            [disabled]="addedRecords != null && addedRecords.length > 0">
        <span role="button" class="glyphicon glyphicon-plus">Add</span>
    </button>
    <br/>
    <form *ngIf="addedRecords != null && addedRecords.length > 0" (ngSubmit)="saveAddedRecords()" #addedRecordsForm="ngForm" class="well span">
        <div class="row withpadding">

            <div *ngIf="addedRecords!= null && addedRecords.length > 0">
                <table class="table table-hover table-responsive table-condensed" style="font-size: small">
                    <thead>
                    <tr style="font-weight: bold; font-size: small">
                        <td>Статья</td>
                        <td>Источник</td>
                        <td>Получатель</td>
                        <td>Дата</td>
                        <td>Дата валютирования</td>
                        <td>Сумма USD</td>
                        <td>Сумма USD SPV</td>
                        <td>&nbsp;</td>
                    </tr>
                    </thead>
                    <tr  *ngFor="let addedRecord of addedRecords; let i=index; let last=last;" style="font-size: small">
                        <td>
                            <select required class="form-control" style="width: 100%" [ngModelOptions]="{standalone: true}" [(ngModel)]="addedRecord.expenseType.code">
                                <option *ngFor="let item of expenseTypeLookup" [value]="item.code">{{item.nameRu}}</option>
                            </select>

                        </td>
                        <td>
                            <select required class="form-control" style="width: 100%" [ngModelOptions]="{standalone: true}" [(ngModel)]="addedRecord.source.code">
                                <option *ngFor="let item of entityTypeLookup" [value]="item.code">{{item.nameRu}}</option>
                            </select>
                        </td>
                        <td>
                            <select required class="form-control" style="width: 100%" [ngModelOptions]="{standalone: true}" [(ngModel)]="addedRecord.recipient.code">
                                <option *ngFor="let item of entityTypeLookup" [value]="item.code">{{item.nameRu}}</option>
                            </select>
                        </td>

                        <td>
                            <div class='input-group date col-md-2' id='dateDivId' style="width: 100%">
                                <input required type="text" class="form-control" id="dateInputId" name="dateInput" [(ngModel)]="addedRecord.date"/>
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                            </div>
                        </td>
                        <td>
                            <div class='input-group date col-md-2' id='dateDivId2' style="width: 100%">
                                <input disabled="addedRecord.expenseType.code === 'ADM_FEE'" type="text" class="form-control" name="dateInput2" id="dateInputId2" [(ngModel)]="addedRecord.valueDate"/>
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                            </div>
                        </td>

                        <td>
                            <input required type="text" class="form-control" (keyup)="onNumberChange(addedRecord)" [(ngModel)]="addedRecord.amount" [ngModelOptions]="{standalone: true}"/>
                        </td>
                        <td>
                            <input disabled="addedRecord.expenseType.code === 'ADM_FEE'" (keyup)="onNumberChange(addedRecord)" type="text" class="form-control" [(ngModel)]="addedRecord.amountToSPV" [ngModelOptions]="{standalone: true}"/>
                        </td>
                        <td>
                            <button type="button" class="btn-xs btn-danger" style="display: inline-block"  (click)="removeRecord(addedRecord)">
                                <span class="glyphicon glyphicon-minus"></span>
                            </button>
                        </td>
                    </tr>

                </table>
                <div class="row">
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-success pull-right">SAVE</button>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <!--<button class="btn btn-sm btn-primary" type="button" data-toggle="collapse" data-target="#exportSettings"-->
            <!--aria-expanded="false" aria-controls="exportSettings">-->
        <!--Export settings-->
    <!--</button>-->
    <!--<br/>-->
    <!--<div class="collapse jumbotron" id="exportSettings">-->
        <!--<div class="card card-body">-->
            <!--<div class="row withpadding">-->
                <!--<div class="col-md-12">-->
                    <!--<div class="col-md-4">-->
                        <!--<label for="directorOption">Подписант</label>-->
                        <!--<select id="directorOption" required class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="exportDirectorOption">-->
                            <!--<option *ngFor="let item of exportDirectorLookup" [value]="item.code">{{item.nameRu}}</option>-->
                        <!--</select>-->
                    <!--</div>-->
                    <!--<div class="col-md-4">-->
                        <!--<label>Визы (макс. 3)</label>-->
                        <!--<div *ngFor="let item of exportApproveListLookup; let i = index" [attr.data-index]="i">-->
                            <!--<input id="vizaOptions" class="form-check-input" type="checkbox" [checked]="i <= 2" name="approvelistCheckbox"-->
                                   <!--(change)="checkApproveListOption(item, $event.target.checked)"/>-->
                            <!--<label class="form-check-label" for="vizaOptions">{{item.nameRu}}</label>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="col-md-4">-->
                        <!--<label for="doerOption">Исполнитель</label>-->
                        <!--<select id="doerOption" required class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="exportDoerOption">-->
                            <!--<option *ngFor="let item of exportDoerLookup" [value]="item.code">{{item.nameRu}}</option>-->
                        <!--</select>-->
                    <!--</div>-->
                <!--</div>-->

            <!--</div>-->
        <!--</div>-->
    <!--</div>-->

    <div class="row withpadding" style="position: relative; min-height: 80px;">
        <div class="row pull-right">
            <ul class="pagination" *ngIf="searchResult?.showPageFrom > 0">
                <li><a *ngIf="searchResult?.showPageFrom > 1" (click)="search(searchResult.showPageFrom - 1)">&laquo;</a></li>
                <li *ngFor="let i of range(searchResult.showPageFrom, searchResult.showPageTo)" [class.active]="i == searchResult.currentPage">
                    <a (click)="search(i)">{{i}}</a>
                </li>
                <li><a *ngIf="searchResult.showPageTo < searchResult.totalPages" (click)="search(searchResult.showPageTo + 1)">&raquo;</a></li>
            </ul>
        </div>
    </div>
    <div>
        <label>Total found: <span>{{searchResult?.totalElements > 0 ?  searchResult?.totalElements : 0}}</span></label>
    </div>

    <div [ngBusy]="{busy: busyExport, message: 'Exporting...'}" class="row withpadding">
        <table [ngBusy]="busy" class="table table-hover table-condensed" style="font-size: small" *ngIf="records != null">
            <tr bgcolor="#e7e7e7" style="font-weight: bold; font-size: small">
                <td>Статья</td>
                <td>Источник</td>
                <td>Получатель</td>
                <td>Дата</td>
                <td>Дата валютирования</td>
                <td>Сумма USD (SPV)</td>
                <!--<td>Сумма USD SPV</td>-->
                <td>Курс</td>
                <td>Сумма KZT</td>
                <td>Экспорт</td>
                <td>&nbsp;</td>
            </tr>
            <tr *ngFor="let record of records" [style.color]="record.currencyRate == null ? 'red' : 'black' ">
                <td>{{record.expenseType != null ? record.expenseType.nameRu : ''}}</td>
                <td>{{record.source != null ? record.source.nameRu : ''}}</td>
                <td>{{record.recipient != null ? record.recipient.nameRu : ''}}</td>
                <td>{{record.date}}</td>
                <td>{{record.valueDate}}</td>
                <td>{{record.amount | number:'1.2-2'}}{{record.amountToSPV != null ? (' (' + (record.amountToSPV | number:'1.2-2') + ')') : ''}}</td>
                <!--<td>{{record.amountToSPV | number:'1.2-2'}}</td>-->
                <td>{{record.currencyRate  != null ? (record.currencyRate | number:'1.2-2') : '-----'}}</td>
                <td>{{record.amountKZT | number:'1.2-2'}}</td>
                <td>
                    <button [disabled]="!showExportOrderButton(record)" class="btn btn-xs btn-primary" style="margin-left: 10px;" type="button" (click)="exportOrder(record)">
                        Letter
                    </button>

                    <button [disabled]="record.expenseType.code != 'ADD'" class="btn btn-xs btn-success" style="margin-left: 10px;" type="button" (click)="exportFAFToOperations(record)">
                        OPs
                    </button>
                    <button [disabled]="record.expenseType.code != 'ADD'" class="btn btn-xs btn-success" style="margin-left: 10px;" type="button" (click)="exportFAFToSPV(record)">
                        SPV
                    </button>
                </td>
                <td>
                    <button *ngIf="showDeleteRecordButton(record)" class="btn btn-xs btn-danger" style="margin-left: 10px;"
                            (click)="removeSavedRecord(record)">
                        <span class="glyphicon glyphicon-trash"></span>
                    </button>
                    <button type="button" *ngIf="showEditRecordButton(record)" class="btn btn-xs btn-success" style="display: inline-block"  (click)="editRecord(record)">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </button>
                </td>
            </tr>
        </table>
    </div>
    <div class="row withpadding" style="position: relative; min-height: 80px;">
        <div class="row pull-right">
            <ul class="pagination" *ngIf="searchResult?.showPageFrom > 0">
                <li><a *ngIf="searchResult?.showPageFrom > 1" (click)="search(searchResult.showPageFrom - 1)">&laquo;</a></li>
                <li *ngFor="let i of range(searchResult.showPageFrom, searchResult.showPageTo)" [class.active]="i == searchResult.currentPage">
                    <a (click)="search(i)">{{i}}</a>
                </li>
                <li><a *ngIf="searchResult.showPageTo < searchResult.totalPages" (click)="search(searchResult.showPageTo + 1)">&raquo;</a></li>
            </ul>
        </div>
    </div>
    <br/><br/>

    <div class="modal fade" id="exportSettingsModal" role="dialog">
        <div class="modal-dialog" style="overflow-y: scroll; min-height: 100px; max-height:85%;  margin-top: 100px; margin-bottom:50px; width:65%;">
            <div class="modal-content">
                <br/>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-4">
                                <label for="directorOption">Подписант</label>
                                <select id="directorOption" required class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="exportDirectorOption">
                                    <option *ngFor="let item of exportDirectorLookup" [value]="item.code">{{item.nameRu}}</option>
                                </select>
                            </div>
                            <div class="col-md-4">
                                <label>Визы (макс. 3)</label>
                                <div *ngFor="let item of exportApproveListLookup; let i = index" [attr.data-index]="i">
                                    <input id="vizaOptions" class="form-check-input" type="checkbox" [checked]="i <= 2" name="approvelistCheckbox"
                                           (change)="checkApproveListOption(item, $event.target.checked)"/>
                                    <label class="form-check-label" for="vizaOptions">{{item.nameRu}}</label>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <label for="doerOption">Исполнитель</label>
                                <select id="doerOption" required class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="exportDoerOption">
                                    <option *ngFor="let item of exportDoerLookup" [value]="item.code">{{item.nameRu}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <!--<button type="button" class="btn btn-default pull-left" data-dismiss="modal"data-dismiss="modal">Close</button>-->
                    <button type="button" class="btn btn-primary pull-right" data-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
    </div>
</div>