<div class="container">
    <div class="row top-buffer" >
        <div class="col-md-12">
            <ol class="breadcrumb">
                <li>
                    <span><a [routerLink]="['/reporting/NBReporting']">Reports Main</a></span>
                </li>
                <!--<li>-->
                    <!--<span *ngIf="reportId != null">-->
                        <!--<a [routerLink]="['/reporting/NBReporting/inputFileUpload/', reportId]">-->
                            <!--Parsed input files</a></span>-->
                <!--</li>-->
                <!--<li><span *ngIf="reportId != null"><a [routerLink]="['/reporting/NBReporting/NICKMFInput/', reportId]">NICK MF Input</a></span></li>-->
                <!--<li class="active">Tarragon - Generated Form</li>-->
                <li class="active">Input</li>
            </ol>
        </div>
    </div>

    <div class="row top-buffer" *ngIf="errorMessage != null || successMessage != null">
        <div class="col-md-12">
            <div class="alert alert-danger" *ngIf="errorMessage != null"><span>{{errorMessage}}</span>
            </div>
            <div class="alert alert-info" *ngIf="successMessage != null"><span>{{successMessage}}</span>
            </div>
        </div>
    </div>
    <br/>
    <div class="row withpadding">
        <h3 *ngIf="reportId != null">3. Tarragon - Generated General Ledger Form</h3>
    </div>

    <form (ngSubmit)="saveAddedRecords()" #addedRecordsForm="ngForm" class="well span">
        <div class="row withpadding">
            <button class="btn btn-xs btn-primary" type="button" (click)="addRecord()"
                    [disabled]="false">
                <span role="button" class="glyphicon glyphicon-plus">Add</span>
            </button>

            <button class="btn btn-xs btn-primary pull-right" type="button" (click)="copyFromPrevious()"
                    [disabled]="false">Copy from previous month</button>

            <div *ngIf="addedRecordsHolder.records != null && addedRecordsHolder.records.length > 0">
                <table class="table table-hover table-responsive table-condensed" style="font-size: small">
                    <thead>
                    <tr style="font-weight: bold; font-size: small">
                        <td width="15%">Acronym</td>
                        <!--<td>Balance Date</td>-->
                        <td width="5%">Financial Statement Category</td>
                        <!--<td>GL Account</td>-->
                        <!--<td>Financial Statement Category Description</td>-->
                        <td width="25%">Chart of Accounts Long Description</td>
                        <td>Investor Account/Portfolio Fund</td>
                        <td width="10%">NB Account Number</td>
                        <td width="25%">NIC Account Name</td>
                        <td width="15%">GL Account Balance</td>
                        <!--<td>Seg Val CCY</td>-->
                        <!--<td>Fund CCY</td>-->
                        <td width="5%">&nbsp;</td>
                    </tr>
                    </thead>
                    <tr  *ngFor="let addedRecord of addedRecordsHolder.records" style="font-size: small">
                        <td>
<!--                            <select required class="form-control" style="width: 100%; font-size: small" [ngModelOptions]="{standalone: true}" [(ngModel)]="addedRecord.tranche">-->
<!--                                &lt;!&ndash;TODO: load from component&ndash;&gt;-->
<!--                                <option value="1">TARRAGON</option>-->
<!--                                <option value="2">TARRAGON B</option>-->
<!--                            </select>-->
                            <select required class="form-control" style="width: 100%; font-size: small" [(ngModel)]="addedRecord.trancheType" [ngModelOptions]="{standalone: true}">
                                <option *ngFor="let trancheType of peTrancheTypes" [value]="trancheType.code">{{trancheType.nameEn}}</option>
                            </select>
                        </td>
                        <td>
                            <select required class="form-control" style="width: 100%; font-size: small" [ngModelOptions]="{standalone: true}" [(ngModel)]="addedRecord.financialStatementCategory">
                                <!--TODO: load from component-->
                                <option value="A">A</option>
                                <option value="L">L</option>
                                <option value="E">E</option>
                                <option value="X">X</option>
                                <option value="I">I</option>
                            </select>
                        </td>

                        <td>
                            <select required class="form-control" style="width: 100%; font-size: small" [(ngModel)]="addedRecord.tarragonNICChartOfAccountsName"
                                    (ngModelChange)="chartOfAccountsLongDescriptionChanged(addedRecord)" [ngModelOptions]="{standalone: true}">
                                <option *ngFor="let item of tarragonNICReportingChartOfAccounts" [value]="item.tarragonChartOfAccountsName">{{item.tarragonChartOfAccountsName}}</option>
                            </select>
                        </td>
                        <td>
                            <select [disabled]="addedRecord.nbAccountNumber == null || addedRecord.nbAccountNumber != '6150.030'" class="form-control" style="width: 100%; font-size: small" [(ngModel)]="addedRecord.entityName"
                                     [ngModelOptions]="{standalone: true}">
                                <option *ngFor="let item of availableFundList" [value]="item">{{item}}</option>
                            </select>
                            <!--<input type="text" class="form-control" class="form-control small"  [(ngModel)]="addedRecord.entityName" [ngModelOptions]="{standalone: true}"/>-->
                        </td>
                        <td>{{addedRecord.nbAccountNumber}}</td>
                        <td>{{addedRecord.nicAccountName}}</td>
                        <td>
                            <input required (keyup)="onNumberChange(addedRecord)" type="text" class="form-control small" [ngModelOptions]="{standalone: true}" class="form-control"  [(ngModel)]="addedRecord.glaccountBalance"/>
                        </td>
                        <td>
                            <button type="button" class="btn-xs btn-danger" style="display: inline-block"  (click)="removeRecord(addedRecord)">
                                <span class="glyphicon glyphicon-minus"></span>
                            </button>
                        </td>
                    </tr>
                </table>
                <div class="row">
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-success pull-right" [disabled]="!addedRecordsForm.form.valid">Save added</button>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <br/>

    <div class="row withpadding">
        <div class="col-md-6">
            <div class="col-md-1 pull-left">
                <button class="btn btn-primary" [routerLink]="['/reporting/NBReporting/NICKMFInput/', reportId]">PREVIOUS
                </button>
            </div>
        </div>
        <div class="col-md-6">
            <div class="col-md-1 pull-right">
                <button class="btn btn-primary" [routerLink]="['/reporting/NBReporting/TerraGeneratedForm/', reportId]" [disabled]="!showNextButton()">NEXT
                </button>

            </div>
        </div>
    </div>

    <br/>
    <div class="row withpadding">
        <table [ngBusy]="busy" class="table table-hover table-condensed" style="font-size: small" *ngIf="records != null">
            <!--<tr *ngIf="records != null && records.length > 0" style="font-weight: bold">-->
                <!--<td>&nbsp;</td>-->
                <!--<td>&nbsp;</td>-->
                <!--<td>&nbsp;</td>-->
                <!--<td>&nbsp;</td>-->
                <!--<td>&nbsp;</td>-->
                <!--<td>&nbsp;</td>-->
                <!--<td>&nbsp;</td>-->
                <!--<td>&nbsp;</td>-->
                <!--<td>&nbsp;</td>-->
                <!--<td colspan="4" style="font-style: italic" align="right">Total Assets: {{calculateTotalAssets() | number:'1.0-2': ''}}</td>-->
            <!--</tr>-->
            <!--<tr *ngIf="records != null && records.length > 0" style="font-weight: bold">-->
                <!--<td>&nbsp;</td>-->
                <!--<td>&nbsp;</td>-->
                <!--<td>&nbsp;</td>-->
                <!--<td>&nbsp;</td>-->
                <!--<td>&nbsp;</td>-->
                <!--<td>&nbsp;</td>-->
                <!--<td>&nbsp;</td>-->
                <!--<td>&nbsp;</td>-->
                <!--<td>&nbsp;</td>-->
                <!--<td colspan="4" style="font-style: italic" align="right">Total L,E,X,I: {{calculateTotalOther() | number:'1.0-2': ''}}</td>-->
            <!--</tr>-->
            <tr bgcolor="#e7e7e7">
                <td width="10%">Acronym</td>
                <td width="5%">Balance Date</td>
                <td width="5%">Financial Statement Category</td>
                <td width="5%">GL Account</td>
                <td width="5%">Financial Statement Category Description</td>
                <td width="10%">Chart of Accounts Long Description</td>
                <td width="10%">Investor Account/Portfolio Fund</td>
                <td width="5%">NB Account Number</td>
                <td width="15%">NIC Account Name</td>
                <td width="15%">GL Account Balance</td>
                <td width="5%">Seg Val CCY</td>
                <td width="5%">Fund CCY</td>
                <td width="5%">&nbsp;</td>

            </tr>
            <tr *ngFor="let record of records" [style.background-color]="record.added ? '#dcd196' : record.nbAccountNumber == null ? '#ec4747' : 'white'"
                [style.color]="isRecordExcluded(record) ? '#aaa7a7' : 'black'">
                <td [style.color]="record.acronym == null || record.acronym.trim() === '' || record.acronym.trim() === 'UNMATCHED' ? '#ec4747' : 'black'">{{record.acronym}}</td>
                <td>{{record.balanceDate}}</td>
                <td>{{record.financialStatementCategory}}</td>
                <td>{{record.glaccount}}</td>
                <td>{{record.financialStatementCategoryDescription}}</td>
                <td>{{record.chartAccountsLongDescription}}</td>
                <td>{{record.subscriptionRedemptionEntity}}</td>
                <td>{{record.nbAccountNumber}}</td>
                <td>{{record.nicAccountName}}</td>
                <td *ngIf="!record.editing">
                    <del><span *ngIf="isRecordExcluded(record)">{{record.glaccountBalance != null ? (record.glaccountBalance | number:'1.2-2'): ''}}</span></del>
                    <span *ngIf="!isRecordExcluded(record)">{{record.glaccountBalance != null ? (record.glaccountBalance | number:'1.2-2'): ''}}</span>
                    <!--{{record.glaccountBalance != null ? (record.glaccountBalance | number:'1.2-2'): ''}}-->
                </td>
                <td *ngIf="record.editing">
                    <input type="number" class="form-control" [(ngModel)]="record.glaccountBalance"/>
                </td>
                <td>{{record.segValCCY}}</td>
                <td>{{record.fundCCY}}</td>
                <td>
                    <button *ngIf="record.added" type="button" class="btn-xs btn-danger" style="display: inline-block"  (click)="removeSavedRecord(record)">
                        <span class="glyphicon glyphicon-minus"></span>
                    </button>

                    <button *ngIf="record.added" [disabled] = "addedRecordsHolder.records != null && addedRecordsHolder.records.length > 0" type="button" class="btn-xs btn-success" style="display: inline-block"  (click)="editSavedRecord(record)">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </button>

                    <button *ngIf="record.editable && !record.editing" type="button" class="btn-xs" style="display: inline-block"  (click)="record.editing = true">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </button>
                    <button *ngIf="record.editable && record.editing" type="button" class="btn-xs" style="display: inline-block"  (click)="saveEditAccountBalance(record)">
                        <span class="glyphicon glyphicon-floppy-disk"></span>
                    </button>

                    <button *ngIf="!record.added && !isRecordExcluded(record)" type="button" class="btn-xs btn-default" style="display: inline-block"  (click)="excludeGeneratedRecord(record)">
                        <span class="glyphicon glyphicon-minus"></span>
                    </button>
                    <button *ngIf="!record.added && isRecordExcluded(record)" type="button" class="btn-xs btn-default" style="display: inline-block"  (click)="includeGeneratedRecord(record)">
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                </td>
            </tr>

            <tr *ngIf="records != null && records.length > 0" style="font-weight: bold">
                <td colspan="9">&nbsp;</td>
                <td colspan="4" style="font-style: italic" align="right">Total Assets: {{totalAssetsSum | number:'1.0-2': ''}}</td>
            </tr>
            <tr *ngIf="records != null && records.length > 0" style="font-weight: bold">
                <td colspan="9">&nbsp;</td>
                <td colspan="4" style="font-style: italic" align="right">Total L,E,X,I: {{totalOtherSum | number:'1.0-2': ''}}</td>
            </tr>
            <tr *ngIf="records != null && records.length > 0 && (totalAssetsSum + totalOtherSum) != 0" style="font-weight: bold">
                <td colspan="9">&nbsp;</td>
                <td colspan="4" style="font-style: italic" align="right">L= {{liabilitiesSum | number:'1.0-2': ''}}</td>
            </tr>
            <tr *ngIf="records != null && records.length > 0 && (totalAssetsSum + totalOtherSum) != 0" style="font-weight: bold">
                <td colspan="9">&nbsp;</td>
                <td colspan="4" style="font-style: italic" align="right">E= {{equitySum | number:'1.0-2': ''}}</td>
            </tr>
            <tr *ngIf="records != null && records.length > 0 && (totalAssetsSum + totalOtherSum) != 0" style="font-weight: bold">
                <td colspan="9">&nbsp;</td>
                <td colspan="4" style="font-style: italic" align="right">X= {{expenseSum | number:'1.0-2': ''}}</td>
            </tr>
            <tr *ngIf="records != null && records.length > 0 && (totalAssetsSum + totalOtherSum) != 0" style="font-weight: bold">
                <td colspan="9">&nbsp;</td>
                <td colspan="4" style="font-style: italic" align="right">I= {{incomeSum | number:'1.0-2': ''}}</td>
            </tr>
            <tr *ngIf="records != null && records.length > 0" style="font-weight: bold">
                <td colspan="9">&nbsp;</td>
                <td colspan="4" style="font-style: italic" align="right">Total sum: {{(totalAssetsSum + totalOtherSum)| number:'1.0-2': ''}}</td>
            </tr>
        </table>
    </div>
    <div class="row">
        <div class="col-md-12">
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="col-md-1 pull-left">
                <button class="btn btn-primary" [routerLink]="['/reporting/NBReporting/NICKMFInput/', reportId]">PREVIOUS
                </button>
            </div>
        </div>
        <div class="col-md-6">
            <div class="col-md-1 pull-right">
                <button class="btn btn-primary" [routerLink]="['/reporting/NBReporting/TerraGeneratedForm/', reportId]" [disabled]="!showNextButton()">NEXT</button>
            </div>
        </div>
    </div>
    <br/><br/>
</div>