<div class="container">
    <div class="row top-buffer" >
        <div class="col-md-12">
            <ol class="breadcrumb">
                <li>
                    <span><a [routerLink]="['/reporting/NBReporting']">Reports Main</a></span>
                </li>
                <li *ngIf="reportId != null && report != null && report.status != 'SUBMITTED'">
                    <span>
                        <a [routerLink]="['/reporting/NBReporting/inputFileUpload/', reportId]">
                            Input</a></span>
                </li>
                <!--<li><span *ngIf="reportId != null"><a [routerLink]="['/reporting/NBReporting/NICKMFInput/', reportId]">NICK MF Input</a></span></li>-->
                <!--<li><span *ngIf="reportId != null"><a [routerLink]="['/reporting/NBReporting/TarragonGeneratedForm/', reportId, 'INPUT']">Tarragon - Generated Form</a></span></li>-->
                <li><span *ngIf="reportId != null"><a [routerLink]="['/reporting/NBReporting/GeneratedReports/', reportId, 'INPUT']">Generate report</a></span></li>
                <li class="active">Tarragon - General Ledger form</li>
            </ol>
        </div>
    </div>

    <div class="row top-buffer" *ngIf="errorMessage != null || successMessage != null">
        <div class="col-md-12">
            <div class="alert alert-danger" *ngIf="errorMessage != null"><span>{{errorMessage}}</span>
            </div>
            <div class="alert alert-info" *ngIf="successMessage != null"><span>{{successMessage}}</span>
            </div>
        </div>
    </div>
    <br/>
    <div class="row withpadding">
        <h3 *ngIf="reportId != null">Tarragon - Generated General Ledger Form</h3>
    </div>

    <br/>
    <div class="row withpadding">
        <table [ngBusy]="busy" class="table table-hover table-condensed" style="font-size: small" *ngIf="records != null">
            <tr bgcolor="#e7e7e7">
                <td width="10%">Acronym</td>
                <td width="5%">Balance Date</td>
                <td width="5%">Financial Statement Category</td>
                <td width="5%">GL Account</td>
                <td width="5%">Financial Statement Category Description</td>
                <td width="10%">Chart of Accounts Long Description</td>
                <td width="10%">Investor Account/Portfolio Fund</td>
                <td width="5%">NB Account Number</td>
                <td width="15%">NIC Account Name</td>
                <td width="15%">GL Account Balance</td>
                <td width="5%">Seg Val CCY</td>
                <td width="5%">Fund CCY</td>
            </tr>
            <tr *ngFor="let record of records" [style.background-color]="record.added ? '#dcd196' : record.nbAccountNumber == null ? '#ec4747' : 'white'">
                <td>{{record.acronym}}</td>
                <td>{{record.balanceDate}}</td>
                <td>{{record.financialStatementCategory}}</td>
                <td>{{record.glaccount}}</td>
                <td>{{record.financialStatementCategoryDescription}}</td>
                <td>{{record.chartAccountsLongDescription}}</td>
                <td>{{record.subscriptionRedemptionEntity}}</td>
                <td>{{record.nbAccountNumber}}</td>
                <td>{{record.nicAccountName}}</td>
                <td>{{record.glaccountBalance != null ? (record.glaccountBalance | number:'1.2-2'): ''}}</td>
                <td>{{record.segValCCY}}</td>
                <td>{{record.fundCCY}}</td>
            </tr>

            <tr *ngIf="records != null && records.length > 0" style="font-weight: bold">
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td colspan="4" style="font-style: italic" align="right">Total Assets: {{totalAssetsSum | number:'1.0-2': ''}}</td>
            </tr>
            <tr *ngIf="records != null && records.length > 0" style="font-weight: bold">
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td colspan="4" style="font-style: italic" align="right">Total L,E,X,I: {{totalOtherSum | number:'1.0-2': ''}}</td>
            </tr>
            <tr *ngIf="records != null && records.length > 0" style="font-weight: bold">
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td colspan="4" style="font-style: italic" align="right">Total sum: {{(totalAssetsSum + totalOtherSum)| number:'1.0-2': ''}}</td>
            </tr>
        </table>
    </div>
    <br/><br/>
</div>