<div class="container">
    <div class="row top-buffer" >
        <div class="col-md-12">
            <ol class="breadcrumb">
                <li>
                    <span *ngIf="this.breadcrumbParams != null"><a [routerLink]="['/pe/firmSearch', {params: this.breadcrumbParams}]">Firm Search</a></span>
                    <span *ngIf="this.breadcrumbParams == null"><a [routerLink]="['/pe/firmSearch']">Firm Search</a></span>
                </li>
                <li class="active">Firm profile</li>
            </ol>
        </div>
    </div>
    <div style="position: relative;">
        <div [ngBusy]="busy">
            <div class="row top-buffer" >
                <div class="col-md-12">
                    <div class="alert alert-info" *ngIf="successMessage != null"><span>{{successMessage}}</span>
                    </div>
                </div>
            </div>
            <div class="row top-buffer" >
                <div class="col-md-12">
                    <div class="alert alert-danger" *ngIf="errorMessage != null"><span>{{errorMessage}}</span>
                    </div>
                </div>
            </div>
            <ul class="nav nav-tabs">
                <li class="active">
                    <a data-toggle="tab" href="#overview">OVERVIEW</a>
                </li>
                <li (click)="search()">
                    <a data-toggle="tab" href="#meetings_calls">MEETINGS/CALLS</a>
                </li>
            </ul>
            <br/>
            <div class="tab-content">

                <div id="overview" class="tab-pane fade in active">
                    <form (ngSubmit)="save()" #firmForm="ngForm" class="well span">
                        <div class="row">
                            <div class="form-group form-horizontal">
                                <div class="col-md-1">
                                    <label class="control-label" for="firmName"><b>GP Name</b></label>
                                </div>
                                <div class="col-md-8">
                                    <input type="text" class="form-control" placeholder="Enter firm name..." id="firmName" name="firmName" [(ngModel)]="firm.firmName" required #name="ngModel"/>
                                    <div [hidden]="name.valid || name.pristine" class="alert alert-danger">Name is required</div>
                                </div>
                            </div>
                        </div>
                        <br/>
                        <div class="row withpadding">
                            <table class=" col-md-4 table-striped table-condensed">
                                <tr>
                                    <td class="col-md-2">Firm inception</td>
                                    <td class="col-md-3">
                                        <input style="width: 100%" type="text" name="foundedYear" [(ngModel)]="firm.foundedYear" pattern="[1-2][0-9][0-9][0-9]" #foundedYear="ngModel"/>
                                        <div [hidden]="foundedYear.valid || foundedYear.pristine" class="alert alert-danger">
                                            Please enter a valid year
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="col-md-1">AUM (mln)</td>
                                    <td class="col-md-3">
                                        <input style="width: 100%" type="text" name="aum" [(ngModel)]="firm.aum" pattern="[+]?[0-9]*\.?[0-9]+" #aum="ngModel"/>
                                        <div [hidden]="aum.valid || aum.pristine" class="alert alert-danger">
                                            Only positive number could be entered
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="col-md-1">Strategy</td>
                                    <td class="col-md-3" *ngIf="strategyList?.length > 0">
                                        <!--<input style="width: 100%" type="text"/>-->
                                        <ng-select #strategySelect [initData]="firm.strategy"
                                                   [multiple]="true"
                                                   [items]="strategyList"
                                                   (data)="refreshStrategy($event)"
                                                   (selected)="selected($event)"
                                                   (removed)="removed($event)"
                                                   placeholder="No strategy selected"></ng-select>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="col-md-1">Industry Focus</td>
                                    <td class="col-md-3" *ngIf="industryList?.length > 0">
                                        <ng-select #industrySelect [initData]="firm.industryFocus"
                                                   [multiple]="true"
                                                   [items]="industryList"
                                                   (data)="refreshIndustry($event)"
                                                   (selected)="selected($event)"
                                                   (removed)="removed($event)"
                                                   placeholder="No industry selected"></ng-select>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="col-md-1">Geography Focus</td>
                                    <td class="col-md-3" *ngIf="geographyList?.length > 0">
                                        <ng-select #geographySelect [initData]="firm.geographyFocus"
                                                   [multiple]="true"
                                                   [items]="geographyList"
                                                   (data)="refreshGeography($event)"
                                                   (selected)="selected($event)"
                                                   (removed)="removed($event)"
                                                   placeholder="No geography selected"></ng-select>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="col-md-1">Investment team size</td>
                                    <td class="col-md-3">
                                        <input style="width: 100%" type="text" name="invTeamSize" [(ngModel)]="firm.invTeamSize" pattern="^[0-9]\d*$" #invTeamSize="ngModel"/>
                                        <div [hidden]="invTeamSize.valid || invTeamSize.pristine" class="alert alert-danger">
                                            Only positive number could be entered
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="col-md-1">Operations team size</td>
                                    <td class="col-md-3">
                                        <input style="width: 100%" type="text" name="opsTeamSize" [(ngModel)]="firm.opsTeamSize" pattern="^[0-9]\d*$" #opsTeamSize="ngModel"/>
                                        <div [hidden]="opsTeamSize.valid || opsTeamSize.pristine" class="alert alert-danger">
                                            Only positive number could be entered
                                        </div>
                                    </td>
                                </tr>
                            </table>
                            <div class=" col-md-1">&nbsp;</div>
                            <table class=" col-md-4 table-striped table-condensed">
                                <tr>
                                    <td class="col-md-1">Peers</td>
                                    <td class="col-md-5">
                                        <input style="width: 100%" type="text" name="peers" [(ngModel)]="firm.peers"/>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="col-md-1">Locations</td>
                                    <td class="col-md-5">
                                        <input style="width: 100%" type="text" name="locations" [(ngModel)]="firm.locations"/>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="col-md-1">Headquarters</td>
                                    <td class="col-md-5">
                                        <input style="width: 100%" type="text" name="headquarters" [(ngModel)]="firm.headquarters"/>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="col-md-1">Telephone</td>
                                    <td class="col-md-3">
                                        <input style="width: 100%" type="text" name="telephone" [(ngModel)]="firm.telephone"/>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="col-md-1">Fax</td>
                                    <td class="col-md-3">
                                        <input style="width: 100%" type="text" name="fax" [(ngModel)]="firm.fax"/>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="col-md-1">Website</td>
                                    <td class="col-md-3">
                                        <input style="width: 100%" type="text" name="website" [(ngModel)]="firm.website"/>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="col-md-1">Contact person</td>
                                    <td class="col-md-3">
                                        <input style="width: 100%" type="text" name="contactPerson" [(ngModel)]="firm.contactPerson"/>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="col-md-1">Email</td>
                                    <td class="col-md-3">
                                        <input style="width: 100%" type="text" name="email" [(ngModel)]="firm.email"/>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="row">
                            <div class="col-md-1 pull-right">
                                <button type="submit" class="btn btn-success" [disabled]="!firmForm.form.valid">SAVE</button>
                            </div>
                        </div>
                    </form>
                    <div class="row withpadding">
                        <hr style="border-top: 1px solid #B5AEAE"/>
                        <div class="col-md-9">
                            <h3>Funds</h3>
                        </div>
                        <div class="col-md-1 pull-right">
                            <button class="btn btn-primary" [disabled]="firm.id == 0 || firm.id == null" (click)="createFund()">ADD</button>
                        </div>
                        <table class="table table-hover">
                            <thead>
                            <th>&nbsp;</th>
                            <th>FUND</th>
                            <th>STATUS</th>
                            <th>VINTAGE</th>
                            <!--<th>STRATEGY</th>-->
                            <th>UPDATED</th>
                            <th>ACTIONS</th>
                            </thead>
                            <tbody>
                            <tr *ngFor="let fund of firm.funds">
                                <td width="5%"></td>
                                <td width="20%"><a [routerLink]="['/pe/fundProfile/',fund.id, firm.id]">{{fund.fundName}}</a></td>
                                <td width="5%">{{fund.status}}</td>
                                <td width="5%"><span *ngIf="fund.vintage != 0">{{fund.vintage}}</span></td>
                                <!--<td width="10%"></td>-->
                                <td width="10%">{{fund.updateDate}}</td>
                                <td width="5%">
                                    <a><i class="glyphicon glyphicon-search"></i></a>
                                    <a><i class="glyphicon glyphicon-file"></i></a>
                                    <a><i class="glyphicon glyphicon-plus"></i></a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div id="meetings_calls" class="tab-pane fade">
                    <div style="position: relative;" class="withpadding">
                        <div [ngBusy]="busy">
                            <div class="col-md-12">
                                <div class="jumbotron">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="meetingType">Meeting Type</label>
                                                    <select class="form-control" id="meetingType" [(ngModel)]="memoSearchParams.meetingType">
                                                        <option value="NONE">---</option>
                                                        <option *ngFor = "let type of meetingTypes" [value]="type.code">{{type.nameEn}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <label for="fromDateDTPickeer">From</label>
                                                <div class='input-group date col-md-3' id='fromDateDTPickeer' style="width: 100%">
                                                    <input type='text' class="form-control" id="fromDate" />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <label for="untilDateDTPickeer">To</label>
                                                <div class='input-group date col-md-3' id='untilDateDTPickeer' style="width: 100%">
                                                    <input type='text' class="form-control" id="toDate"/>
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--<div class="row">-->
                                        <!--<div class="col-md-12">-->
                                            <!--<div class="col-md-6">-->
                                                <!--<div class="form-group">-->
                                                    <!--<label for="fundName">Fund</label>-->
                                                    <!--<input type="text" class="form-control" id="fundName" placeholder="Enter fund name..."-->
                                                           <!--[(ngModel)]="memoSearchParams.fundName"/>-->
                                                <!--</div>-->
                                            <!--</div>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                    <br/>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <button type="button" class="btn btn-success pull-right" (click)="search()">Search</button>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <label>Total found: <span>{{memoSearchResult?.totalElements > 0 ?  memoSearchResult?.totalElements : 0}}</span></label>
                                </div>
                                <div class="row withpadding" style="position: relative; min-height: 80px;">
                                    <div class="row pull-right">
                                        <ul class="pagination" *ngIf="memoSearchResult?.showPageFrom > 0">
                                            <li><a *ngIf="memoSearchResult?.showPageFrom > 1" (click)="search(memoSearchResult.showPageFrom - 1)">&laquo;</a></li>
                                            <li *ngFor="let i of range(memoSearchResult.showPageFrom, memoSearchResult.showPageTo)" [class.active]="i == memoSearchResult.currentPage">
                                                <a (click)="search(i)">{{i}}</a>
                                            </li>
                                            <li><a *ngIf="memoSearchResult.showPageTo < memoSearchResult.totalPages" (click)="search(memoSearchResult.showPageTo + 1)">&raquo;</a></li>
                                        </ul>
                                    </div>
                                    <table [ngBusy]="busy" class="table table-hover">
                                        <thead>
                                        <tr>
                                            <th>MEETING/CALL</th>
                                            <!--<th>FIRM</th>-->
                                            <th>FUND</th>
                                            <th>DATE</th>
                                            <th>AUTHOR</th>
                                            <th>ACTIONS</th>
                                        </tr>
                                        </thead>

                                        <tbody>
                                        <tr *ngFor = "let memo of memoList" style="cursor: pointer" (click)="navigate(memo.memoType, memo.id)">
                                            <td width="10%" >{{memo.meetingType}}</td>
                                            <!--<td width="30%"><a style="cursor: pointer" (click)="navigate(memo.memoType, memo.id)">{{memo.firmName}}</a></td>-->
                                            <td width="30%">{{memo.fundName}}</td>
                                            <!--<td width="10%" th:text="${memoItem.meetingDate}"></td>-->
                                            <td width="10%">{{memo.meetingDate}}</td>
                                            <td width="10%">{{memo.owner}}</td>
                                            <td width="5%">
                                                <!--<a><i class="glyphicon glyphicon-trash"></i></a>-->
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <div class="row pull-right">
                                        <ul class="pagination" *ngIf="memoSearchResult?.showPageFrom > 0">
                                            <li><a *ngIf="memoSearchResult?.showPageFrom > 1" (click)="search(memoSearchResult.showPageFrom - 1)">&laquo;</a></li>
                                            <li *ngFor="let i of range(memoSearchResult.showPageFrom, memoSearchResult.showPageTo)" [class.active]="i == memoSearchResult.currentPage">
                                                <a (click)="search(i)">{{i}}</a>
                                            </li>
                                            <li><a *ngIf="memoSearchResult.showPageTo < memoSearchResult.totalPages" (click)="search(memoSearchResult.showPageTo + 1)">&raquo;</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>