<div class="container">
    <div class="row top-buffer" >
        <div class="col-md-12">
            <div class="alert alert-info" *ngIf="successMessage != null"><span>{{successMessage}}</span>
            </div>
        </div>
    </div>
    <div class="row top-buffer" >
        <div class="col-md-12">
            <div class="alert alert-danger" *ngIf="errorMessage != null"><span>{{errorMessage}}</span>
            </div>
        </div>
    </div>

    <ul class="nav nav-tabs">
        <li class="active">
            <a data-toggle="tab" href="#overview">OVERVIEW</a>
        </li>
        <li>
            <a data-toggle="tab" href="#idd">IDD</a>
        </li>
        <li>
            <a data-toggle="tab" href="#odd">ODD</a>
        </li>
    </ul>

    <div class="tab-content withpadding">
        <div id="overview" class="tab-pane fade in active">
            <br/>

            <!-- LEFT PANEL -->
            <!--<div class="col-md-4">-->
            <div class="row">
                <h4>Manager Details</h4>
                <table class=" col-md-4 table-striped table-condensed">
                    <tr>
                        <td class="col-md-1">GP Name</td>
                        <td class="col-md-3">
                            <a [routerLink]="['/pe/firmProfile/', fund?.firm?.id]">{{fund?.firm?.firmName}}</a></td>
                    </tr>
                    <tr>
                        <td class="col-md-1">AUM (mln)</td>
                        <td class="col-md-3">{{fund?.firm?.aum}}</td>
                    </tr>
                    <tr>
                        <td class="col-md-1">Inception</td>
                        <td class="col-md-3">{{fund?.firm?.foundedYear}}
                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-3">Inv team (ops team)</td>
                        <td class="col-md-3">{{fund?.firm?.invTeamSize}}({{fund?.firm?.opsTeamSize}})</td>
                    </tr>
                </table>
                <table class=" col-md-4 table-striped table-condensed">
                    <tr>
                        <td class="col-md-1">Strategy focus</td>
                        <td class="col-md-3">{{fund?.firm?.strategy}}</td>
                    </tr>

                    <tr>
                        <td class="col-md-1">Industry focus</td>
                        <td class="col-md-3">{{fund?.firm?.industryFocus}}</td>
                    </tr>
                    <tr>
                        <td class="col-md-1">Geography focus</td>
                        <td class="col-md-3">{{fund?.firm?.geographyFocus}}</td>
                    </tr>
                </table>
            </div>
            <br/>
            <div class="row">
                <div class="col-md-1">
                    <label><b>Fund name</b></label>
                </div>
                <div class="col-md-4">
                    <input type="text" class="form-control" placeholder="Enter fund name..."
                           [(ngModel)]="fund.fundName"/>
                </div>
                <div class="col-md-1">
                    <label><b>Status</b></label>
                </div>
                <div class="col-md-3">
                    <select id="fundStatus" class="form-control" [(ngModel)]="fund.status" (ngModelChange)="toggle()">
                        <option value="Closed" selected>Closed</option>
                        <option value="Open">Open</option>
                    </select>
                </div>
            </div>
            <div [hidden]="!visible">
                <div class="row">
                <h4>Fund Details</h4>
                <table class=" col-md-4 table-striped table-condensed">
                    <tr>
                        <td class="col-md-1">Fund size</td>
                        <td class="col-md-3"><input style="width: 100%" type="text" [(ngModel)]="fund.fundSize"/></td>
                    </tr>

                    <tr>
                        <td class="col-md-1">Target size / Hard cap</td>
                        <td class="col-md-3"><input style="width: 100%" type="text" [(ngModel)]="fund.targetSize"/></td>
                    </tr>
                    <tr>
                        <td class="col-md-1">GP commitment</td>
                        <td class="col-md-3"><input style="width: 100%" type="text" [(ngModel)]="fund.gpCommitment"/></td>
                    </tr>
                    <tr>
                        <td class="col-md-1">Management fee</td>
                        <td class="col-md-3"><input style="width: 100%" type="text" [(ngModel)]="fund.managementFee"/></td>
                    </tr>

                    <tr>
                        <td class="col-md-1">Management fee commentary</td>
                        <td class="col-md-3"><input style="width: 100%" type="text" [(ngModel)]="fund.managementFeeCommentary"/></td>
                    </tr>
                </table>
                <table class=" col-md-4 table-striped table-condensed">
                    <tr>
                        <td class="col-md-1">Carried interest</td>
                        <td class="col-md-3"><input style="width: 100%" type="text" [(ngModel)]="fund.carriedInterest"/></td>
                    </tr>
                    <tr>
                        <td class="col-md-1">Hurdle rate</td>
                        <td class="col-md-3"><input style="width: 100%" type="text" [(ngModel)]="fund.hurdleRate"/></td>
                    </tr>
                    <tr>
                        <td class="col-md-1">Industry</td>
                        <td class="col-md-3" *ngIf="industryList?.length > 0">
                            <ng-select #industrySelect [initData]="fund.industry"
                                       [multiple]="true"
                                       [items]="industryList"
                                       (data)="refreshIndustry($event)"
                                       (selected)="selected($event)"
                                       (removed)="removed($event)"
                                       placeholder="No industry selected"></ng-select>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-1">Strategy</td>
                        <td class="col-md-3" *ngIf="strategyList?.length > 0">
                            <ng-select #strategySelect [initData]="fund.strategy"
                                       [multiple]="true"
                                       [items]="strategyList"
                                       (data)="refreshStrategy($event)"
                                       (selected)="selected($event)"
                                       (removed)="removed($event)"
                                       placeholder="No strategy selected"></ng-select>
                    </tr>
                    <tr>
                        <td class="col-md-1">Geography</td>
                        <td class="col-md-3" *ngIf="geographyList?.length > 0">
                            <ng-select #geographySelect [initData]="fund.geography"
                                       [multiple]="true"
                                       [items]="geographyList"
                                       (data)="refreshGeography($event)"
                                       (selected)="selected($event)"
                                       (removed)="removed($event)"
                                       placeholder="No geography selected"></ng-select>
                        </td>
                    </tr>
                </table>
            </div>
            </div>

            <div class="row">
                <h4>Key fund statistics</h4>
                <table class=" col-md-4 table-striped table-condensed">
                    <tr>
                        <td class="col-md-1">Vintage</td>
                        <td class="col-md-3"><input style="width: 100%" type="text" [(ngModel)]="fund.vintage"/></td>
                    </tr>

                    <tr>
                        <td class="col-md-1">Number of investments</td>
                        <td class="col-md-3"><input style="width: 100%" type="text" [(ngModel)]="fund.numberOfInvestments"/></td>
                    </tr>
                    <!--<tr>-->
                        <!--<td class="col-md-1">Fund size</td>-->
                        <!--<td class="col-md-3"><input style="width: 100%" type="text" [(ngModel)]="fund.fundSize"/></td>-->
                    <!--</tr>-->
                    <tr>
                        <td class="col-md-1">Invested amount</td>
                        <td class="col-md-3"><input style="width: 100%" type="text" [(ngModel)]="fund.investedAmount"/></td>
                    </tr>

                    <tr>
                        <td class="col-md-1">Realized amount</td>
                        <td class="col-md-3"><input style="width: 100%" type="text" [(ngModel)]="fund.realized"/></td>
                    </tr>
                    <tr>
                        <td class="col-md-1">Unrealized amount</td>
                        <td class="col-md-3"><input style="width: 100%" type="text" [(ngModel)]="fund.unrealized"/></td>
                    </tr>
                </table>
                <table class=" col-md-4 table-striped table-condensed">
                    <tr>
                        <td class="col-md-1">DPI</td>
                        <td class="col-md-3"><input style="width: 100%" type="text" [(ngModel)]="fund.dpi"/></td>
                    </tr>
                    <tr>
                        <td class="col-md-1">Gross TVPI</td>
                        <td class="col-md-3"><input style="width: 100%" type="text" [(ngModel)]="fund.grossTvpi"/></td>
                    </tr>
                    <tr>
                        <td class="col-md-1">Gross IRR</td>
                        <td class="col-md-3"><input style="width: 100%" type="text" [(ngModel)]="fund.grossIrr"/></td>
                    </tr>
                    <tr>
                        <td class="col-md-1">Net TVPI</td>
                        <td class="col-md-3"><input style="width: 100%" type="text" [(ngModel)]="fund.netTvpi"/></td>
                    </tr>
                    <tr>
                        <td class="col-md-1">Net IRR</td>
                        <td class="col-md-3"><input style="width: 100%" type="text" [(ngModel)]="fund.netIrr"/></td>
                    </tr>
                </table>
            </div>

            <div [hidden]="!visible">
                <div class="row">
                <h4>Fund strategy</h4>
                <table class=" col-md-4 table-striped table-condensed">
                    <td class="col-md-1">Fund strategy comment</td>
                    <td class="col-md-3"><input style="width: 100%" type="text" [(ngModel)]="fund.strategyComments"/></td>
                </table>
            </div>
            </div>
            <div [hidden]="!visible">
                <div class="row">
                <h4>Descriptive data</h4>
                <table class=" col-md-4 table-striped table-condensed">
                    <tr>
                        <td class="col-md-1">Investment period</td>
                        <td class="col-md-3"><input style="width: 100%" type="text" [(ngModel)]="fund.investmentPeriod"/></td>
                    </tr>
                    <tr>
                        <td class="col-md-1">Fund term</td>
                        <td class="col-md-3"><input style="width: 100%" type="text" [(ngModel)]="fund.fundTerm"/></td>
                    </tr>
                    <tr>
                        <td class="col-md-1">Target inv. size range</td>
                        <td class="col-md-3"><input style="width: 100%" type="text" [(ngModel)]="fund.targetInvSizeRange"/></td>
                    </tr>
                </table>
                <table class=" col-md-4 table-striped table-condensed">
                    <tr>
                        <td class="col-md-1">Target EV range</td>
                        <td class="col-md-3"><input style="width: 100%" type="text" [(ngModel)]="fund.targetEvRange"/></td>
                    </tr>
                    <tr>
                        <td class="col-md-1">Target number of inv.</td>
                        <td class="col-md-1"><input style="width: 100%" type="text" [(ngModel)]="fund.targetNumberOfInv1"/></td>
                        <td class="col-md-1"><input style="width: 100%" type="text" [(ngModel)]="fund.targetNumberOfInv2"/></td>
                    </tr>
                    <tr>
                        <td class="col-md-1">Expected annual number of inv.</td>
                        <td class="col-md-1"><input style="width: 100%" type="text" [(ngModel)]="fund.expAnnualNumberOfInv1"/></td>
                        <td class="col-md-1"><input style="width: 100%" type="text" [(ngModel)]="fund.expAnnualNumberOfInv2"/></td>
                    </tr>
                </table>
            </div>

                <div class="row">
                <h4>Targeted closing information</h4>
                <!--<div class="col-md-3">-->
                    <!--<div class='input-group date col-md-2' id='firstClose' style="width: 100%">-->
                        <!--<input type='text' class="form-control" id="firstCloseVal" [(ngModel)]="fund.firstClose"/>-->
                    <!--<span class="input-group-addon">-->
                        <!--<span class="glyphicon glyphicon-calendar">Start date</span>-->
                    <!--</span>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="col-md-3">-->
                    <!--<div class='input-group date col-md-2' id='finalClose' style="width: 100%">-->
                        <!--<input type='text' class="form-control" id="finalCloseVal" [(ngModel)]="fund.finalClose"/>-->
                    <!--<span class="input-group-addon">-->
                        <!--<span class="glyphicon glyphicon-calendar">End date</span>-->
                    <!--</span>-->
                    <!--</div>-->
                <!--</div>-->
                <table class="col-md-4 table-striped table-condensed">
                    <tr>
                        <td class="col-md-1">First close</td>
                        <td class="col-md-3"><input type='text' class="form-control" id="firstClose" [(ngModel)]="fund.firstClose"/></td>
                    </tr>
                </table>
                <table class="col-md-4 table-striped table-condensed">
                    <tr>
                        <td class="col-md-1">Final close</td>
                        <td class="col-md-3"><input type='text' class="form-control" id="finalClose" [(ngModel)]="fund.finalClose"/></td>
                    </tr>
                </table>
            </div>
                <div class="row">
                <h4>Observations</h4>
                <h5>General Partner</h5>
                <table class=" col-md-4 table-striped table-condensed">
                    <th>Merits</th>
                    <tr>
                        <td class="col-md-3"><textarea   spellcheck="false"  class="form-control" [(ngModel)]="fund.generalPartnerMerits"></textarea></td>
                    </tr>
                </table>
                <table class=" col-md-4 table-striped table-condensed">
                    <th>Risks</th>
                    <tr>
                        <td class="col-md-3"><textarea   spellcheck="false"  class="form-control" [(ngModel)]="fund.generalPartnerRisks"></textarea></td>
                    </tr>
                </table>
            </div>
                <div class="row">
                <h5>Strategy/Structure</h5>
                <table class=" col-md-4 table-striped table-condensed">
                    <th>Merits</th>
                    <tr>
                        <td class="col-md-3"><textarea   spellcheck="false"  class="form-control" [(ngModel)]="fund.strategyStructureMerits"></textarea></td>
                    </tr>
                </table>
                <table class=" col-md-4 table-striped table-condensed">
                    <th>Risks</th>
                    <tr>
                        <td class="col-md-3"><textarea   spellcheck="false"  class="form-control" [(ngModel)]="fund.strategyStructureRisks"></textarea></td>
                    </tr>
                </table>
            </div>
                <div class="row">
                <h5>Performance</h5>
                <table class=" col-md-4 table-striped table-condensed">
                    <th>Merits</th>
                    <tr>
                        <td class="col-md-3"><textarea   spellcheck="false"  class="form-control" [(ngModel)]="fund.performanceMerits"></textarea></td>
                    </tr>
                </table>
                <table class=" col-md-4 table-striped table-condensed">
                    <th>Risks</th>
                    <tr>
                        <td class="col-md-3"><textarea   spellcheck="false"  class="form-control" [(ngModel)]="fund.performanceRisks"></textarea></td>
                    </tr>
                </table>
            </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-1 pull-right">
                        <button class="btn btn-success" (click)="save()">SAVE</button>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <hr style="border-top: 1px solid #B5AEAE"/>
                </div>
            </div>
        </div>

        <div id="idd" class="tab-pane fade">
            Investment Due Diligence
        </div>
        <div id="odd" class="tab-pane fade">
            Operational Due Diligence
        </div>
        <div id="quant_dd" class="tab-pane fade">
            Quantitative Due Diligence
        </div>
    </div>
</div>