<div class="container">
    <div class="row top-buffer" >
        <div class="col-md-12">
            <ol class="breadcrumb">
                <li><a [routerLink]="['/pe/firmSearch']">Firm Search</a></li>
                <li><a [routerLink]="['/pe/firmProfile',fund?.firm?.id]">Firm profile</a></li>
                <li class="active">Fund profile</li>
            </ol>
        </div>
    </div>
    <div class="row top-buffer" >
        <div class="col-md-12">
            <div class="alert alert-info" *ngIf="successMessage != null"><span>{{successMessage}}</span>
            </div>
        </div>
    </div>
    <div class="row top-buffer" >
        <div class="col-md-12">
            <div class="alert alert-danger" *ngIf="errorMessage != null"><span>{{errorMessage}}</span>
            </div>
        </div>
    </div>

    <ul class="nav nav-tabs" id="tabs">
        <li class="active">
            <a data-toggle="tab" href="#overview">OVERVIEW</a>
        </li>
        <li>
            <a data-toggle="tab" href="#performance">PERFORMANCE</a>
        </li>
        <li>
            <a data-toggle="tab" href="#grossCashflow">GROSS CASHFLOW</a>
        </li>
        <li>
            <a data-toggle="tab" href="#netCashflow">NET CASHFLOW</a>
        </li>
    </ul>
    <div class="tab-content">
        <div id="overview" class="tab-pane fade in active">
            <div style="position: relative;">
                <div [ngBusy]="busy">
                    <br/>

                    <div class="row withpadding">
                        <h4>Manager Details</h4>
                        <table class=" col-md-4 table-striped table-condensed">
                            <tr>
                                <td class="col-md-1"><b>GP Name</b></td>
                                <td class="col-md-3">
                                    <a [routerLink]="['/pe/firmProfile/', fund?.firm?.id]">{{fund?.firm?.firmName}}</a></td>
                            </tr>
                            <tr>
                                <td class="col-md-1"><b>AUM (mln)</b></td>
                                <td class="col-md-3">{{fund?.firm?.aum}}</td>
                            </tr>
                            <tr>
                                <td class="col-md-1"><b>Inception</b></td>
                                <td class="col-md-3">{{fund?.firm?.foundedYear}}
                                </td>
                            </tr>
                        </table>
                        <table class=" col-md-4 table-striped table-condensed">
                            <tr>
                                <td class="col-md-3"><b>Inv team (ops team)</b></td>
                                <td class="col-md-3">{{fund?.firm?.invTeamSize}}({{fund?.firm?.opsTeamSize}})</td>
                            </tr>
                            <tr>
                                <td class="col-md-1"><b>Strategy focus</b></td>
                                <td class="col-md-3">{{firmStrategyList.toString()}}</td>
                            </tr>
                        </table>
                        <table class=" col-md-4 table-striped table-condensed">
                            <tr>
                                <td class="col-md-1"><b>Industry focus</b></td>
                                <td class="col-md-3">{{firmIndustryList.toString()}}</td>
                            </tr>
                            <tr>
                                <td class="col-md-1"><b>Geography focus</b></td>
                                <td class="col-md-3">{{firmGeographyList.toString()}}</td>
                            </tr>
                        </table>
                    </div>
                    <hr>
                    <form (ngSubmit)="save()" #fundForm="ngForm" class="well span">
                        <div class="row">
                            <div class="col-md-1">
                                <label><b>Fund name</b></label>
                            </div>
                            <div class="col-md-4">
                                <input type="text" class="form-control" placeholder="Enter fund name..."
                                       name="fundName" [(ngModel)]="fund.fundName"/>
                            </div>
                            <div class="col-md-1">
                                <label><b>Status</b></label>
                            </div>
                            <div class="col-md-3">
                                <select id="fundStatus" class="form-control" name="status" [(ngModel)]="fund.status" (ngModelChange)="toggle()">
                                    <option value="Closed" selected>Closed</option>
                                    <option value="Open">Open</option>
                                    <option value="Opening soon">Opening soon</option>
                                </select>
                            </div>
                        </div>
                        <div [hidden]="!openingSoon">
                            <div class="row">
                                <div class="col-md-1">
                                    <label><b>Opening Schedule</b></label>
                                </div>
                                <div class="col-md-3">
                                    <select id="openingSchedule" class="form-control" name="openingSchedule" [(ngModel)]="fund.openingSchedule">
                                        <option *ngFor="let item of openingScheduleList" [value]="item.code">{{item.nameEn}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div [hidden]="!visible">
                            <div class="row withpadding">
                                <h4>Fund Details</h4>
                                <table class=" col-md-4 table-striped table-condensed">
                                    <tr>
                                        <td class="col-md-1">Fund size</td>
                                        <td class="col-md-3"><input style="width: 100%" type="text" name="fundSize" [(ngModel)]="fund.fundSize" pattern="[+]?[0-9]*\.?[0-9]+" #fundSize2="ngModel"/>
                                            <div [hidden]="fundSize2.valid || fundSize2.pristine" class="alert alert-danger">
                                                Only positive number could be entered
                                            </div>
                                            <select id="currency" class="form-control" name="currency" [(ngModel)] = "fund.currency">
                                                <option *ngFor="let item of currencyList" name="code" [value]="item.code">{{item.nameEn}}</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="col-md-1">Predecessor fund invested, %</td>
                                        <td class="col-md-3"><input style="width: 100%" type="text" name="predecessorInvestedPct" [(ngModel)]="fund.predecessorInvestedPct"
                                                                    pattern="[+]?[0-9]*\.?[0-9]+" #predecessorInvestedPct="ngModel"/>
                                            <div [hidden]="predecessorInvestedPct.valid || predecessorInvestedPct.pristine" class="alert alert-danger">
                                                Only positive number could be entered
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="col-md-1">Target size / Hard cap</td>
                                        <td class="col-md-3">
                                            <input style="width: 30%" type="text" name="targetSize" [(ngModel)]="fund.targetSize" pattern="[+]?[0-9]*\.?[0-9]+" #targetSize="ngModel"/><input style="width: 70%" type="text" name="targetHardCapComment" [(ngModel)]="fund.targetHardCapComment" placeholder="Comment"/>
                                            <div [hidden]="targetSize.valid || targetSize.pristine" class="alert alert-danger">
                                                Only positive number could be entered
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="col-md-1">GP commitment</td>
                                        <td class="col-md-3"><input style="width: 100%" type="text" name="gpCommitment" [(ngModel)]="fund.gpCommitment" pattern="[+]?[0-9]*\.?[0-9]+" #gpCommitment="ngModel"/>
                                            <div [hidden]="gpCommitment.valid || gpCommitment.pristine" class="alert alert-danger">
                                                Only positive number could be entered
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="col-md-1">Management fee</td>
                                        <td class="col-md-3"><input style="width: 100%" type="text" name="managementFee" [(ngModel)]="fund.managementFee" pattern="[+]?[0-9]*\.?[0-9]+" #managementFee="ngModel"/>
                                            <div [hidden]="managementFee.valid || managementFee.pristine" class="alert alert-danger">
                                                Only positive number could be entered
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="col-md-1">Management fee comment</td>
                                        <td class="col-md-3"><input style="width: 100%" type="text" name="managementFeeComment" [(ngModel)]="fund.managementFeeComment"/></td>
                                    </tr>
                                </table>
                                <table class=" col-md-4 table-striped table-condensed">
                                    <tr>
                                        <td class="col-md-1">Carried interest</td>
                                        <td class="col-md-3"><input style="width: 100%" type="text" name="carriedInterest" [(ngModel)]="fund.carriedInterest" pattern="[+]?[0-9]*\.?[0-9]+" #carriedInterest="ngModel"/>
                                            <div [hidden]="carriedInterest.valid || carriedInterest.pristine" class="alert alert-danger">
                                                Only positive number could be entered
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="col-md-1">Hurdle rate</td>
                                        <td class="col-md-3"><input style="width: 100%" type="text" name="hurdleRate" [(ngModel)]="fund.hurdleRate" pattern="[+]?[0-9]*\.?[0-9]+" #hurdleRate="ngModel"/>
                                            <div [hidden]="hurdleRate.valid || hurdleRate.pristine" class="alert alert-danger">
                                                Only positive number could be entered
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="col-md-1">Industry</td>
                                        <td class="col-md-3" *ngIf="industryList?.length > 0">
                                            <ng-select #industrySelect [initData]="fund.industry"
                                                       [multiple]="true"
                                                       [items]="industryList"
                                                       (data)="refreshIndustry($event)"
                                                       (selected)="selected($event)"
                                                       (removed)="removed($event)"
                                                       placeholder="No industry selected"></ng-select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="col-md-1">Strategy</td>
                                        <td class="col-md-3" *ngIf="strategyList?.length > 0">
                                            <ng-select #strategySelect [initData]="fund.strategy"
                                                       [multiple]="true"
                                                       [items]="strategyList"
                                                       (data)="refreshStrategy($event)"
                                                       (selected)="selected($event)"
                                                       (removed)="removed($event)"
                                                       placeholder="No strategy selected"></ng-select>
                                    </tr>
                                    <tr>
                                        <td class="col-md-1">Geography</td>
                                        <td class="col-md-3" *ngIf="geographyList?.length > 0">
                                            <ng-select #geographySelect [initData]="fund.geography"
                                                       [multiple]="true"
                                                       [items]="geographyList"
                                                       (data)="refreshGeography($event)"
                                                       (selected)="selected($event)"
                                                       (removed)="removed($event)"
                                                       placeholder="No geography selected"></ng-select>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>

                        <form [hidden]="visible">
                            <div class="row">
                                <div class="col-md-1">
                                    <label><b>Vintage</b></label>
                                </div>
                                <div class="col-md-4">
                                    <input type="text" class="form-control" placeholder="Enter vintage"
                                           name="vintage" [(ngModel)]="fund.vintage" pattern="[1-2][0-9][0-9][0-9]" #vintage="ngModel"/>
                                    <div [hidden]="vintage.valid || vintage.pristine" class="alert alert-danger">
                                        Please enter a valid year
                                    </div>
                                </div>
                            </div>

                            <div class="row top-buffer">
                                <div class="col-md-1">
                                    <label><b>Fund size</b></label>
                                </div>
                                <div class="col-md-4">
                                    <input type="text" class="form-control" placeholder="Enter fund size"
                                           name="fundSize" [(ngModel)]="fund.fundSize" pattern="[+]?[0-9]*\.?[0-9]+" #fundSize="ngModel"/>
                                    <div [hidden]="fundSize.valid || fundSize.pristine" class="alert alert-danger">
                                        Only positive number could be entered
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-md-2">
                                    <label><b>Upload Gross Cash Flows</b></label>
                                </div>
                                <div class="col-md-1">
                                    <a class="btn btn-info btn-sm" data-toggle="modal"
                                       data-target="#grossCfInputModal">
                                        <span class="glyphicon glyphicon-circle-arrow-up"></span>
                                    </a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                    <label><b>Upload Net Cash Flows</b></label>
                                </div>
                                <div class="col-md-1">
                                    <a class="btn btn-info btn-sm" data-toggle="modal"
                                       data-target="#netCfInputModal">
                                        <span class="glyphicon glyphicon-circle-arrow-up"></span>
                                    </a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="modal fade" id="grossCfInputModal" role="dialog">
                                    <div class="modal-dialog" style="overflow-y: scroll; max-height:85%; margin-top: 50px; margin-bottom: 50px;">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            </div>
                                            <div class="modal-body">
                                                <textarea fz-elastic class="form-control" name="uploadedGrossCf" [(ngModel)]="uploadedGrossCf"></textarea>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cancel</button>
                                                <button type="button" class="btn btn-default pull-left" (click)="grossCfParse()" data-dismiss="modal" >Add</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="modal fade" id="netCfInputModal" role="dialog">
                                    <div class="modal-dialog" style="overflow-y: scroll; max-height:85%; margin-top: 50px; margin-bottom: 50px;">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            </div>
                                            <div class="modal-body">
                                                <textarea fz-elastic class="form-control" name="uploadedNetCf" [(ngModel)]="uploadedNetCf"></textarea>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cancel</button>
                                                <button type="button" class="btn btn-default pull-left" (click)="netCfParse()" data-dismiss="modal" >Add</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <hr>
                            <div class="row withpadding">
                                <h4>Key fund statistics</h4>
                                <table class=" col-md-4 table-striped table-condensed">
                                    <tr>
                                        <td class="col-md-3"><b>Number of investments</b></td>
                                        <td class="col-md-2">{{fund.numberOfInvestments}}</td>
                                    </tr>
                                    <tr>
                                        <td class="col-md-3"><b>Invested amount</b></td>
                                        <td class="col-md-2">{{fund.investedAmount}}</td>
                                    </tr>

                                    <tr>
                                        <td class="col-md-3"><b>Realized amount</b></td>
                                        <td class="col-md-2">{{fund.realized}}</td>
                                    </tr>
                                </table>
                                <table class=" col-md-4 table-striped table-condensed">
                                    <tr>
                                        <td class="col-md-3"><b>Unrealized amount</b></td>
                                        <td class="col-md-2">{{fund.unrealized}}</td>
                                    </tr>
                                    <tr>
                                        <td class="col-md-3"><b>DPI</b></td>
                                        <td class="col-md-2">{{fund.dpi}}</td>
                                    </tr>
                                    <tr>
                                        <td class="col-md-3"><b>Gross TVPI</b></td>
                                        <td class="col-md-2">{{fund.grossTvpi}}</td>
                                    </tr>
                                </table>
                                <table class=" col-md-4 table-striped table-condensed">
                                    <tr>
                                        <td class="col-md-3"><b>Gross IRR</b></td>
                                        <td class="col-md-2">{{fund.grossIrr}}</td>
                                    </tr>
                                    <tr>
                                        <td class="col-md-3"><b>Net TVPI</b></td>
                                        <td class="col-md-2">{{fund.netTvpi}}</td>
                                    </tr>
                                    <tr>
                                        <td class="col-md-3"><b>Net IRR</b></td>
                                        <td class="col-md-2">{{fund.netIrr}}</td>
                                    </tr>
                                </table>
                            </div>
                        </form>
                        <div [hidden]="!visible">
                            <div class="row withpadding">
                                <h4>Fund strategy</h4>
                                <table class=" col-md-4 table-striped table-condensed">
                                    <tr>
                                        <td class="col-md-1">Fund strategy comment</td>
                                        <td class="col-md-3"><textarea fz-elastic spellcheck="false"  class="form-control" name="strategyComment" [(ngModel)]="fund.strategyComment"></textarea></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div [hidden]="!visible">
                            <div class="row withpadding">
                                <h4>Descriptive data</h4>
                                <table class=" col-md-4 table-striped table-condensed">
                                    <tr>
                                        <td class="col-md-1">Investment period</td>
                                        <td class="col-md-3"><input style="width: 100%" type="text" name="investmentPeriod" [(ngModel)]="fund.investmentPeriod"
                                                                    pattern="[+]?[0-9]*\.?[0-9]+" #investmentPeriod="ngModel"/>
                                            <div [hidden]="investmentPeriod.valid || investmentPeriod.pristine" class="alert alert-danger">
                                                Only positive number could be entered
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="col-md-1">Fund term</td>
                                        <td class="col-md-3">
                                            <input style="width: 30%" type="text" name="fundTerm" [(ngModel)]="fund.fundTerm" pattern="[+]?[0-9]*\.?[0-9]+" #fundTerm="ngModel"/><input style="width: 70%" type="text" name="fundTermComment" [(ngModel)]="fund.fundTermComment" placeholder="Comment"/>
                                            <div [hidden]="fundTerm.valid || fundTerm.pristine" class="alert alert-danger">
                                                Only positive number could be entered
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="col-md-1">Target inv. size range</td>
                                        <td class="col-md-3"><input style="width: 100%" type="text" name="targetInvSizeRange" [(ngModel)]="fund.targetInvSizeRange" pattern="[+]?[0-9]*\.?[0-9]+" #targetInvSizeRange="ngModel"/>
                                            <div [hidden]="targetInvSizeRange.valid || targetInvSizeRange.pristine" class="alert alert-danger">
                                                Only positive number could be entered
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                                <table class=" col-md-4 table-striped table-condensed">
                                    <tr>
                                        <td class="col-md-1">Target EV range</td>
                                        <td class="col-md-3"><input style="width: 100%" type="text" name="targetEvRange" [(ngModel)]="fund.targetEvRange" pattern="[+]?[0-9]*\.?[0-9]+" #targetEvRange="ngModel"/>
                                            <div [hidden]="targetEvRange.valid || targetEvRange.pristine" class="alert alert-danger">
                                                Only positive number could be entered
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="col-md-1">Target number of inv.</td>
                                        <td class="col-md-3">
                                            <input style="width: 30%" type="text" name="targetNumberOfInv1" [(ngModel)]="fund.targetNumberOfInv1" pattern="[+]?[0-9]*\.?[0-9]+" #targetNumberOfInv1="ngModel"/><input style="width: 70%" type="text" name="targetNumberOfInv2" [(ngModel)]="fund.targetNumberOfInv2" pattern="[+]?[0-9]*\.?[0-9]+" #targetNumberOfInv2="ngModel"/>
                                            <div [hidden]="targetNumberOfInv1.valid || targetNumberOfInv1.pristine" class="alert alert-danger">
                                                Only positive number could be entered
                                            </div>
                                            <div [hidden]="targetNumberOfInv2.valid || targetNumberOfInv2.pristine" class="alert alert-danger">
                                                Only positive number could be entered
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="col-md-1">Expected annual number of inv.</td>
                                        <td class="col-md-3">
                                            <input style="width: 30%" type="text" name="expAnnualNumberOfInv1" [(ngModel)]="fund.expAnnualNumberOfInv1" pattern="[+]?[0-9]*\.?[0-9]+" #expAnnualNumberOfInv1="ngModel"/><input style="width: 70%" type="text" name="expAnnualNumberOfInv2" [(ngModel)]="fund.expAnnualNumberOfInv2" pattern="[+]?[0-9]*\.?[0-9]+" #expAnnualNumberOfInv2="ngModel"/>
                                            <div [hidden]="expAnnualNumberOfInv1.valid || expAnnualNumberOfInv1.pristine" class="alert alert-danger">
                                                Only positive number could be entered
                                            </div>
                                            <div [hidden]="expAnnualNumberOfInv2.valid || expAnnualNumberOfInv2.pristine" class="alert alert-danger">
                                                Only positive number could be entered
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </div>

                            <div class="row withpadding">
                                <h4>Targeted closing information</h4>
                                <!--<div class="col-md-3">-->
                                <!--<div class='input-group date col-md-2' id='firstClose' style="width: 100%">-->
                                <!--<input type='text' class="form-control" id="firstCloseVal" [(ngModel)]="fund.firstClose"/>-->
                                <!--<span class="input-group-addon">-->
                                <!--<span class="glyphicon glyphicon-calendar">Start date</span>-->
                                <!--</span>-->
                                <!--</div>-->
                                <!--</div>-->
                                <!--<div class="col-md-3">-->
                                <!--<div class='input-group date col-md-2' id='finalClose' style="width: 100%">-->
                                <!--<input type='text' class="form-control" id="finalCloseVal" [(ngModel)]="fund.finalClose"/>-->
                                <!--<span class="input-group-addon">-->
                                <!--<span class="glyphicon glyphicon-calendar">End date</span>-->
                                <!--</span>-->
                                <!--</div>-->
                                <!--</div>-->
                                <table class="col-md-4 table-striped table-condensed">
                                    <tr>
                                        <td class="col-md-1">First close</td>
                                        <td class="col-md-3"><input type='text' class="form-control" id="firstClose" name="firstClose" [(ngModel)]="fund.firstClose"/></td>
                                    </tr>
                                </table>
                                <table class="col-md-4 table-striped table-condensed">
                                    <tr>
                                        <td class="col-md-1">Final close</td>
                                        <td class="col-md-3"><input type='text' class="form-control" id="finalClose" name="finalClose" [(ngModel)]="fund.finalClose"/></td>
                                    </tr>
                                </table>
                            </div>
                            <div class="row withpadding">
                                <h4>Observations</h4>
                                <h5>General Partner</h5>
                                <table class=" col-md-4 table-striped table-condensed">
                                    <th>Merits</th>
                                    <tr>
                                        <td class="col-md-3"><textarea fz-elastic spellcheck="false"  class="form-control" name="generalPartnerMerits" [(ngModel)]="fund.generalPartnerMerits"></textarea></td>
                                    </tr>
                                </table>
                                <table class=" col-md-4 table-striped table-condensed">
                                    <th>Risks</th>
                                    <tr>
                                        <td class="col-md-3"><textarea  fz-elastic spellcheck="false"  class="form-control" name="generalPartnerRisks" [(ngModel)]="fund.generalPartnerRisks"></textarea></td>
                                    </tr>
                                </table>
                            </div>
                            <div class="row withpadding">
                                <h5>Strategy/Structure</h5>
                                <table class=" col-md-4 table-striped table-condensed">
                                    <th>Merits</th>
                                    <tr>
                                        <td class="col-md-3"><textarea fz-elastic  spellcheck="false"  class="form-control" name="strategyStructureMerits" [(ngModel)]="fund.strategyStructureMerits"></textarea></td>
                                    </tr>
                                </table>
                                <table class=" col-md-4 table-striped table-condensed">
                                    <th>Risks</th>
                                    <tr>
                                        <td class="col-md-3"><textarea fz-elastic  spellcheck="false"  class="form-control" name="strategyStructureRisks" [(ngModel)]="fund.strategyStructureRisks"></textarea></td>
                                    </tr>
                                </table>
                            </div>
                            <div class="row withpadding">
                                <h5>Performance</h5>
                                <table class=" col-md-4 table-striped table-condensed">
                                    <th>Merits</th>
                                    <tr>
                                        <td class="col-md-3"><textarea fz-elastic  spellcheck="false"  class="form-control" name="performanceMerits" [(ngModel)]="fund.performanceMerits"></textarea></td>
                                    </tr>
                                </table>
                                <table class=" col-md-4 table-striped table-condensed">
                                    <th>Risks</th>
                                    <tr>
                                        <td class="col-md-3"><textarea fz-elastic  spellcheck="false"  class="form-control" name="performanceRisks" [(ngModel)]="fund.performanceRisks"></textarea></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-1 pull-right">
                                    <button type="submit" class="btn btn-success" [disabled]="!fundForm.form.valid" *ngIf="canEdit()">SAVE</button>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="row">
                        <div class="col-md-12">
                            <hr style="border-top: 1px solid #B5AEAE"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="performance" class="tab-pane fade">
            <br>
            <br>
            <div class="row">
                <div style="text-align: center">
                    <h4>{{fund.fundName}} Historical Investment Performance</h4>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-hover table-responsive" style="font-size: smaller">
                        <tr>
                            <th>Company</th>
                            <th>Cash invested</th>
                            <th>Realized Proceeds</th>
                            <th>Unrealized Value</th>
                            <th>Total Value</th>
                            <th>Multiple</th>
                            <th>Gross IRR</th>
                        </tr>
                        <tr *ngFor="let performance of fund.fundCompanyPerformance">
                            <td>{{performance.companyName}}</td>
                            <td><span *ngIf="performance.invested != 0">{{performance.invested}}</span><span *ngIf="performance.invested == 0">-</span></td>
                            <td><span *ngIf="performance.realized != 0">{{performance.realized}}</span><span *ngIf="performance.realized == 0">-</span></td>
                            <td><span *ngIf="performance.unrealized != 0">{{performance.unrealized}}</span><span *ngIf="performance.unrealized == 0">-</span></td>
                            <td><span *ngIf="performance.totalValue != 0">{{performance.totalValue}}</span><span *ngIf="performance.totalValue == 0">-</span></td>
                            <td><span *ngIf="performance.multiple != 0">{{performance.multiple}}x</span><span *ngIf="performance.multiple == 0">-</span></td>
                            <td>{{performance.grossIrr}}</td>
                        </tr>
                        <!--<tr>-->
                        <!--<td>ACR Logistics</td>-->
                        <!--<td>46 500 000</td>-->
                        <!--<td>540 523 074</td>-->
                        <!--<td>-</td>-->
                        <!--<td>540 523 074</td>-->
                        <!--<td>11.6x</td>-->
                        <!--<td>284.1%</td>-->
                        <!--<td>-</td>-->
                        <!--</tr>-->
                    </table>
                </div>
            </div>
        </div>
        <div id="grossCashflow" class="tab-pane fade">
            <br>
            <br>
            <div class="row">
                <div style="text-align: center">
                    <h4>{{fund.fundName}} Gross Cashflow</h4>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-hover table-responsive" style="font-size: smaller">
                        <tr>
                            <th>Company name</th>
                            <th>Date of transaction</th>
                            <th>Amount invested</th>
                            <th>Amount realized</th>
                            <th>Unrealized Value</th>
                            <th>Gross Cash Flow</th>
                        </tr>
                        <tr *ngFor="let cf of fund.grossCashflow">
                            <td><input style="width: 100%" type="text" [(ngModel)]="cf.companyName" /></td>
                            <td><input style="width: 100%" type="text" [(ngModel)]="cf.date"/></td>
                            <td><input style="width: 100%" type="text" [(ngModel)]="cf.invested"/></td>
                            <td><input style="width: 100%" type="text" [(ngModel)]="cf.realized"/></td>
                            <td><input style="width: 100%" type="text" [(ngModel)]="cf.unrealized"/></td>
                            <td><input style="width: 100%" type="text" [(ngModel)]="cf.grossCF"/></td>
                        </tr>
                        <button type="button" class="btn-xs btn-primary" style="display: inline-block" (click)="addRow()"><span class="glyphicon glyphicon-plus"></span></button>
                    </table>
                </div>
            </div>
        </div>
        <div id="netCashflow" class="tab-pane fade">
            <br>
            <div class="row">
                <div style="text-align: center">
                    <h4>{{fund.fundName}} Net Cashflow</h4>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-hover table-responsive" style="font-size: smaller">
                        <tr>
                            <th>Fund name</th>
                            <th style="width: 6%">Currency</th>
                            <th>Date of transaction</th>
                            <th>Drawn</th>
                            <th>Distributed</th>
                            <th>NAV</th>
                            <th>Net Cashflow</th>
                            <th>Type of Fund transaction</th>
                        </tr>
                        <tr *ngFor="let cf of fund.netCashflow">
                            <td><input style="width: 100%" type="text" [(ngModel)]="cf.fundName" /></td>
                            <td><input style="width: 100%" type="text" [(ngModel)]="cf.currency"/></td>
                            <td><input style="width: 100%" type="text" [(ngModel)]="cf.transactionDate"/></td>
                            <td><input style="width: 100%" type="text" [(ngModel)]="cf.drawn"/></td>
                            <td><input style="width: 100%" type="text" [(ngModel)]="cf.distributed"/></td>
                            <td><input style="width: 100%" type="text" [(ngModel)]="cf.nav"/></td>
                            <td><input style="width: 100%" type="text" [(ngModel)]="cf.netCF"/></td>
                            <td><input style="width: 100%" type="text" [(ngModel)]="cf.typeOfFundTransaction"/></td>
                        </tr>
                        <button type="button" class="btn-xs btn-primary" style="display: inline-block" (click)="addRowNetCf()"><span class="glyphicon glyphicon-plus"></span></button>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>