<div class="container">
    <div class="row top-buffer" >
        <div class="col-md-12">
            <ol class="breadcrumb">
                <li *ngIf="this.breadcrumbParams != null">
                    <span><a [routerLink]="['/hr/employees', {params: this.breadcrumbParams }]">EMPLOYEES</a></span>
                </li>
                <li class="active">PROFILE</li>
            </ol>
        </div>
    </div>
    <br/>
    <ul role="tablist" class="date-tabs nav">
        <li class="date-tabs__item"><a data-toggle="tab"
                                       href="#PROFILE"
                                       role="tab" aria-controls="PROFILE"
                                       aria-selected="true"
                                       class="date-tabs__link"
                                       [style.border-bottom-color]="activeTab === 'PROFILE' ? '#D9A158' : 'white'"
                                       (click)="activeTab='PROFILE'">PROFILE</a>
        </li>
        <li class="date-tabs__item" *ngIf="userOwned()">
            <a data-toggle="tab"
               href="#PASSWORD"
               role="tab" aria-controls="PASSWORD"
               aria-selected="false"
               class="date-tabs__link"
               [style.border-bottom-color]="activeTab === 'PASSWORD' ? '#D9A158' : 'white'"
               (click)="activeTab = 'PASSWORD'">PASSWORD</a>
        </li>
        <li class="date-tabs__item" *ngIf="userOwned()">
            <a data-toggle="tab"
               href="#MFA"
               role="tab" aria-controls="MFA"
               aria-selected="false"
               class="date-tabs__link"
               [style.border-bottom-color]="activeTab === 'MFA' ? '#D9A158' : 'white'"
               (click)="activeTab = 'MFA'; resetMfaFields(); resetMessages()">MFA</a>
        </li>
    </ul>


    <!--<ul class="nav nav-tabs">-->
        <!--<li class="active">-->
            <!--<a data-toggle="tab" href="#profile">PROFILE</a>-->
        <!--</li>-->
        <!--<li>-->
            <!--<a data-toggle="tab" href="#password">PASSWORD</a>-->
        <!--</li>-->
    <!--</ul>-->


    <div [ngBusy]="busy" class="tab-content">
        <div id="PROFILE" role="tabpanel" aria-labelledby="PROFILE" class="tab-pane active" *ngIf="employee != null">
            <div class="row">
                <button *ngIf="canEditEmployeeProfile()" class="btn btn-primary pull-right" (click)="editEmployeeProfile()">Edit</button>
            </div>
            <br/>
            <h4>Profile Information</h4>

            <div class="col-md-3 col-lg-3 " align="center">
                <img alt="User Pic" src="../../../../public/img/noprofile.png" class="img-circle img-responsive">
            </div>

            <div class=" col-md-9 col-lg-9 ">
                <div class="row form-group">
                    <label class="control-label col-sm-2">Last name:</label>
                    <div class="col-sm-10">
                        <span class="form-control-static">{{employee.lastName}}</span>
                    </div>
                </div>
                <div class="row form-group">
                    <label class="control-label col-sm-2">First name:</label>
                    <div class="col-sm-10">
                        <span class="form-control-static">{{employee.firstName}}</span>
                    </div>
                </div>
                <div class="row form-group">
                    <label class="control-label col-sm-2">Patronymic:</label>
                    <div class="col-sm-10">
                        <span class="form-control-static">{{employee.patronymic}}</span>
                    </div>
                </div>
                <div class="row form-group">
                    <label class="control-label col-sm-2">Date of birth:</label>
                    <div class="col-sm-10">
                        <span class="form-control-static">{{getDateMonthTextDay(employee.birthDate)}}</span>
                    </div>
                </div>
                <div class="row form-group">
                    <label class="control-label col-sm-2">Position:</label>
                    <div class="col-sm-10">
                        <span class="form-control-static">{{getFullPositionNameEn()}}</span>
                    </div>
                </div>
                <div class="row form-group">
                    <label class="control-label col-sm-2">Username:</label>
                    <div class="col-sm-10">
                        <span class="form-control-static">{{employee.username}}</span>
                    </div>
                </div>
                <div class="row form-group">
                    <label class="control-label col-sm-2">System Status:</label>
                    <div class="col-sm-10">
                        <button *ngIf="employee.active == null || employee.active" disabled="true" class="btn btn-xs btn-success">ACTIVE</button>
                        <button *ngIf="employee.active != null && !employee.active" disabled="true" class="btn btn-xs btn-default">IN-ACTIVE</button>
                    </div>
                </div>
            </div>

            <br/>
        </div>
        <div id="PASSWORD" role="tabpanel" aria-labelledby="PASSWORD" class="tab-pane">
            <div class="container">
                <div class="row" style="position: relative; min-height: 350px;">
                    <div class="Absolute-Center is-Responsive">
                        <!--<div *ngIf="errorMessage != null">-->
                        <!--<span style="color:red">{{errorMessage}}</span>-->
                        <!--</div>-->
                        <div class="form-group input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                            <input class="form-control" type="password" name="currentPassword" placeholder="current password"
                                   [(ngModel)]="currentPassword"/>
                        </div>
                        <div class="form-group input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                            <input class="form-control" type="password" name="newPassword" placeholder="new password"
                                   [(ngModel)]="newPassword"/>
                        </div>
                        <div class="form-group input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                            <input class="form-control" type="password" name="newPasswordConfirm" placeholder="new password again"
                                   [(ngModel)]="newPasswordConfirm"/>
                        </div>
                        <div><button type="button" class="btn btn-def btn-block" (click)="changePassword()"
                                     data-toggle="modal" data-target="#passwordChangeModal">Change</button></div>

                        <br/>
                        <!--<div class="copyrightText">&copy; 2016 NIC</div>-->
                    </div>
                </div>

                <div class="modal fade" id="passwordChangeModal" role="dialog">
                    <div class="modal-dialog" style="margin-top: 50px; margin-bottom:50px;">
                        <div class="modal-content">
                            <!--<div class="modal-header">-->
                            <!--<button type="button" class="close" data-dismiss="modal">&times;</button>-->
                            <!--<h3 class="modal-title" >{{selectedNews.header}}</h3>-->
                            <!--<h4>-->
                            <!--<small>{{selectedNews.source}}</small>-->
                            <!--</h4>-->
                            <!--</div>-->
                            <div class="modal-body">
                                <div class="col-md-12">
                                    <div class="alert alert-danger" *ngIf="errorMessage != null"><span>{{errorMessage}}</span>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="alert alert-info" *ngIf="successMessage != null"><span>{{successMessage}}</span>
                                    </div>
                                </div>
                                <!--<p>Password successfully changed. Please login with your new password</p>-->
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary" *ngIf="errorMessage == null" data-dismiss="modal"
                                        (click)="finishChangePassword()">OK</button>

                                <button type="button" class="btn btn-primary" *ngIf="errorMessage != null" data-dismiss="modal">CLOSE</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="MFA" role="tabpanel" aria-labelledby="MFA" class="tab-pane">
            <div class="container">
                <div class="col-md-12">
                    <div class="alert alert-danger" *ngIf="errorMessage != null"><span>{{errorMessage}}</span>
                    </div>
                    <div class="alert alert-info" *ngIf="successMessage != null"><span>{{successMessage}}</span>
                    </div>
                </div>
                Multi-factor authentication adds an extra layer of protection to your account.
                Whenever you sign in to the UNIC, you'll need to enter both your password and also a security code generated by an authentication app on your mobile phone.
                Learn more about this technology <a href="https://en.wikipedia.org/wiki/Multi-factor_authentication" target="_blank">here</a>.
                <br/>
                <br/>
                <button type="button" class="btn btn-default" *ngIf="secret == ''" (click)="getSecret()">{{employee != null && employee.mfaEnabled == true ? 'Reset MFA' : 'Get started'}}</button>
                <div *ngIf="secret != ''">
                    To set up MFA:
                    <ul>
                        <li>install <b>Google Authenticator</b> application from the <a href="https://apps.apple.com/us/app/google-authenticator/id388497605" target="_blank">App Store</a> or
                            <a href="https://play.google.com/store/apps/details?id=com.google.android.apps.authenticator2&hl=en" target="_blank">Play Store</a>;
                        </li>
                        <li>in the App select <b>Set up account</b>;</li>
                        <li>choose <b>Scan a barcode</b>.</li>
                    </ul>
                    <img src="{{secretGoogleChart}}">
                    <br/>
                    If you can't scan the barcode, enter the following key <b>manually in the App</b>:
                    <br/>
                    <b>{{secret}}</b>
                    <br/>
                    <br/>
                    Enter the 6-digit code you see in the app
                    <form (ngSubmit)="registerMfa()">
                        <div class="row">
                            <div class="col-md-2">
                                <input class="form-control" type="text" name="otp" placeholder="6-digit code" [(ngModel)]="otp"/>
                            </div>
                            <div class="col-md-1">
                                <button type="submit" class="btn btn-success btn-block">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>