<div class="container" align="center">
    <div class="row">
        <form (ngSubmit)="reset()">
            <div class="form-group input-group" style="width: 400px">
                <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                <input class="form-control" type="email" name="email" placeholder="Enter your email"
                       [(ngModel)]="emailAddress"/>
            </div>
            <div><button type="submit" class="btn btn-def btn-block" style="width: 400px">Reset password</button></div>
        </form>
    </div>
    <div class="row">
        <h4 *ngIf="isRequested==true">{{successMessageResetPassword}}</h4>
        <h4 *ngIf="isRequested==false">{{errorMessageResetPassword}}</h4>
    </div>
</div>