<div class="container" [ngBusy]="busy">
    <!--<h4><small>login: user pass: Qwerty123</small></h4>-->
    <!--<div class="row">-->
        <!--<div class="col-md-12">-->
            <!--<div class='tableauPlaceholder' style='width: 100%; height: 1936px;'>-->
                <!--<object class='tableauViz' width='100%' height='1936' style='display:none;'>-->
                    <!--<param name='host_url' value='http%3A%2F%2F192.168.111.36%2F' />-->
                    <!--<param name='site_root' value='' />-->
                    <!--<param name='name' value='NIC_PORTFOLIO&#47;NICPortfolio' />-->
                    <!--<param name='tabs' value='no' />-->
                    <!--<param name='toolbar' value='no' />-->
                    <!--<param name='showShareOptions' value='false' />-->
                <!--</object>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->

    <!--<div class="row withpadding">-->
        <!--<h2>Under Construction. New monitoring forms to be updated soon.</h2>-->
    <!--</div>-->

    <div class="row top-buffer" >
        <div class="col-md-12">
            <div class="alert alert-info" *ngIf="successMessage != null"><span>{{successMessage}}</span>
            </div>
        </div>
    </div>
    <div class="row top-buffer" >
        <div class="col-md-12">
            <div class="alert alert-danger" *ngIf="errorMessage != null"><span>{{errorMessage}}</span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <select (ngModelChange)="redraw()" [(ngModel)]="tableDate" id="tableDate" class="form-control" >
                <option *ngFor="let item of getAllDates()" [value]="item">{{item}}</option>
            </select>
        </div>
        <div class="pull-right" *ngIf="canEdit()">
            <form #yourForm="ngForm" (ngSubmit)="onSubmitNicPortfolio()">
                <label class="btn btn-primary">
                    <input type="file" #fileupload id="fileupload" (change)="fileChange(fileupload.files)" style="display: none"/>Update
                </label>
                <button type="submit" class="btn btn-success" *ngIf="this.myFiles.length > 0">Submit</button>
            </form>
            <div *ngFor="let file of this.myFiles" class="label label-info">
                <span>{{file.name}}</span>
            </div>
        </div>
        <!--<div class="pull-right col-md-3" *ngIf="canEdit()">-->
            <!--<h4>Update NIC portfolio data</h4>-->
        <!--</div>-->
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-6">
                <h4>Performance NAV</h4>
                <div id="portfolio_nav_table">
                </div>
            </div>
            <div class="col-md-6">
                <h4>Portfolio Performance</h4>
                <div id="portfolio_performance_table">
                </div>
            </div>
        </div>
    </div>
    <br/>
    <br/>
    <div class="row">
        <div class="col-md-6">
            <div id="target_allocation_chart">
            </div>
        </div>
        <div class="col-md-6">
            <div id="actual_allocation_chart">
            </div>
        </div>
    </div>
</div>